/*! Adapted from the GitHub style by Vasily Polovnyov <vast@whiteants.net> */
.hljs-comment,
.hljs-quote {
  color: var(--syntax-comment);
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: var(--syntax-keyword);
  font-weight: var(--monospace-font-weight-bold);
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: var(--syntax-number);
}

.hljs-attr {
  color: var(--syntax-attr);
}

.hljs-string,
.hljs-doctag {
  color: var(--syntax-string);
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: var(--syntax-title);
  font-weight: var(--monospace-font-weight-bold);
}

.hljs-subst {
  font-weight: normal;
}

.hljs-type,
.hljs-class .hljs-title {
  color: var(--syntax-type);
  font-weight: var(--monospace-font-weight-bold);
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: var(--syntax-tag);
  font-weight: normal;
}

.hljs-regexp,
.hljs-link {
  color: var(--syntax-regexp);
}

.hljs-symbol,
.hljs-bullet {
  color: var(--syntax-symbol);
}

.hljs-built_in,
.hljs-builtin-name {
  color: var(--syntax-builtin);
}

.hljs-meta {
  color: var(--syntax-meta);
  font-weight: var(--monospace-font-weight-bold);
}

.hljs-deletion {
  background: var(--syntax-deletion-bg);
}

.hljs-addition {
  background: var(--syntax-addition-bg);
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: var(--monospace-font-weight-bold);
}

/* Line numbers styles */
.hljs-ln {
  border-collapse: collapse;
  width: 100%;
}


.hljs-ln-n:before {
  content: attr(data-line-number);
}

.hljs-ln-numbers {
  user-select: none;
  text-align: right;
  color: var(--syntax-line-number);
  vertical-align: top;
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.hljs-ln-code {
  padding-left: 1em;
}
