/*! Adapted from the GitHub style by Vasily Polovnyov <vast@whiteants.net> */
.hljs-comment,
.hljs-quote {
  color: #959595;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #A9B7C6;
  font-weight: var(--monospace-font-weight-bold);
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #B5CEA8;
}

.hljs-attr {
  color: #FFF176;
}

.hljs-string,
.hljs-doctag {
  color: #FFFFFF;
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #F78C6C;
  font-weight: var(--monospace-font-weight-bold);
}

.hljs-subst {
  font-weight: normal;
}

.hljs-type,
.hljs-class .hljs-title {
  color: #89DDFF;
  font-weight: var(--monospace-font-weight-bold);
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #7986CB;
  font-weight: normal;
}

.hljs-regexp,
.hljs-link {
  color: #C3E88D;
}

.hljs-symbol,
.hljs-bullet {
  color: #D4D4D4;
}

.hljs-built_in,
.hljs-builtin-name {
  color: #82AAFF;
}

.hljs-meta {
  color: #C792EA;
  font-weight: var(--monospace-font-weight-bold);
}

.hljs-deletion {
  background: #643434;
}

.hljs-addition {
  background: #345F34;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: var(--monospace-font-weight-bold);
}

/* Line numbers styles */
.hljs-ln {
  border-collapse: collapse;
  width: 100%;
}


.hljs-ln-n:before {
  content: attr(data-line-number);
}

.hljs-ln-numbers {
  user-select: none;
  text-align: right;
  color: #bbb;
  vertical-align: top;
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.hljs-ln-code {
  padding-left: 1em;
}
