@import "tailwindcss";
@import "typeface-inter.css";
@import "typeface-ibm-plex-mono.css";
@import "vars.css";
@import "base.css";
@import "body.css";
@import "main.css";
@import "toc.css";
@import "doc.css";
@import "highlight.css";
@import "print.css";
@import "tabs.css";
@import "datatables.css";

@source inline("translate-x-0");
@source inline("h-dvh");
@theme {
  --color-slime-green: #00DB74;
  --color-operational-green: #00A657;
  --color-dark-green: #005600;
  --color-accent-green: #00B25E;

  --color-terminal-black: #161616;
  --color-body-dark: #343434;

  --color-vapor: #D4D4D4;
  --color-fog: #EDEDED;
  --color-inline-grey: #F7F7F7;

  --color-link-on-light: #2152E5;

  --color-disabled-element: #959595;

  --shadow-default: 0 0 6px 4px #1616161F;

  --breakpoint-lg: 75rem;
}

/* Hide component-explorer-nav when search results are shown on desktop/tablet */
header.h-dvh [data-component-explorer-nav] {
  display: none;
}

/* Center search results container on the page */
header [data-search-results-container] {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

/* Hide hamburger menu on landing page */
.landing-page [data-page-navigation-toggle] {
  display: none;
}
