# Each line is a file pattern followed by one or more owners.
# These owners will be the default owners for everything in
# the repo. They will be requested for review when someone opens a pull request.
#
# See GitHub docs for more:
# https://help.github.com/articles/about-codeowners/

*.md @circleci/docs
*.adoc @circleci/docs
*.pdf @circleci/docs

/jekyll/_cci2_ja/ @circleci/translations
/jekyll/_data/ja/ @circleci/translations
/jekyll/_includes/ja/ @circleci/translations
/jekyll/ja/ @circleci/translations
*_ja* @circleci/translations

/src-js/** @circleci/docs-disco
*package*.json @circleci/docs-disco
*.lock @circleci/docs-disco
Gemfile* @circleci/docs-disco
.*rc* @circleci/docs-disco