# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. They will be requested for review when someone opens a pull request.

*.md @circleci/docs
*.adoc @circleci/docs
*.pdf @circleci/docs

src-js/ @circleci/docs-disco
