{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry"
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-nullish-coalescing-operator",
    "@babel/plugin-proposal-optional-chaining",
    "wildcard",
    [
      "prismjs",
      {
        "languages": "all",
        "plugins": [
          "line-numbers",
          "toolbar",
          "copy-to-clipboard"
        ],
        "css": true
      }
    ]
  ]
}
