# Browsers that we support
# based on: frontplane/packages/browserslist-config

defaults
not dead
not op_mini all
not IE 11
last 4 Chrome major versions
last 4 Firefox major versions
last 4 Edge major versions
last 4 Safari major versions
