.DS_Store
.bundle/
.jekyll-metadata
.ruby-version
.sass-cache/
.vagrant/
_site/
jekyll/.jekyll-cache/
jekyll/environments/
jekyll/_includes/app.html
jekyll/assets/js/*.bundle.js
run-results/
node_modules/

src-api/build/