.DS_Store
.bundle/
.metals
.vscode
.idea
.byebug_history
.jekyll-metadata
.jekyll-cache/
.sass-cache/
.vagrant/
_site/
jekyll/.jekyll-cache/
jekyll/environments/
jekyll/_includes/app.html
jekyll/assets/css/*.bundle.css
jekyll/assets/js/*.bundle.js
jekyll/assets/js/*.chunk.js
run-results/
node_modules/
release/


# we need to keep these folders for symlinking
# But don't need the contents as they are moved here built
# time in our pipeline
src-api/docs-platform-api/api/v1/**
src-api/docs-platform-api/api/v2/**

# Vim open files
*.swp

src-api/build/

# jekyll/_algolia_api_key can be used to store an algolia API key for
# indexing the content. Useful for local development.
*_algolia_api_key

# local test
vendor
jekyll/_config_override.yml
markdownlint-results.json
.tool-versions

# former submodule
src-shared/

# output for docs-platform
json/
