---
layout: default
---

<div class="docs">
  <div class="search">
    <div class="container">
      {% include doc-search.html %}
    </div>
  </div> <!-- /.search -->
  <div class="container">
    <h2>Popular Docs</h2>
    <ul class="article-list">
      {% assign pages = site.pages | sort:"popularity" | reverse %}
      {% for page in pages limit:10 %}
        <li>
            <h4>{{ page.title }}</h4>
            <p>{{ page.content | strip_liquid | markdownify | strip_html | truncate:250 }}</p>
            {% for tag in page.tags %}
              <span class="tag">{{ tag }}</span>
            {% endfor %}
            {% unless forloop.last %}
              <hr>
            {% endunless %}
        </li>
        {% endfor %}
  </div> <!-- /.container -->
</div> <!-- /.docs -->
