{
  "openapi": "3.0.3",
  "info": {
    "version": "v2",
    "title": "CircleCI API",
    "description": "This describes the resources that make up the CircleCI API v2.",
    "license": {
      "name": "MIT"
    }
  },
  "servers": [
    {
      "url": "https://circleci.com/api/v2"
    }
  ],
  "security": [
    {
      "api_key_header": []
    },
    {
      "basic_auth": []
    },
    {
      "api_key_query": []
    }
  ],
  "tags": [
    {
      "name": "Context",
      "description": "Endpoints relating to [contexts](https://circleci.com/docs/contexts/). Use contexts to secure and share environment variables."
    },
    {
      "name": "Insights",
      "description": "Endpoints relating to [Insights](https://circleci.com/docs/insights/). Use Insights to monitor credit and compute usage for your projects."
    },
    {
      "name": "User",
      "description": "A set of endpoints you can use to get information about a specific user."
    },
    {
      "name": "Pipeline",
      "description": "Endpoints relating to [pipelines](https://circleci.com/docs/pipelines/). Get information about your pipelines. Trigger or continue a pipeline."
    },
    {
      "name": "Job",
      "description": "Endpoints relating to [jobs](https://circleci.com/docs/jobs-steps/). Get information about your jobs, retrieve job assets, cancel a job."
    },
    {
      "name": "Workflow",
      "description": "Endpoints relating to [workflows](https://circleci.com/docs/workflows/). Get information about your workflows, or interact with them to rerun, cancel or approve a job."
    },
    {
      "name": "Webhook",
      "description": "Endpoints relating to [outbound webhooks](https://circleci.com/docs/webhooks/#outbound-webhooks). Use outbound webhooks to integrate your CircleCI builds with external services."
    },
    {
      "description": "Endpoints related to manage oidc identity tokens",
      "name": "OIDC Token Management"
    },
    {
      "description": "Endpoints related to managing policies and making policy decisions",
      "name": "Policy Management"
    },
    {
      "name": "Project",
      "description": "[__EXPERIMENTAL__] Endpoints related to creating and managing a project."
    },
    {
      "name": "Usage",
      "description": "Endpoints related to organization usage exports.\n\nThe Usage API is an API provided by CircleCI to customers to access all of their usage data on CircleCI. It contains all the metadata (org, project, pipeline, workflow, and job dimensions) as well as credit consumption data. It is provided at the near lowest level of granularity (at the job run level).\n\n__Restrictions__\n\n* Max result set size of 100MB\n* Query timeout of 4 hours.\n* Max date window of 32 days\n* 13 months of historical data is available\n* No PII is surfaced in the Usage API (e.g. email address, Github login name)\n* The POST endpoint can only be queried up to (i.e. is rate limited to) 10 times per hour per org\n* The GET endpoint can only be queried up to (i.e. is rate limited to) 10 times per minute per org\n* To increase performance the API can generate multiple CSV files that need to be merged after download\n\n__Requirements__\n\n* organization ID - To get your organization ID go to to Organization Settings tab in the CircleCI app. ie https://app.circleci.com/settings/organization/<vcs>/<org name>/overview\n* API Personal Access Token - https://circleci.com/docs/managing-api-tokens/\n\n__Report Fields__\n\n|                                       | Field                         | Description                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       |\n|---------------------------------------|-------------------------------|---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n|                                       | organization_id               | The org ID                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                |\n|                                       | organization_name             | The org name                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      |\n|                                       | organization_created_date     | The date (UTC) that the org was created                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 |\n| Project-level attributes              | project_id                    | The project ID / token                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            |\n|                                       | project_name                  | The project name. For classic orgs, the project name is inherited from Github. For standalone, the org is set by the user.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        |\n|                                       | project_created_date          | The date (UTC) that the project was created. For classic orgs, this is the date that the repo was authorized on CircleCI. For standalone orgs, this is the date that the project was created on CircleCI                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                |\n|                                       | last_build_finished_at        | The date (UTC) of the last pipeline run on this project                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 |\n| Pipeline-level attributes             | vcs_name                      | The name of the VCS connected to the project on which the pipeline was run                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        |\n|                                       | vcs_url                       | The URL of the VCS on which the pipeline was run                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  |\n|                                       | vcs_branch                    | The branch on which the pipeline was run                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          |\n|                                       | pipeline_id                   | The ID of the pipeline instance that was triggered. If a pipeline is re-run, it will share the same pipeline ID as the original pipeline instance                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 |\n|                                       | pipeline_created_at           | The date (UTC) the pipeline instance was first triggered                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                |\n|                                       | pipeline_number               | The pipeline number                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               |\n|                                       | is_unregistered_user          | Y/N flag of whether the pipeline was triggered by a CircleCI user or a user not registered on CircleCI. Examples of the latter include users who commit on a connected VCS and consume credits on CircleCI.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       |\n|                                       | pipeline_trigger_source       | The source of the pipeline instance trigger (API, webhook, etc.)                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  |\n|                                       | pipeline_trigger_user_id      | The user ID / token of the user who triggered the pipeline                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        |\n| Workflow-level attributes             | workflow_id                   | The ID of the workflow instance that was triggered                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                |\n|                                       | workflow_name                 | The name of the workflow                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          |\n|                                       | workflow_first_job_queued_at  | The timestamp (UTC) of when the workflow instance started to queue                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      |\n|                                       | workflow_first_job_started_at | The timestamp (UTC) of when the workflow instance started to run                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        |\n|                                       | workflow_stopped_at           | The timestamp (UTC) of when the workflow instance stopped                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               |\n|                                       | is_workflow_successful        | Y/N flag of whether all jobs in the workflow were successfully ran                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                |\n| Job-level attributes                  | job_name                      | The name of the job (the name the customer sees in the UI)                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        |\n|                                       | job_id                        | The ID of the job run instance that was triggered                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 |\n|                                       | job_run_number                | The number of the job run instance that was triggered                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             |\n|                                       | job_run_date                  | The date (UTC) of the job run instance began                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            |\n|                                       | job_run_queued_at             | The timestamp (UTC) of when the job started to queue                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       |\n|                                       | job_run_started_at            | The timestamp (UTC) of when the job started to run                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         |\n|                                       | job_run_stopped_at            | The timestamp (UTC) of when the job stopped                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                |\n|                                       | job_build_status              | The status of the job run instance                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                |\n|                                       | resource_class                | The resource class of the job run instance                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        |\n|                                       | operating_system              | The operating system of the job run instance                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      |\n|                                       | executor                      | The executor of the job run instance                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              |\n|                                       | parallelism                   | The parallelism of the job run instance                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           |\n|                                       | job_run_seconds               | The duration in seconds of the job run instance                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   |\n|                                       | median_cpu_utilization_pct    | The median CPU utilization calculated over the course of the entire job run instance. CPU utilization is logged every 15 seconds. It will not be available for any jobs under 15 seconds and occasionally will not be available for jobs greater than 15 seconds.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 |\n|                                       | max_cpu_utilization_pct       | The max CPU utilization logged over the course of the entire job run instance. CPU utilization is logged every 15 seconds. It will not be available for any jobs under 15 seconds and occasionally will not be available for jobs greater than 15 seconds.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        |\n|                                       | median_ram_utilization_pct    | The median RAM utilization calculated over the course of the entire job run instance. RAM utilization is logged every 15 seconds. It will not be available for any jobs under 15 seconds and occasionally will not be available for jobs greater than 15 seconds.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 |\n|                                       | max_ram_utilization_pct       | The max RAM utilization logged over the course of the entire job run instance. RAM utilization is logged every 15 seconds. It will not be available for any jobs under 15 seconds and occasionally will not be available for jobs greater than 15 seconds.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        |\n| Credit consumption metrics            | compute_credits               | The compute credits consumed by this job run instance                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             |\n|                                       | dlc_credits                   | The docker-layer caching credits consumed by this job run instance                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                |\n|                                       | user_credits                  | The user credits consumed by this job run instance                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                |\n|                                       | storage_credits               | The storage credits consumed by this job run instance                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             |\n|                                       | network_credits               | The network credits consumed by this job run instance                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             |\n|                                       | lease_credits                 | The lease credits consumed by this job run instance                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               |\n|                                       | lease_overage_credits         | The lease overage credits consumed by this job run instance                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       |\n|                                       | ipranges_credits              | The IP ranges credits consumed by this job run instance                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           |\n|                                       | total_credits                 | The total credits consumed by this job run instance                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               |\n"
    }
  ],
  "paths": {
    "/context": {
      "post": {
        "summary": "Create a new context",
        "description": "Creates a new context.",
        "tags": [
          "Context"
        ],
        "operationId": "createContext",
        "responses": {
          "200": {
            "description": "The new context",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "The unique ID of the context."
                    },
                    "name": {
                      "type": "string",
                      "description": "The user defined name of the context."
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "The date and time the context was created.",
                      "example": "2015-09-21T17:29:21.042Z"
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "created_at"
                  ],
                  "title": "Context"
                }
              }
            }
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "description": "Error response."
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The user defined name of the context."
                  },
                  "owner": {
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                            "description": "The unique ID of the owner of the context. Specify either this or slug."
                          },
                          "type": {
                            "enum": [
                              "account",
                              "organization"
                            ],
                            "type": "string",
                            "description": "The type of the owner. Defaults to \"organization\". Accounts are only used as context owners in server.",
                            "example": "organization"
                          }
                        },
                        "required": [
                          "id"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "slug": {
                            "type": "string",
                            "description": "A string that represents an organization. Specify either this or id. Cannot be used for accounts."
                          },
                          "type": {
                            "enum": [
                              "organization"
                            ],
                            "type": "string",
                            "description": "The type of owner. Defaults to \"organization\". Accounts are only used as context owners in server and must be specified by an id instead of a slug."
                          }
                        },
                        "required": [
                          "slug"
                        ]
                      }
                    ]
                  }
                },
                "required": [
                  "name",
                  "owner"
                ]
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Node + Request",
            "source": "const request = require('request');\n\nconst options = {\n  method: 'POST',\n  url: 'https://circleci.com/api/v2/context',\n  headers: {'content-type': 'application/json', Authorization: 'Basic REPLACE_BASIC_AUTH'},\n  body: {\n    name: 'string',\n    owner: {id: '497f6eca-6276-4993-bfeb-53cbbbba6f08', type: 'organization'}\n  },\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
          },
          {
            "lang": "Python + Python3",
            "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"circleci.com\")\n\npayload = \"{\\\"name\\\":\\\"string\\\",\\\"owner\\\":{\\\"id\\\":\\\"497f6eca-6276-4993-bfeb-53cbbbba6f08\\\",\\\"type\\\":\\\"organization\\\"}}\"\n\nheaders = {\n    'content-type': \"application/json\",\n    'Authorization': \"Basic REPLACE_BASIC_AUTH\"\n    }\n\nconn.request(\"POST\", \"/api/v2/context\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
          },
          {
            "lang": "Go + Native",
            "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"strings\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://circleci.com/api/v2/context\"\n\n\tpayload := strings.NewReader(\"{\\\"name\\\":\\\"string\\\",\\\"owner\\\":{\\\"id\\\":\\\"497f6eca-6276-4993-bfeb-53cbbbba6f08\\\",\\\"type\\\":\\\"organization\\\"}}\")\n\n\treq, _ := http.NewRequest(\"POST\", url, payload)\n\n\treq.Header.Add(\"content-type\", \"application/json\")\n\treq.Header.Add(\"Authorization\", \"Basic REPLACE_BASIC_AUTH\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
          },
          {
            "lang": "Shell + Curl",
            "source": "curl --request POST \\\n  --url https://circleci.com/api/v2/context \\\n  --header 'Authorization: Basic REPLACE_BASIC_AUTH' \\\n  --header 'content-type: application/json' \\\n  --data '{\"name\":\"string\",\"owner\":{\"id\":\"497f6eca-6276-4993-bfeb-53cbbbba6f08\",\"type\":\"organization\"}}'"
          }
        ]
      },
      "get": {
        "summary": "List contexts",
        "description": "List all contexts for an owner.",
        "tags": [
          "Context"
        ],
        "operationId": "listContexts",
        "responses": {
          "200": {
            "description": "A paginated list of contexts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                            "description": "The unique ID of the context."
                          },
                          "name": {
                            "type": "string",
                            "description": "The user defined name of the context."
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The date and time the context was created.",
                            "example": "2015-09-21T17:29:21.042Z"
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "created_at"
                        ],
                        "title": "Context"
                      }
                    },
                    "next_page_token": {
                      "type": "string",
                      "x-nullable": true,
                      "description": "A token to pass as a `page-token` query parameter to return the next page of results."
                    }
                  },
                  "required": [
                    "items",
                    "next_page_token"
                  ]
                }
              }
            }
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "description": "Error response."
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "owner-id",
            "description": "The unique ID of the owner of the context. Specify either this or owner-slug.",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "owner-slug",
            "description": "A string that represents an organization. Specify either this or owner-id. Cannot be used for accounts.",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "owner-type",
            "description": "The type of the owner. Defaults to \"organization\". Accounts are only used as context owners in server.",
            "schema": {
              "type": "string",
              "enum": [
                "account",
                "organization"
              ]
            },
            "required": false
          },
          {
            "in": "query",
            "name": "page-token",
            "description": "A token to retrieve the next page of results.",
            "schema": {
              "type": "string"
            },
            "required": false,
            "allowEmptyValue": true
          }
        ],
        "x-codeSamples": [
          {
            "lang": "Node + Request",
            "source": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://circleci.com/api/v2/context',\n  qs: {\n    'owner-id': 'c65b68ef-e73b-4bf2-be9a-7a322a9df150',\n    'page-token': 'NEXT_PAGE_TOKEN'\n  },\n  headers: {'Circle-Token': 'CIRCLE_TOKEN'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
          },
          {
            "lang": "Python + Python3",
            "source": "import http.client\n\nconn = http.client.HTTPSConnection('circleci.com')\n\nheaders = { 'Circle-Token': 'CIRCLE_TOKEN' }\n\nconn.request('GET', '/api/v2/context?owner-id=c65b68ef-e73b-4bf2-be9a-7a322a9df150&page-token=NEXT_PAGE_TOKEN', headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode('utf-8'))"
          },
          {
            "lang": "Go + Native",
            "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://circleci.com/api/v2/context?owner-id=c65b68ef-e73b-4bf2-be9a-7a322a9df150&page-token=NEXT_PAGE_TOKEN\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"Circle-Token\", \"CIRCLE_TOKEN\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
          },
          {
            "lang": "Shell + Curl",
            "source": "curl --request GET \\\n  --url 'https://circleci.com/api/v2/context?owner-id=c65b68ef-e73b-4bf2-be9a-7a322a9df150&page-token=NEXT_PAGE_TOKEN' \\\n  --header \"Circle-Token: ${CIRCLE_TOKEN}\""
          },
          {
            "lang": "Ruby + Native",
            "source": "require 'uri'\nrequire 'net/http'\nrequire 'openssl'\n\nurl = URI('https://circleci.com/api/v2/context?owner-id=c65b68ef-e73b-4bf2-be9a-7a322a9df150&page-token=NEXT_PAGE_TOKEN')\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\nhttp.verify_mode = OpenSSL::SSL::VERIFY_NONE\n\nrequest = Net::HTTP::Get.new(url)\nrequest['Circle-Token'] = 'CIRCLE_TOKEN'\n\nresponse = http.request(request)\nputs response.read_body"
          }
        ]
      }
    },
    "/context/{context-id}": {
      "delete": {
        "summary": "Delete a context",
        "tags": [
          "Context"
        ],
        "operationId": "deleteContext",
        "responses": {
          "200": {
            "description": "A confirmation message",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "A human-readable message"
                    }
                  },
                  "required": [
                    "message"
                  ],
                  "description": "message response",
                  "title": "MessageResponse"
                }
              }
            }
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "description": "Error response."
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "context-id",
            "description": "ID of the context (UUID)",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true
          }
        ],
        "x-codeSamples": [
          {
            "lang": "Node + Request",
            "source": "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://circleci.com/api/v2/context/%7Bcontext-id%7D',\n  headers: {Authorization: 'Basic REPLACE_BASIC_AUTH'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
          },
          {
            "lang": "Python + Python3",
            "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"circleci.com\")\n\nheaders = { 'Authorization': \"Basic REPLACE_BASIC_AUTH\" }\n\nconn.request(\"DELETE\", \"/api/v2/context/%7Bcontext-id%7D\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
          },
          {
            "lang": "Go + Native",
            "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://circleci.com/api/v2/context/%7Bcontext-id%7D\"\n\n\treq, _ := http.NewRequest(\"DELETE\", url, nil)\n\n\treq.Header.Add(\"Authorization\", \"Basic REPLACE_BASIC_AUTH\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
          },
          {
            "lang": "Shell + Curl",
            "source": "curl --request DELETE \\\n  --url https://circleci.com/api/v2/context/%7Bcontext-id%7D \\\n  --header 'Authorization: Basic REPLACE_BASIC_AUTH'"
          }
        ]
      },
      "get": {
        "summary": "Get a context",
        "description": "Returns basic information about a context.",
        "tags": [
          "Context"
        ],
        "operationId": "getContext",
        "responses": {
          "200": {
            "description": "The context",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "The unique ID of the context."
                    },
                    "name": {
                      "type": "string",
                      "description": "The user defined name of the context."
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "The date and time the context was created.",
                      "example": "2015-09-21T17:29:21.042Z"
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "created_at"
                  ],
                  "title": "Context"
                }
              }
            }
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "description": "Error response."
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "context-id",
            "description": "ID of the context (UUID)",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true
          }
        ],
        "x-codeSamples": [
          {
            "lang": "Node + Request",
            "source": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://circleci.com/api/v2/context/%7Bcontext-id%7D',\n  headers: {Authorization: 'Basic REPLACE_BASIC_AUTH'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
          },
          {
            "lang": "Python + Python3",
            "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"circleci.com\")\n\nheaders = { 'Authorization': \"Basic REPLACE_BASIC_AUTH\" }\n\nconn.request(\"GET\", \"/api/v2/context/%7Bcontext-id%7D\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
          },
          {
            "lang": "Go + Native",
            "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://circleci.com/api/v2/context/%7Bcontext-id%7D\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"Authorization\", \"Basic REPLACE_BASIC_AUTH\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
          },
          {
            "lang": "Shell + Curl",
            "source": "curl --request GET \\\n  --url https://circleci.com/api/v2/context/%7Bcontext-id%7D \\\n  --header 'Authorization: Basic REPLACE_BASIC_AUTH'"
          }
        ]
      }
    },
    "/context/{context-id}/environment-variable": {
      "get": {
        "summary": "List environment variables",
        "description": "List information about environment variables in a context, not including their values.",
        "tags": [
          "Context"
        ],
        "operationId": "listEnvironmentVariablesFromContext",
        "responses": {
          "200": {
            "description": "A paginated list of environment variables",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "variable": {
                            "type": "string",
                            "description": "The name of the environment variable",
                            "example": "POSTGRES_USER"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The date and time the environment variable was created.",
                            "example": "2015-09-21T17:29:21.042Z"
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The date and time the environment variable was updated",
                            "example": "2015-09-21T17:29:21.042Z"
                          },
                          "context_id": {
                            "type": "string",
                            "format": "uuid",
                            "description": "ID of the context (UUID)"
                          }
                        },
                        "required": [
                          "variable",
                          "created_at",
                          "updated_at",
                          "context_id"
                        ]
                      }
                    },
                    "next_page_token": {
                      "type": "string",
                      "x-nullable": true,
                      "description": "A token to pass as a `page-token` query parameter to return the next page of results."
                    }
                  },
                  "required": [
                    "items",
                    "next_page_token"
                  ]
                }
              }
            }
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "description": "Error response."
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "context-id",
            "description": "ID of the context (UUID)",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "page-token",
            "description": "A token to retrieve the next page of results.",
            "schema": {
              "type": "string"
            },
            "required": false,
            "allowEmptyValue": true
          }
        ],
        "x-codeSamples": [
          {
            "lang": "Node + Request",
            "source": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://circleci.com/api/v2/context/%7Bcontext-id%7D/environment-variable',\n  qs: {'page-token': 'SOME_STRING_VALUE'},\n  headers: {Authorization: 'Basic REPLACE_BASIC_AUTH'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
          },
          {
            "lang": "Python + Python3",
            "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"circleci.com\")\n\nheaders = { 'Authorization': \"Basic REPLACE_BASIC_AUTH\" }\n\nconn.request(\"GET\", \"/api/v2/context/%7Bcontext-id%7D/environment-variable?page-token=SOME_STRING_VALUE\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
          },
          {
            "lang": "Go + Native",
            "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://circleci.com/api/v2/context/%7Bcontext-id%7D/environment-variable?page-token=SOME_STRING_VALUE\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"Authorization\", \"Basic REPLACE_BASIC_AUTH\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
          },
          {
            "lang": "Shell + Curl",
            "source": "curl --request GET \\\n  --url 'https://circleci.com/api/v2/context/%7Bcontext-id%7D/environment-variable?page-token=SOME_STRING_VALUE' \\\n  --header 'Authorization: Basic REPLACE_BASIC_AUTH'"
          }
        ]
      }
    },
    "/context/{context-id}/environment-variable/{env-var-name}": {
      "delete": {
        "summary": "Remove an environment variable",
        "description": "Delete an environment variable from a context.",
        "tags": [
          "Context"
        ],
        "operationId": "deleteEnvironmentVariableFromContext",
        "responses": {
          "200": {
            "description": "A confirmation message",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "A human-readable message"
                    }
                  },
                  "required": [
                    "message"
                  ],
                  "description": "message response",
                  "title": "MessageResponse"
                }
              }
            }
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "description": "Error response."
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "env-var-name",
            "description": "The name of the environment variable",
            "schema": {
              "type": "string"
            },
            "required": true,
            "example": "POSTGRES_USER"
          },
          {
            "in": "path",
            "name": "context-id",
            "description": "ID of the context (UUID)",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true
          }
        ],
        "x-codeSamples": [
          {
            "lang": "Node + Request",
            "source": "const request = require('request');\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://circleci.com/api/v2/context/%7Bcontext-id%7D/environment-variable/POSTGRES_USER',\n  headers: {Authorization: 'Basic REPLACE_BASIC_AUTH'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
          },
          {
            "lang": "Python + Python3",
            "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"circleci.com\")\n\nheaders = { 'Authorization': \"Basic REPLACE_BASIC_AUTH\" }\n\nconn.request(\"DELETE\", \"/api/v2/context/%7Bcontext-id%7D/environment-variable/POSTGRES_USER\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
          },
          {
            "lang": "Go + Native",
            "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://circleci.com/api/v2/context/%7Bcontext-id%7D/environment-variable/POSTGRES_USER\"\n\n\treq, _ := http.NewRequest(\"DELETE\", url, nil)\n\n\treq.Header.Add(\"Authorization\", \"Basic REPLACE_BASIC_AUTH\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
          },
          {
            "lang": "Shell + Curl",
            "source": "curl --request DELETE \\\n  --url https://circleci.com/api/v2/context/%7Bcontext-id%7D/environment-variable/POSTGRES_USER \\\n  --header 'Authorization: Basic REPLACE_BASIC_AUTH'"
          }
        ]
      },
      "put": {
        "summary": "Add or update an environment variable",
        "description": "Create or update an environment variable within a context. Returns information about the environment variable, not including its value.",
        "tags": [
          "Context"
        ],
        "operationId": "addEnvironmentVariableToContext",
        "responses": {
          "200": {
            "description": "The new environment variable",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "variable": {
                          "type": "string",
                          "description": "The name of the environment variable",
                          "example": "POSTGRES_USER"
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time",
                          "description": "The date and time the environment variable was created.",
                          "example": "2015-09-21T17:29:21.042Z"
                        },
                        "updated_at": {
                          "type": "string",
                          "format": "date-time",
                          "description": "The date and time the environment variable was updated",
                          "example": "2015-09-21T17:29:21.042Z"
                        },
                        "context_id": {
                          "type": "string",
                          "format": "uuid",
                          "description": "ID of the context (UUID)"
                        }
                      },
                      "required": [
                        "variable",
                        "created_at",
                        "updated_at",
                        "context_id"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "A human-readable message"
                        }
                      },
                      "required": [
                        "message"
                      ],
                      "description": "message response",
                      "title": "MessageResponse"
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "description": "Error response."
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "context-id",
            "description": "ID of the context (UUID)",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "env-var-name",
            "description": "The name of the environment variable",
            "schema": {
              "type": "string"
            },
            "required": true,
            "example": "POSTGRES_USER"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "value": {
                    "type": "string",
                    "description": "The value of the environment variable",
                    "example": "some-secret-value"
                  }
                },
                "required": [
                  "value"
                ]
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Node + Request",
            "source": "const request = require('request');\n\nconst options = {\n  method: 'PUT',\n  url: 'https://circleci.com/api/v2/context/%7Bcontext-id%7D/environment-variable/POSTGRES_USER',\n  headers: {'content-type': 'application/json', Authorization: 'Basic REPLACE_BASIC_AUTH'},\n  body: {value: 'some-secret-value'},\n  json: true\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
          },
          {
            "lang": "Python + Python3",
            "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"circleci.com\")\n\npayload = \"{\\\"value\\\":\\\"some-secret-value\\\"}\"\n\nheaders = {\n    'content-type': \"application/json\",\n    'Authorization': \"Basic REPLACE_BASIC_AUTH\"\n    }\n\nconn.request(\"PUT\", \"/api/v2/context/%7Bcontext-id%7D/environment-variable/POSTGRES_USER\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
          },
          {
            "lang": "Go + Native",
            "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"strings\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://circleci.com/api/v2/context/%7Bcontext-id%7D/environment-variable/POSTGRES_USER\"\n\n\tpayload := strings.NewReader(\"{\\\"value\\\":\\\"some-secret-value\\\"}\")\n\n\treq, _ := http.NewRequest(\"PUT\", url, payload)\n\n\treq.Header.Add(\"content-type\", \"application/json\")\n\treq.Header.Add(\"Authorization\", \"Basic REPLACE_BASIC_AUTH\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
          },
          {
            "lang": "Shell + Curl",
            "source": "curl --request PUT \\\n  --url https://circleci.com/api/v2/context/%7Bcontext-id%7D/environment-variable/POSTGRES_USER \\\n  --header 'Authorization: Basic REPLACE_BASIC_AUTH' \\\n  --header 'content-type: application/json' \\\n  --data '{\"value\":\"some-secret-value\"}'"
          }
        ]
      }
    },
    "/insights/pages/{project-slug}/summary": {
      "get": {
        "summary": "Get summary metrics and trends for a project across it's workflows and branches",
        "description": "Get summary metrics and trends for a project at workflow and branch level.\n             Workflow runs going back at most 90 days are included in the aggregation window.\n             Trends are only supported upto last 30 days.\n             Please note that Insights is not a financial reporting tool and should not be used for precise credit reporting.  Credit reporting from Insights does not use the same source of truth as the billing information that is found in the Plan Overview page in the CircleCI UI, nor does the underlying data have the same data accuracy guarantees as the billing information in the CircleCI UI.  This may lead to discrepancies between credits reported from Insights and the billing information in the Plan Overview page of the CircleCI UI.  For precise credit reporting, always use the Plan Overview page in the CircleCI UI.",
        "tags": [
          "Insights"
        ],
        "operationId": "getProjectWorkflowsPageData",
        "responses": {
          "200": {
            "description": "Aggregated summary metrics and trends by workflow and branches",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "org_id": {
                      "description": "The unique ID of the organization"
                    },
                    "project_id": {
                      "description": "The unique ID of the project"
                    },
                    "project_data": {
                      "type": "object",
                      "properties": {
                        "metrics": {
                          "type": "object",
                          "properties": {
                            "total_runs": {
                              "type": "integer",
                              "format": "int64",
                              "minimum": 0,
                              "description": "The total number of runs, including runs that are still on-hold or running."
                            },
                            "total_duration_secs": {
                              "type": "integer",
                              "format": "int64",
                              "minimum": 0,
                              "description": "Total duration, in seconds."
                            },
                            "total_credits_used": {
                              "type": "integer",
                              "format": "int64",
                              "minimum": 0,
                              "description": "The total credits consumed over the current timeseries interval."
                            },
                            "success_rate": {
                              "type": "number",
                              "format": "float"
                            },
                            "throughput": {
                              "type": "number",
                              "format": "float",
                              "description": "The average number of runs per day."
                            }
                          },
                          "required": [
                            "total_runs",
                            "total_duration_secs",
                            "total_credits_used",
                            "success_rate",
                            "throughput"
                          ],
                          "description": "Metrics aggregated across all workflows and branches for a project."
                        },
                        "trends": {
                          "type": "object",
                          "properties": {
                            "total_runs": {
                              "type": "number",
                              "format": "float",
                              "description": "The trend value for total number of runs."
                            },
                            "total_duration_secs": {
                              "type": "number",
                              "format": "float",
                              "description": "Trend value for total duration."
                            },
                            "total_credits_used": {
                              "type": "number",
                              "format": "float",
                              "description": "The trend value for total credits consumed."
                            },
                            "success_rate": {
                              "type": "number",
                              "format": "float",
                              "description": "The trend value for the success rate."
                            },
                            "throughput": {
                              "type": "number",
                              "format": "float",
                              "description": "Trend value for the average number of runs per day."
                            }
                          },
                          "required": [
                            "total_runs",
                            "total_duration_secs",
                            "total_credits_used",
                            "success_rate",
                            "throughput"
                          ],
                          "description": "Metric trends aggregated across all workflows and branches for a project."
                        }
                      },
                      "required": [
                        "metrics",
                        "trends"
                      ],
                      "description": "Metrics and trends data aggregated for a given project."
                    },
                    "project_workflow_data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "workflow_name": {
                            "type": "string",
                            "description": "The name of the workflow.",
                            "example": "build-and-test"
                          },
                          "metrics": {
                            "type": "object",
                            "properties": {
                              "total_credits_used": {
                                "type": "integer",
                                "format": "int64",
                                "minimum": 0,
                                "description": "The total credits consumed over the current timeseries interval."
                              },
                              "p95_duration_secs": {
                                "type": "number",
                                "format": "float",
                                "description": "The 95th percentile duration among a group of workflow runs."
                              },
                              "total_runs": {
                                "type": "integer",
                                "format": "int64",
                                "minimum": 0,
                                "description": "The total number of runs, including runs that are still on-hold or running."
                              },
                              "success_rate": {
                                "type": "number",
                                "format": "float"
                              }
                            },
                            "required": [
                              "total_credits_used",
                              "p95_duration_secs",
                              "total_runs",
                              "success_rate"
                            ],
                            "description": "Metrics aggregated across a workflow or branchfor a project."
                          },
                          "trends": {
                            "type": "object",
                            "properties": {
                              "total_credits_used": {
                                "type": "number",
                                "format": "float",
                                "description": "The trend value for total credits consumed."
                              },
                              "p95_duration_secs": {
                                "type": "number",
                                "format": "float",
                                "description": "The 95th percentile duration among a group of workflow runs."
                              },
                              "total_runs": {
                                "type": "number",
                                "format": "float",
                                "description": "The trend value for total number of runs."
                              },
                              "success_rate": {
                                "type": "number",
                                "format": "float",
                                "description": "The trend value for the success rate."
                              }
                            },
                            "required": [
                              "total_credits_used",
                              "p95_duration_secs",
                              "total_runs",
                              "success_rate"
                            ],
                            "description": "Trends aggregated across a workflow or branch for a project."
                          }
                        },
                        "required": [
                          "workflow_name",
                          "metrics",
                          "trends"
                        ]
                      },
                      "description": "A list of metrics and trends data for workflows for a given project."
                    },
                    "project_workflow_branch_data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "workflow_name": {
                            "type": "string",
                            "description": "The name of the workflow.",
                            "example": "build-and-test"
                          },
                          "branch": {
                            "type": "string",
                            "description": "The VCS branch of a workflow's trigger.",
                            "example": "main"
                          },
                          "metrics": {
                            "type": "object",
                            "properties": {
                              "total_credits_used": {
                                "type": "integer",
                                "format": "int64",
                                "minimum": 0,
                                "description": "The total credits consumed over the current timeseries interval."
                              },
                              "p95_duration_secs": {
                                "type": "number",
                                "format": "float",
                                "description": "The 95th percentile duration among a group of workflow runs."
                              },
                              "total_runs": {
                                "type": "integer",
                                "format": "int64",
                                "minimum": 0,
                                "description": "The total number of runs, including runs that are still on-hold or running."
                              },
                              "success_rate": {
                                "type": "number",
                                "format": "float"
                              }
                            },
                            "required": [
                              "total_credits_used",
                              "p95_duration_secs",
                              "total_runs",
                              "success_rate"
                            ],
                            "description": "Metrics aggregated across a workflow or branchfor a project."
                          },
                          "trends": {
                            "type": "object",
                            "properties": {
                              "total_credits_used": {
                                "type": "number",
                                "format": "float",
                                "description": "The trend value for total credits consumed."
                              },
                              "p95_duration_secs": {
                                "type": "number",
                                "format": "float",
                                "description": "The 95th percentile duration among a group of workflow runs."
                              },
                              "total_runs": {
                                "type": "number",
                                "format": "float",
                                "description": "The trend value for total number of runs."
                              },
                              "success_rate": {
                                "type": "number",
                                "format": "float",
                                "description": "The trend value for the success rate."
                              }
                            },
                            "required": [
                              "total_credits_used",
                              "p95_duration_secs",
                              "total_runs",
                              "success_rate"
                            ],
                            "description": "Trends aggregated across a workflow or branch for a project."
                          }
                        },
                        "required": [
                          "workflow_name",
                          "branch",
                          "metrics",
                          "trends"
                        ]
                      },
                      "description": "A list of metrics and trends data for branches for a given project."
                    },
                    "all_branches": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "description": "The VCS branch of a workflow's trigger.",
                        "example": "main"
                      },
                      "description": "A list of all the branches for a given project."
                    },
                    "all_workflows": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "description": "The name of the workflow.",
                        "example": "build-and-test"
                      },
                      "description": "A list of all the workflows for a given project."
                    }
                  }
                }
              }
            }
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "description": "Error response."
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "project-slug",
            "description": "Project slug in the form `vcs-slug/org-name/repo-name`. The `/` characters may be URL-escaped. For projects that use GitLab or GitHub App, use `circleci` as the `vcs-slug`, replace `org-name` with the organization ID (found in Organization Settings), and replace `repo-name` with the project ID (found in Project Settings).",
            "schema": {
              "type": "string"
            },
            "required": true,
            "example": "gh/CircleCI-Public/api-preview-docs",
            "allowReserved": true
          },
          {
            "in": "query",
            "name": "reporting-window",
            "description": "The time window used to calculate summary metrics. If not provided, defaults to last-90-days",
            "schema": {
              "type": "string",
              "enum": [
                "last-7-days",
                "last-90-days",
                "last-24-hours",
                "last-30-days",
                "last-60-days"
              ]
            },
            "required": false,
            "example": "last-90-days"
          },
          {
            "in": "query",
            "name": "branches",
            "description": "The names of VCS branches to include in branch-level workflow metrics.",
            "schema": {
              "type": "object"
            },
            "required": false,
            "example": "A single branch: ?branches=main or for multiple branches: ?branches=main&branches=feature&branches=dev"
          },
          {
            "in": "query",
            "name": "workflow-names",
            "description": "The names of workflows to include in workflow-level metrics.",
            "schema": {
              "type": "object"
            },
            "required": false,
            "example": "A single workflow name: ?workflow-names=build-test-deploy or\n    for multiple workflow names: ?workflow-names=build&workflow-names=test-and-deploy."
          }
        ],
        "x-codeSamples": [
          {
            "lang": "Node + Request",
            "source": "const request = require('request');\n\nconst options = {\n  method: 'GET',\n  url: 'https://circleci.com/api/v2/insights/pages/gh/CircleCI-Public/api-preview-docs/summary',\n  qs: {\n    'reporting-window': 'SOME_STRING_VALUE',\n    branches: 'SOME_OBJECT_VALUE',\n    'workflow-names': 'SOME_OBJECT_VALUE'\n  },\n  headers: {Authorization: 'Basic REPLACE_BASIC_AUTH'}\n};\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
          },
          {
            "lang": "Python + Python3",
            "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"circleci.com\")\n\nheaders = { 'Authorization': \"Basic REPLACE_BASIC_AUTH\" }\n\nconn.request(\"GET\", \"/api/v2/insights/pages/gh/CircleCI-Public/api-preview-docs/summary?reporting-window=SOME_STRING_VALUE&branches=SOME_OBJECT_VALUE&workflow-names=SOME_OBJECT_VALUE\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
          },
          {
            "lang": "Go + Native",
            "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://circleci.com/api/v2/insights/pages/gh/CircleCI-Public/api-preview-docs/summary?reporting-window=SOME_STRING_VALUE&branches=SOME_OBJECT_VALUE&workflow-names=SOME_OBJECT_VALUE\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"Authorization\", \"Basic REPLACE_BASIC_AUTH\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
          },
          {
            "lang": "Shell + Curl",
            "source": "curl --request GET \\\n  --url 'https://circleci.com/api/v2/insights/pages/gh/CircleCI-Public/api-preview-docs/summary?reporting-window=SOME_STRING_VALUE&branches=SOME_OBJECT_VALUE&workflow-names=SOME_OBJECT_VALUE' \\\n  --header 'Authorization: Basic REPLACE_BASIC_AUTH'"
          }
        ]
      }
    },
    "/insights/time-series/{project-slug}/workflows/{workflow-name}/jobs": {
      "get": {
        "summary": "Job timeseries data",
        "description": "Get timeseries data for all jobs within a workflow. Hourly granularity data is only retained for 48 hours while daily granularity data is retained for 90 days.",
        "tags": [
          "Insights"
        ],
        "operationId": "getJobTimeseries",
        "responses": {
          "200": {
            "description": "An array of timeseries data, one entry per job.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "next_page_token": {
                      "type": "string",
                      "x-nullable": true,
[...]
