<div role="navigation" aria-label="Article Toolbar" class="article-toolbar flex flex-col max-w-[888px] md:items-center ml-auto mr-auto px-[32px] lg:ml-12 lg:mr-0 lg:px-0 mt-6 md:mt-12 md:flex-row text-sm font-normal" >
  {{> breadcrumbs}}
</div>
