<div role="navigation" aria-label="Article Toolbar" class="flex flex-col items-center mx-6 md:ml-12 md:mt-12 md:flex-row text-sm font-light" >
  {{> dropdown options=(components-to-nav-list) class="w-full md:hidden m-auto mt-8 mb-10" }}
  {{> breadcrumbs}}
</div>
