<div role="navigation" aria-label="Article Toolbar" class="article-toolbar flex flex-col max-w-[var(--doc-max-width--desktop)] md:items-center ml-auto mr-auto px-[var(--doc-padding-x)] lg:ml-12 lg:mr-0 lg:px-0 mt-6 md:mt-12 md:flex-row text-base font-normal" >
  {{> breadcrumbs}}
</div>
