<button
  type="button"
  data-ask-ai-button
  class="ask-ai-button shrink-0 flex items-center gap-2.5 px-3 py-2 border border-vapor rounded-full whitespace-nowrap font-normal hover:bg-smoke-50 transition-colors"
>
  <svg preserveAspectRatio="none" width="16" height="16" overflow="visible" viewBox="0 0 21.5005 21.5005" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
    <path d="M18.7485 1.75025V5.75025M20.7485 3.75025H16.7485M2.74848 15.7502V17.7502M3.74848 16.7502H1.74848M8.68548 14.2502C8.5962 13.9042 8.41581 13.5884 8.16309 13.3356C7.91037 13.0829 7.59455 12.9025 7.24848 12.8132L1.11348 11.2312C1.00881 11.2015 0.916684 11.1385 0.851088 11.0517C0.785491 10.9649 0.75 10.8591 0.75 10.7502C0.75 10.6414 0.785491 10.5356 0.851088 10.4488C0.916684 10.362 1.00881 10.299 1.11348 10.2692L7.24848 8.68625C7.59442 8.59706 7.91017 8.41682 8.16288 8.16429C8.41559 7.91175 8.59604 7.59614 8.68548 7.25025L10.2675 1.11525C10.2969 1.01017 10.3599 0.917591 10.4468 0.851644C10.5337 0.785697 10.6399 0.75 10.749 0.75C10.8581 0.75 10.9642 0.785697 11.0512 0.851644C11.1381 0.917591 11.2011 1.01017 11.2305 1.11525L12.8115 7.25025C12.9008 7.59632 13.0811 7.91215 13.3339 8.16487C13.5866 8.41759 13.9024 8.59797 14.2485 8.68725L20.3835 10.2682C20.489 10.2973 20.582 10.3603 20.6483 10.4473C20.7146 10.5344 20.7505 10.6408 20.7505 10.7502C20.7505 10.8597 20.7146 10.9661 20.6483 11.0532C20.582 11.1402 20.489 11.2031 20.3835 11.2322L14.2485 12.8132C13.9024 12.9025 13.5866 13.0829 13.3339 13.3356C13.0811 13.5884 12.9008 13.9042 12.8115 14.2502L11.2295 20.3853C11.2001 20.4903 11.1371 20.5829 11.0502 20.6489C10.9632 20.7148 10.8571 20.7505 10.748 20.7505C10.6389 20.7505 10.5327 20.7148 10.4458 20.6489C10.3589 20.5829 10.2959 20.4903 10.2665 20.3853L8.68548 14.2502Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
  <span>Ask AI</span>
</button>
