<div class="flex h-full w-full">
{{> navigation class= "w-full lg:w-2/6 flex-initial lg:max-w-[420px] lg:min-w-[360px]"}}
  <div class="flex flex-col w-full xl:items-center">
    {{> mobile-component-dropdown}}
    {{> main}}
    {{> footer class="px-12"}}
  </div>
</div>
