<nav data-component-explorer-nav class="flex flex-col md:flex-row md:items-center justify-between text-terminal-black font-medium md:font-normal {{#if class}}{{class}}{{/if}} overflow-x-auto whitespace-nowrap gap-3">

  <ul class="flex flex-col md:flex-row md:gap-6">
    {{#each options.navList}}
      <li class="flex items-center">
        <a href="{{{relativize ./url}}}" class="inline-block py-2 md:py-3 {{#if (eq ./name @root.page.component.name)}} text-accent-green md:text-inherit border-l-2 md:border-l-0 md:border-b-2 border-accent-green font-semibold {{/if}} ">
          {{{./label}}}
        </a>
      </li>
    {{/each}}
  </ul>

  <div class="hidden lg:block">
    {{> external-nav-links ulClass="flex flex-col ml-2 mt-10 md:mt-0 md:ml-0 md:flex-row gap-2" linkClass="inline-block md:px-2 md:py-3"}}
  </div>
</nav>
