<header class="flex flex-col max-w-full px-[32px] md:px-9 pt-6 border-b border-vapor bg-white sticky top-0 z-10">
  <div class="flex items-center justify-between mb-7">
    <!-- Logo + Title -->
    <div class="flex items-center space-x-2">
      <a href="{{{relativize '/'}}}">
        <img src="{{{uiRootPath}}}/img/logo.svg" alt="CircleCI Logo" class="h-[44px]">
      </a>
    </div>

    <!-- Search Bar -->

    {{> search-bar class="hidden md:block flex-1 md:px-4" }}

    <!-- Localization + CTA -->

    <div class="flex items-center space-x-4 ml-2">
      <!--<img src="{{{uiRootPath}}}/img/language-icon.svg" alt="Language Icon" class="h-5 w-5">-->
      <img data-page-navigation-toggle src="{{{uiRootPath}}}/img/nav-menu.svg" alt="Navigation Menu Icon" class="h-5 w-5 lg:hidden">
      <a href="https://app.circleci.com/" class="hidden md:block bg-slime-green text-dark-green rounded-full px-[16px] border py-[8px] border-operational-green">
        Go to Application
      </a>
    </div>
  </div>

  <!-- Components Nav -->

  {{> component-explorer-nav class='hidden md:flex' options=(components-to-nav-list)}}

  {{> search-results class="hidden flex-1 pt-6 overflow-auto bg-white"}}

</header>
