<div data-search-results-container class="flex flex-col md:flex-row gap-4 md:gap-8 {{#if class}}{{class}}{{/if}}">
  <nav data-search-result-paths>
    <ul class="flex md:flex-col gap-2 px-2 overflow-x-scroll md:overflow-x-hidden">
      <li data-search-result-path-group>
        <button class="flex-0 flex gap-2 px-3 py-2 border-b-2 border-accent-green md:border md:border-link-on-light md:rounded-full whitespace-nowrap min-w-fit">
          <p>[path]</p>
          <span class="text-[10px] border rounded-full py-1 px-1.5">[numberOfHits]</span>
        </button>
      </li>
    </ul>
  </nav>
  <div class="flex-1 max-w-[800px]">
    <div data-results-current-path class="hidden md:flex gap-2 mb-6 items-center">
      <h2 class="font-medium text-[24px]">[path]</h2>
      <span class="text-[10px] border rounded-full py-1 px-1.5">[numberOfHits]</span>
    </div>
    <div data-search-results class="flex flex-col gap-4">
      <a data-search-result class="flex flex-col gap-2 hover:bg-inline-grey rounded-xl py-2 px-0 md:px-3" href="[url]">
        <h3 class="text-[20px] font-medium">[title]</h3>
        <p>[content]</p>
      </a>
    </div>
    <div class="flex gap-2 py-4 justify-center md:justify-start">
      <button data-search-result-prev class="flex items-center">
        <svg width="16" height="12" viewBox="0 0 16 12" class="inline-block text-disabled-element group-hover:stroke-inherit" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M0.292893 5.29289C-0.0976311 5.68342 -0.0976311 6.31658 0.292893 6.70711L5.29289 11.7071C5.68342 12.0976 6.31658 12.0976 6.70711 11.7071C7.09763 11.3166 7.09763 10.6834 6.70711 10.2929L3.41421 7H15C15.5523 7 16 6.55228 16 6C16 5.44772 15.5523 5 15 5H3.41421L6.70711 1.70711C7.09763 1.31658 7.09763 0.683417 6.70711 0.292894C6.31658 -0.0976312 5.68342 -0.0976312 5.29289 0.292894L0.292893 5.29289Z" fill="currentColor"/>
        </svg>
      </button>
      <div data-search-result-pagination class="flex items-center justify-between gap-2">
        <button class="bg-link-on-light px-[20px] py-[10px] rounded-full text-white">1</button>
        <button class="p-4 rounded-full">2</button>
        <span class="p-4 rounded-full">...</span>
        <button class="p-4 rounded-full">12</button>
      </div>
      <button data-search-result-next class="flex items-center">
        <svg width="16" height="12" viewBox="0 0 16 12" class="inline-block rotate-180 text-link-on-light group-hover:stroke-inherit" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M0.292893 5.29289C-0.0976311 5.68342 -0.0976311 6.31658 0.292893 6.70711L5.29289 11.7071C5.68342 12.0976 6.31658 12.0976 6.70711 11.7071C7.09763 11.3166 7.09763 10.6834 6.70711 10.2929L3.41421 7H15C15.5523 7 16 6.55228 16 6C16 5.44772 15.5523 5 15 5H3.41421L6.70711 1.70711C7.09763 1.31658 7.09763 0.683417 6.70711 0.292894C6.31658 -0.0976312 5.68342 -0.0976312 5.29289 0.292894L0.292893 5.29289Z" fill="currentColor"/>
        </svg>
      </button>
    </div>
  </div>
</div>