<div class="alert alert-info" role="alert">
  <p><span style="font-size: 125%; font-weight: bold; color: green;">$</span>
    <strong>Potential Premium Feature Notice: {{ include.feature }}</strong><br>
  During the CircleCI 2.0 we are providing early access for no additional charge to features 
    (including {{ include.feature }}) that <em>may</em> be available for additional fees after the Beta. 
    We <a class="alert-link" href="https://discuss.circleci.com/c/circleci-2-0/feedback">welcome input</a> into this and all other aspects of CircleCI 2.0.</p>
</div>
