<footer class="footer">
  <div class="container">
    <div class="row">
      <nav>
        <div class="col-md-2 col-sm-3 col-xs-6">
          <h6>Product</h6>
          <ul class="list-unstyled">
            <li><a href="/product/">Overview</a></li>
            <li><a href="/pricing/">Pricing</a></li>
            <li><a href="/integrations/">Integrations</a></li>
            <li><a href="/enterprise/">Enterprise</a></li>
            <li><a href="/changelog/">Changelog</a></li>
          </ul>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-6">
          <h6>Support</h6>
          <ul class="list-unstyled">
            <li><a href="/docs/">Documentation</a></li>
            <li><a href="https://support.circleci.com/hc/en-us" target="_blank">Get Support</a></li>
            <li><a href="https://status.circleci.com/" target="_blank">CircleCI Status</a></li>
            <li><a href="https://discuss.circleci.com/" target="_blank">Community Forums</a></li>
            <li><a href="/support/premium-support/">Premium Support</a></li>
          </ul>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-6">
          <h6>Resources</h6>
          <ul class="list-unstyled">
            <li><a href="/blog/">Blog</a></li>
            <li><a href="/customers/">Case Studies</a></li>
            <li><a href="/resources/#videos">Videos</a></li>
            <li><a href="/resources/#webinars">Webinars</a></li>
            <li><a href="/resources/#white-papers">White Papers</a></li>
          </ul>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-6">
          <h6>Company</h6>
          <ul class="list-unstyled">
            <li><a href="/about/">About Us</a></li>
            <li><a href="/jobs/">Jobs <span class="text-blue">(We're hiring!)</span></a></li>
            <li><a href="/about/team/">Team</a></li>
            <li><a href="/contact/">Contact Us</a></li>
            <li><a href="/partners/">Partners</a></li>
            <li><a href="/newsroom/">Newsroom</a></li>
          </ul>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-6">
          <h6>Getting Started</h6>
          <ul>
            <li><a href="/continuous-integration/">What is CI?</a></li>
            <li><a href="/docs/2.0/">How to get started on 2.0</a></li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="row margin-top-medium">
      <div class="col-md-2 col-xs-4">
        <img src="{{site.baseurl}}/assets/img/logos/logo-wordmark.svg" class="logo-small margin-top-small" alt="circleci">
      </div>
      <div class="col-md-4 col-md-offset-6 col-xs-offset-0 col-xs-8">
        <div class="text-center-small-float-right">
          {% include social-buttons.html %}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <hr class="dark no-margin">
        <div class="margin-top-small text-center-small-float-left">
          <nav>
            <ul class="horizontal blue">
              <li><a href="/terms-of-service/">Terms of Service</a></li>
              <li><a href="/privacy/">Privacy Policy</a></li>
              <li><a href="/security/">Security</a></li>
            </ul>
          </nav>
        </div>
        <div class="margin-top-small text-center-small-float-right">
          <span>Copyright © {{ site.time | date: '%Y' }} Circle Internet Services, Inc., All Rights Reserved.</span>
        </div>
      </div>
    </div>
  </div>
</footer>