<footer class="docs-footer inverted" data-analytics="clicked-footer" data-analytics-parent>
  <div class="blog-container">
    <div class="nav-row">
      <a href="{{ '/' | relative_url }}" class="lockup-link" >
        <img  src="{{site.baseurl}}/assets/img/logos/logo-wordmark-black.svg" class="logo" alt="circleci"></img>
        <span class="title"> Docs</span>
      </a>
      <div class="social">
        {% include social-buttons.html %}
      </div>
    </div>
    <div class="nav-row">
      <nav class="docs-footer--nav">
        <ul class="docs-footer--nav-list">

          <li><a class="nav-link" href="https://circleci.com/terms-of-service/" data-analytics-child='{ "menu": "terms-of-service" }'>Terms of Service</a></li>
          <li><a class="nav-link" href="https://circleci.com/privacy/" data-analytics-child='{ "menu": "privacy-policy" }'>Privacy Policy</a></li>
          <li><a class="nav-link" href="https://circleci.com/legal/cookie-policy/" data-analytics-child='{ "menu": "cookie-policy" }'>Cookie Policy</a></li>
          <li><a class="nav-link" href="https://circleci.com/security/" data-analytics-child='{ "menu": "security" }'>Security</a></li>
        </ul>
      </nav>
      <div class="docs-copyright">
        © {{ site.time | date: '%Y' }} Circle Internet Services, Inc., All Rights Reserved.
      </div>
    </div>
  </div>
</footer>
