<footer class="footer" data-analytics="clicked-footer" data-analytics-parent>
  <div class="container">
    <div class="row">
      <nav>
        <div class="col-md-2 col-sm-3 col-xs-6">
          <h6>Product</h6>
          <ul class="list-unstyled">
            <li><a href="https://circleci.com/product/" data-analytics-child='{ "menu": "product" }'>Overview</a></li>
            <li><a href="https://circleci.com/pricing/" data-analytics-child='{ "menu": "pricing" }'>Pricing</a></li>
            <li><a href="https://circleci.com/integrations/" data-analytics-child='{ "menu": "integrations" }'>Integrations</a></li>
            <li><a href="https://circleci.com/open-source/" data-analytics-child='{ "menu": "open-source" }'>Open Source</a></li>
            <li><a href="https://circleci.com/enterprise/" data-analytics-child='{ "menu": "enterprise" }'>Enterprise</a></li>
            <li><a href="https://circleci.com/changelog/" data-analytics-child='{ "menu": "changelog" }'>Changelog</a></li>
          </ul>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-6">
          <h6>Support</h6>
          <ul class="list-unstyled">
            <li><a href="https://circleci.com/docs/" data-analytics-child='{ "menu": "documentation" }'>Documentation</a></li>
            <li><a href="https://support.circleci.com/hc/en-us" data-analytics-child='{ "menu": "get-support" }' target="_blank">Get Support</a></li>
            <li><a href="https://discuss.circleci.com/" data-analytics-child='{ "menu": "community-forum" }' target="_blank">Community Forum</a></li>
            <li><a href="https://status.circleci.com/" data-analytics-child='{ "menu": "system-status" }' target="_blank">System Status</a></li>
             <li><a href="https://ideas.circleci.com/" data-analytics-child='{ "menu": "feature-requests" }'>Feature Requests</a></li>
            <li><a href="https://circleci.com/support/premium-support/" data-analytics-child='{ "menu": "premium-support" }'>Premium Support</a></li>
          </ul>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-6">
          <h6>Resources</h6>
          <ul class="list-unstyled">
            <li><a href="https://circleci.com/blog/" data-analytics-child='{ "menu": "blog" }'>Blog</a></li>
            <li><a href="https://circleci.com/customers/" data-analytics-child='{ "menu": "case-studies" }'>Case Studies</a></li>
            <li><a href="https://circleci.com/resources/#white-papers" data-analytics-child='{ "menu": "white-papers" }'>White Papers</a></li>
            <li><a href="https://circleci.com/resources/events/" data-analytics-child='{ "menu": "events" }'>Events</a></li>
            <li><a href="https://circleci.com/resources/#webinars" data-analytics-child='{ "menu": "webinars" }'>Webinars</a></li>
            <li><a href="https://circleci.com/resources/#videos" data-analytics-child='{ "menu": "videos" }'>Videos</a></li>
          </ul>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-6">
          <h6>Company</h6>
          <ul class="list-unstyled">
            <li><a href="https://circleci.com/about/" data-analytics-child='{ "menu": "about-us" }'>About Us</a></li>
            <li><a href="https://circleci.com/careers/" data-analytics-child='{ "menu": "careers" }'>Careers <span class="text-blue">(We're hiring!)</span></a></li>
            <li><a href="https://circleci.com/about/team/" data-analytics-child='{ "menu": "team" }'>Team</a></li>
            <li><a href="https://circleci.com/contact/" data-analytics-child='{ "menu": "contact-us" }'>Contact Us</a></li>
            <li><a href="https://circleci.com/partners/" data-analytics-child='{ "menu": "partner-with-us" }'>Partner With Us</a></li>
            <li><a href="https://circleci.com/newsroom/" data-analytics-child='{ "menu": "newsroom" }'>Newsroom</a></li>
          </ul>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-6">
          <h6>Getting Started</h6>
          <ul>
            <li><a href="https://circleci.com/continuous-integration/" data-analytics-child='{ "menu": "what-is-ci" }'>What is CI?</a></li>
            <li><a href="https://circleci.com/docs/2.0/" data-analytics-child='{ "menu": "how-to-get-started" }'>How to get started on CircleCI</a></li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="row margin-top-medium">
      <div class="col-md-2 col-xs-4">
        <img src="{{site.baseurl}}/assets/img/logos/logo-wordmark.svg" class="logo-small margin-top-small" alt="circleci">
      </div>
      <div class="col-md-4 col-md-offset-6 col-xs-offset-0 col-xs-8">
        <div class="text-center-small-float-right">
          {% include social-buttons.html %}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="margin-top-small text-center-small-float-left">
          <nav>
            <ul class="horizontal blue">
              <li><a href="https://circleci.com/terms-of-service/" data-analytics-child='{ "menu": "terms-of-service" }'>Terms of Service</a></li>
              <li><a href="https://circleci.com/privacy/" data-analytics-child='{ "menu": "privacy-policy" }'>Privacy Policy</a></li>
              <li><a href="https://circleci.com/legal/cookie-policy/" data-analytics-child='{ "menu": "cookie-policy" }'>Cookie Policy</a></li>
              <li><a href="https://circleci.com/security/" data-analytics-child='{ "menu": "security" }'>Security</a></li>
                <li class="language-select">
                  <div id="dropUp" class="dropup show">
                    <a class="dropdown-toggle"
                       role="button"
                       id="languageSelectDropdown"
                       data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false"
                    >
                      <img src="{{site.baseurl}}/assets/img/docs/ic-globe.svg" alt="globe" width="20"> English (US) <i class="fa fa-angle-up"></i></a>
                    <div class="dropdown-menu"  aria-labelledby="languageSelectDropdown">
                      <a class="dropdown-item active" href="#">English (US)</a>
                      <a class="dropdown-item" href="https://circleci.jp" data-analytics-child='{ "menu": "japan" }'>日本語</a>
                    </div>
                  </div>
                </li>
            </ul>
          </nav>
        </div>
        <div class="margin-top-small text-center-small-float-right">
          <span>Copyright © {{ site.time | date: '%Y' }} Circle Internet Services, Inc., All Rights Reserved.</span>
        </div>
      </div>
    </div>
  </div>
</footer>
