<div class="global-nav--component">
  <div class="container-semi-fluid">
    <a href="#main" class="nav-skip-button">
      Skip to content
    </a>
    <div class="global-nav--row-desktop">
      <div class="global-nav--row-mobile">
        <a href="{{ '/' | language_relative_url }}" class="flex flex-row items-center global-nav--lockup-link"
          data-analytics-action="click-outer-cta">

          <img width="125px" src="{{site.baseurl}}/assets/img/logos/logo-wordmark-black.svg" class="logo"
            alt="circleci"></img>
          <span class="global-nav--lockup-title">
            Docs
          </span>
        </a>
        <div>
          <a href="#" class="global-nav--search-button">
            {% include utility-icons/search.svg %}
          </a>
          <button type="button" class="global-nav--toggle collapsed" data-toggle="collapse" data-target="#global-nav"
            aria-expanded="false" aria-controls="blog-subnav">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar top-bar"></span>
            <span class="icon-bar middle-bar"></span>
            <span class="icon-bar bottom-bar"></span>
          </button>
          <div class="global-nav--search-bar">
            {% include main-searchbar.html %}
          </div>
        </div>
      </div>

      <nav class="collapse global-nav--nav" id="global-nav">
        <div class="divider"></div>

        {% include_cached mobile-sidebar.html site=site page=page sidenav=include.sidenav %}
        {% include_cached lang_picker.html %}
        <div class="global-nav--list global-nav--external-links">
          <a href="{{ '/' | outer_url }}" class="global-nav--external-link global-nav--list-item"
            data-analytics-action="click-outer-cta" target="_blank" rel="noopener noreferrer">
            <span>circleci.com</span>
            <span class="external-icon">{% include utility-icons/external.svg size="24" %}</span>
          </a>
        </div>

        <div class="global-nav--footer">
          <a href="{{ '/signup/' | outer_url }}" id='signup-cta' class="btn-primary visitor-item" target="_blank"
            data-analytics-action="click-outer-cta">
            Sign Up
          </a>
          <a href="https://app.circleci.com/dashboard" class="btn-primary dashboard-link">
            Go to Application
          </a>
        </div>
      </nav>
    </div>
  </div>
  <script>
    window.currentLang = "{{lang}}"
  </script>
</div>
