<nav class="nav-toggle two">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <div class="widescreen">
          <a href="https://circleci.com/"><img src="{{ '/assets/img/logos/logo-wordmark.svg' | prepend: site.baseurl }}" class="logo" alt="CircleCI Home"></a>

          <ul class="left-links main-nav">
            <li class="nav-item"><a href="#">Features</a>
              <div class="submenu">
                <ul class="subnav">
                  <li class="subnav-item"><a href="https://circleci.com/features/">Overview</a></li>
                  <li class="subnav-item"><a href="https://circleci.com/integrations/">Integrations</a></li>
                  <li class="subnav-item"><a href="https://circleci.com/mobile/">Mobile</a></li>
                </ul>
              </div>
            </li>
            
            <li class="nav-item"><a href="https://circleci.com/pricing/">Pricing</a></li>
            <li class="nav-item"><a href="https://circleci.com/enterprise/">Enterprise</a></li>
            <li class="nav-item"><a href="https://circleci.com/docs/">Docs</a></li>
            <li class="nav-item"><a href="https://circleci.com/customers/">Customers</a></li>
          </ul>
        
          <ul class="right-links main-nav">
            <li class="default-item nav-item"><a href="https://circleci.com/about/">Company</a>
              <div class="submenu">  
                <ul class="subnav">
                  <li class="subnav-item"><a href="https://circleci.com/about/">About Us</a></li>
                  <li class="subnav-item"><a href="https://circleci.com/about/team/">Team</a></li>
                  <li class="subnav-item"><a href="https://circleci.com/jobs/">Jobs</a></li>
                  <li class="subnav-item"><a href="https://circleci.com/contact/">Contact Us</a></li>
                  <li class="subnav-item"><a href="https://circleci.com/blog/">Blog</a></li>
                  <li class="subnav-item"><a href="https://circleci.com/press/">Press</a></li>
                </ul>
              </div>
            </li>
            <li class="default-item nav-item">Support
              <div class="submenu">
                <ul class="subnav">
                  <li class="subnav-item"><a href="https://discuss.circleci.com/" target="_blank">Community</a></li>
                  <li class="subnav-item"><a href="https://circleci.com/support/premium-support/">Premium Support</a></li>
                </ul>
              </div>
            </li>
            <li class="divider-left nav-item visitor-item"><a href="https://circleci.com/vcs-authorize/">Log in</a></li>
            <li class="nav-item visitor-item"><a class="btn-primary small" href="https://circleci.com/signup/">Sign up</a></li>
            <li class="dashboard-link desktop-nav divider-left"><a href="https://circleci.com/dashboard">Go to app</a></li>
          </ul>
        </div>

        <div class="narrowscreen">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mobile-navigation" aria-expanded="false" aria-controls="#mobile-navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar top-bar"></span>
            <span class="icon-bar middle-bar"></span>
            <span class="icon-bar bottom-bar"></span>
          </button>
          <img class="logo" src="{{ '/assets/img/logos/logo-wordmark.svg' | prepend: site.baseurl }}" alt="CircleCI Home">
          <span class="login">
            <a href="https://circleci.com/vcs-authorize/" data-hj-masked class="mobile-nav signup visitor-item">Log in</a>
            <a href="https://circleci.com/dashboard" class="dashboard-link mobile-nav">Go to app</a>
          </span>

          <ul class="dropdown-menu2">
            <li><a href="https://circleci.com/signup/" class="btn-primary">Sign up for free</a></li>
            <li class="arrow collapsed border-bottom"><i class="fa fa-angle-right" aria-hidden="true"></i>Features
              <ul class="subnav">
                <li class="subnav-item"><a href="https://circleci.com/features/">Overview</a></li>
                <li class="subnav-item"><a href="https://circleci.com/integrations/">Integrations</a></li>
                <li class="subnav-item"><a href="https://circleci.com/mobile/">Mobile</a></li>
              </ul>
            </li>
            <li class="border-bottom"><a href="https://circleci.com/enterprise/">Enterprise</a></li>
            <li class="border-bottom"><a href="https://circleci.com/pricing/">Pricing</a></li>
            <li class="border-bottom"><a href="https://circleci.com/docs/">Docs</a></li>
            <li class="border-bottom"><a href="https://circleci.com/customers/">Customers</a></li>
            <li class="arrow collapsed border-bottom"><i class="fa fa-angle-right" aria-hidden="true"></i>Company
              <ul class="subnav">
                <li class="subnav-item"><a href="https://circleci.com/about/">About CircleCI</a></li>
                <li class="subnav-item"><a href="https://circleci.com/about/team/">Team</a></li>
                <li class="subnav-item"><a href="https://circleci.com/jobs/">Jobs</a></li>
                <li class="subnav-item"><a href="https://circleci.com/contact/">Contact Us</a></li>
                <li class="subnav-item"><a href="https://circleci.com/blog/">Blog</a></li>
                <li class="subnav-item"><a href="https://circleci.com/press/">Press</a></li>
              </ul>
            </li>
            <li class="arrow collapsed"><i class="fa fa-angle-right" aria-hidden="true"></i>Support
              <ul class="subnav">
                <li class="subnav-item"><a href="https://discuss.circleci.com/" target="_blank">Community</a></li>
                <li class="subnav-item"><a href="https://circleci.com/support/premium-support/">Premium Support</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>