<nav class="nav-toggle two">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <div class="widescreen">
          <a href="/"><img src="{{ '/assets/img/logos/logo-wordmark.svg' | prepend: site.baseurl }}" class="logo" alt="CircleCI Home"></a>

          
          <ul class="left-links main-nav">
            <li class="nav-item"><a href="/features/">Features</a>
              <div class="submenu">
                <ul class="subnav">
                  <li class="subnav-item"><a href="/features/">Overview</a></li>
                  <li class="subnav-item"><a href="/integrations/">Integrations</a></li>
                  <li class="subnav-item"><a href="/mobile/">Mobile</a></li>
                </ul>
              </div>
            </li>
            
            <li class="nav-item"><a href="/pricing/">Pricing</a></li>
            <li class="nav-item"><a href="/enterprise/">Enterprise</a></li>
            <li class="nav-item">Developers
              <div class="submenu">  
                <ul class="subnav">
                  <li class="subnav-item"><a href="/docs/2.0/hello-world/">Getting Started</a></li>
                  <li class="subnav-item"><a href="/docs/">Documentation</a></li>
                  <li class="subnav-item"><a href="/integrations/">Integrations</a></li>
                  <li class="subnav-item"><a href="/docs/api/v1-reference/">API</a></li>
                </ul>
              </div>
            </li>
            <li class="default-item nav-item"><a href="/about/">Company</a>
              <div class="submenu">  
                <ul class="subnav">
                  <li class="subnav-item"><a href="/about/">About Us</a></li>
                  <li class="subnav-item"><a href="/about/team/">Team</a></li>
                  <li class="subnav-item"><a href="/jobs/">Jobs</a></li>
                  <li class="subnav-item"><a href="/contact/">Contact Us</a></li>
                  <li class="subnav-item"><a href="/blog/">Blog</a></li>
                  <li class="subnav-item"><a href="/newsroom/">Newsroom</a></li>
                </ul>
              </div>
            </li>
          </ul>
        
          <ul class="right-links main-nav">
            <li class="default-item nav-item">Support
              <div class="submenu">
                <ul class="subnav">
                  <li class="subnav-item"><a href="https://discuss.circleci.com/" target="_blank">Community Forum</a></li>
                  <li class="subnav-item"><a href="/support/premium-support/">Premium Support</a></li>
                </ul>
              </div>
            </li>
            <li class="divider-left nav-item visitor-item"><a href="/vcs-authorize/" data-hj-masked>Log In</a></li>
            <li class="nav-item visitor-item"><a class="btn-primary small" href="/signup/" data-analytics-action="signup-clicked" data-analytics-location="nav" data-optimizely="signup_button_clicked">Sign Up</a></li>
            <li class="dashboard-link desktop-nav divider-left"><a href="/dashboard">Go to app</a></li>
          </ul>
          
        </div>

        <div class="narrowscreen">
          
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mobile-navigation" aria-expanded="false" aria-controls="#mobile-navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar top-bar"></span>
            <span class="icon-bar middle-bar"></span>
            <span class="icon-bar bottom-bar"></span>
          </button>
          
          <a href="/"><img class="logo" src="/assets/logo-wordmark.svg" alt="CircleCI Home"></a>

          
          <span class="login">
            <a href="/vcs-authorize/" data-hj-masked class="mobile-nav signup visitor-item" data-analytics-location="nav" >Log In</a>
            <a href="/dashboard" class="dashboard-link mobile-nav">Go to app</a>
          </span>

          <ul class="dropdown-menu2" id="mobile-navigation">
            <li><a href="/signup/" data-analytics-action="signup-clicked" data-optimizely="signup_button_clicked" class="btn-primary">Sign Up for Free</a></li>
            <li class="arrow collapsed border-bottom"><i class="fa fa-angle-right" aria-hidden="true"></i>Features
              <ul class="subnav">
                <li class="subnav-item"><a href="/features/">Overview</a></li>
                <li class="subnav-item"><a href="/integrations/">Integrations</a></li>
                <li class="subnav-item"><a href="/mobile/">Mobile</a></li>
              </ul>
            </li>
            <li class="border-bottom"><a href="/pricing/">Pricing</a></li>
            <li class="border-bottom"><a href="/enterprise/">Enterprise</a></li>
            <li class="arrow collapsed border-bottom"><i class="fa fa-angle-right" aria-hidden="true"></i>Developers  
              <ul class="subnav">
                <li class="subnav-item"><a href="/docs/2.0/hello-world/">Getting Started</a></li>
                <li class="subnav-item"><a href="/docs/">Documentation</a></li>
                <li class="subnav-item"><a href="/integrations/">Integrations</a></li>
                <li class="subnav-item"><a href="/docs/api/v1-reference/">API</a></li>
              </ul>
            </li>
            <li class="arrow collapsed border-bottom"><i class="fa fa-angle-right" aria-hidden="true"></i>Company
              <ul class="subnav">
                <li class="subnav-item"><a href="/about/">About CircleCI</a></li>
                <li class="subnav-item"><a href="/about/team/">Team</a></li>
                <li class="subnav-item"><a href="/jobs/">Jobs</a></li>
                <li class="subnav-item"><a href="/contact/">Contact Us</a></li>
                <li class="subnav-item"><a href="/blog/">Blog</a></li>
                <li class="subnav-item"><a href="/newsroom/">Newsroom</a></li>
              </ul>
            </li>
            <li class="arrow collapsed"><i class="fa fa-angle-right" aria-hidden="true"></i>Support
              <ul class="subnav">
                <li class="subnav-item"><a href="https://discuss.circleci.com/" target="_blank">Community Forum</a></li>
                <li class="subnav-item"><a href="/support/premium-support/">Premium Support</a></li>
              </ul>
            </li>
          </ul>
          
        </div>
      </div>
    </div>
  </div>
</nav>