<head>
	<script src="https://cdn.optimizely.com/js/8188917468.js"></script>
	{% if page.url contains '/archive/' %}<meta name="robots" content="noindex, nofollow" />{% endif %}
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
	{% if page.redirect %}<meta http-equiv="refresh" content="0; url={{ page.redirect }}">{% endif %}
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

	<link href="https://d3r49iyjzglexf.cloudfront.net/favicon-066b37ff00f0f968b903c13ae88b5573b62665aea8fbe91bb61c55dfa9446523.ico" rel="icon" type="image/png" />
  <link rel="stylesheet" href="{{ "/assets/css/fonts.css" | prepend: site.baseurl }}" />
  <link rel="stylesheet" href="{{ "/assets/css/site.css" | prepend: site.baseurl }}" />
	<link rel="stylesheet" href="{{ "/assets/css/spacing.css" | prepend: site.baseurl }}" />
	<link rel="stylesheet" href="{{ "/assets/css/buttons.css" | prepend: site.baseurl }}" />
	<link rel="stylesheet" href="{{ "/assets/css/navbar.css" | prepend: site.baseurl }}" />
    <link rel="stylesheet" href="{{ "/assets/css/syntax.css" | prepend: site.baseurl }}" />
	<link rel="stylesheet" href="{{ "/assets/css/jquery.navgoco.css" | prepend: site.baseurl }}" type="text/css" media="screen" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
	<!-- End  -->
	<link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}" />
	<link rel='stylesheet' href="{{ "/assets/css/mobile.css" | prepend: site.baseurl }}" media="screen and (max-width: 800px)" />
	<link rel="stylesheet" href="{{ "/assets/css/footer.css" | prepend: site.baseurl }}" type="text/css" media="screen" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css" />
	<link rel="stylesheet" href="{{ "/assets/css/asciidoc.css" | prepend: site.baseurl }}">
	<title>{% if page.title %}{{ page.title | escape }} - CircleCI{% else %}{{ site.title | escape }} - CircleCI{% endif %}</title>
	{% include segment.html %}

	<!-- Instant Search CDN links /-->
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.10.2/dist/instantsearch.min.css">
	<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@2.10.2"></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.10.2/dist/instantsearch-theme-algolia.min.css">
	<script src="https://cdn.jsdelivr.net/npm/js-cookie@2.2.0/src/js.cookie.min.js"></script>
</head>
