<div>
  <script type="text/javascript" src="{{ site.baseurl }}/{% ministamp assets/js/vendor.min.js assets/vendor.min.js %}"></script>
  <script type="text/javascript" src="https://unpkg.com/@popperjs/core@2.4.4/dist/umd/popper.min.js"></script>
  {% include_cached rollbar.html site=site %}
  <script type="text/javascript" src="{{ site.baseurl }}/{% ministamp assets/js/app.bundle.js assets/app.bundle.js %}"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/{% ministamp assets/js/site.min.js assets/site.min.js %}"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/{% ministamp assets/js/jquery.cookie.min.js assets/jquery.cookie.min.js %}"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/{% ministamp assets/js/main.js assets/main.js %}"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/{% ministamp assets/js/nav.js assets/nav.js %}"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/{% ministamp assets/js/shared/components/subnav.js assets/shared/components/subnav.js %}"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/{% ministamp assets/js/shared/analytics-recursive-tracking.js assets/shared/analytics-recursive-tracking.js %}"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.js"></script>
</div>