<div>
  <script type="text/javascript" src="{{ site.baseurl }}/{% ministamp assets/js/vendor.bundle.js assets/vendor.bundle.js %}"></script>
  {% include_cached rollbar.html site=site %}
  <script type="text/javascript" src="{{ site.baseurl }}/{% ministamp assets/js/app.bundle.js assets/app.bundle.js %}"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/{% ministamp assets/js/shared/components/subnav.js assets/shared/components/subnav.js %}"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/{% ministamp assets/js/shared/analytics-recursive-tracking.js assets/shared/analytics-recursive-tracking.js %}"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.js"></script>
</div>
