<div class="global-nav--list global-nav--external-links lang-selector-wrapper">
  <div class="lang-picker-mobile-dimmer"></div>

  <button id="globe-lang-btn" class="global-nav--language-picker" data-analytics-action="click-outer-cta">
    <img src='{{ site.baseurl }}/assets/img/compass/globe.svg' class="globe-icon"></img>
    <span class="lang-picker-mobile">Select Language</span>
  </button>


  <!-- this section combines design for mobile and desktop. -->
  <div id="lang-picker" class="lang-picker">
    <div class="mobile-top-row">

      <button id="lang-picker-back-button" class="lang-picker-icon-btn clickable">
        <img class="back-btn arrow" src="{{ site.baseurl }}/assets/img/docs/arrow-green-right.svg">
      </button>

      <div class="select-language">Select Language</div>

      <button id="lang-picker-close-button" class="lang-picker-icon-btn">
        <img src="{{ site.baseurl }}/assets/img/docs/close.svg">
      </button>

    </div>

    <div class="lang-dropdown">
      <a id="globalNavLang-en" class="lang-option">
        <span class='select-lang-wrap'>
          <img id='select-lang' class="not-visible"
            src="{{ site.baseurl }}/assets/img/docs/greenCheck.svg"><span>English</span>
        </span>
        <img class="right-arrow" src="{{ site.baseurl }}/assets/img/docs/arrow-green-right.svg">
      </a>

      <a id="globalNavLang-ja" class="lang-option">
        <span class='select-lang-wrap'>
          <img id='select-lang' class="not-visible"
            src="{{ site.baseurl }}/assets/img/docs/greenCheck.svg"><span>日本語</span>
        </span>
        <img class="right-arrow" src="{{ site.baseurl }}/assets/img/docs/arrow-green-right.svg">
      </a>

      <div class="lang-request-form">
        <span class="lang-form-title">Request a language</span>
        <input id="lang-req" class="lang-form" type="text" placeholder="Language" maxLength='12' autocomplete="off">
        <button id="submit-lang-btn" disabled>Submit</button>
      </div>
    </div>
  </div>
</div>
