<div class="global-nav--list global-nav--external-links lang-selector-wrapper">
  <div class="lang-picker-mobile-dimmer"></div>

  <button id="globe-lang-btn" class="global-nav--language-picker" data-analytics-action="click-outer-cta">
    <span class="globe-icon">{% include utility-icons/globe.svg size="24" %}</span>
    <span class="lang-picker-mobile">Select Language</span>
  </button>

  <div id="lang-picker" class="lang-picker">
    <div class="mobile-top-row">

      <button id="lang-picker-back-button" class="lang-picker-icon-btn">
        <img class="back-btn arrow" src="{{ site.baseurl }}/assets/img/docs/arrow-green-right.svg">
      </button>

      <!-- TODO: figure out if "Select Language" that needs to be translated -->
      <div class="select-language">Select Language</div>

      <button id="lang-picker-close-button" class="lang-picker-icon-btn">
        <img src="{{ site.baseurl }}/assets/img/docs/close.svg">
      </button>

    </div>

    <div class="lang-dropdown">
        <a id="globalNavLangEng" class="lang-option">
          <span>English</span>
          <img class="right-arrow" src="{{ site.baseurl }}/assets/img/docs/arrow-green-right.svg">
        </a>

        <a id="globalNavLangJap" class="lang-option">
          <span>日本語</span>
          <img class="right-arrow" src="{{ site.baseurl }}/assets/img/docs/arrow-green-right.svg">
        </a>
    </div>
  </div>
</div>
