<!-- MOBILE SUBNAV /-->
<div class="sidebar-mobile-wrapper">
    <nav class="mobile-sidebar">
      {% assign lang = page.lang %}
      {% assign sidenav = site.data.sidenav[lang] %}
      {% assign url_slug = current_url | slugify %}

      {% for main-item in sidenav %}
        <ul>
          {% assign section_slug = main-item.name | slugify %}
          <li class="main-nav-item closed" data-section="{{ section_slug }}">
            <div class="list-wrap">
              {% if main-item.icon %}
                <img class="icon" src="{{ site.baseurl }}/{% ministamp { source_path: 'assets/img/{{ main-item.icon }}', destination_path: 'assets/{{ main-item.icon }}' } %}">
              {% endif %}

              {% if main-item.i18n_name %}
                {% assign display_name = main-item.i18n_name %}
              {% else %}
                {% assign display_name = main-item.name %}
              {% endif %}

              {% if main-item.link %}
                {% assign link_slug = main-item.link | slugify %}
                <a class="{% if url_slug == link_slug %} active {% endif %}"
                  href="{{ site.baseurl }}/{{ main-item.link }}{% if sub-item.hash %}#{{sub-item.hash}}{% endif %}"
                  data-section="{{ section_slug }}"
                  data-proofer-ignore>{{ display_name}}</a>
              {% else %}
                <span class="nav-span">{{ display_name}}</span>
              {% endif %}

              {% if main-item.children %}
                <img class="arrow" crossorigin="anonymous" src="{{ site.baseurl }}/{% ministamp assets/img/docs/arrow-right.svg assets/docs/arrow-right.svg %}">
              {% endif %}
            </div>

            {% comment %} children of top level items {% endcomment %}
            {% if main-item.children %}
            <ul class="subnav">
              {% for item in main-item.children %}
                {% if item.i18n_name %}
                  {% assign display_name = item.i18n_name %}
                {% else %}
                  {% assign display_name = item.name %}
                {% endif %}
              {% if item.children %}
                {% if item.name %}
                  <li class="nav-item">
                    {% if item.link %}
                      {% assign link_slug = item.link | slugify %}
                      <a class="{% if url_slug == link_slug %} active {% endif %}"
                        href="{{ site.baseurl }}/{{ item.link }}{% if item.hash %}#{{item.hash}}{% endif %}"
                        data-section="{{ section_slug }}"
                        data-proofer-ignore>{{ display_name }}
                      </a>
                    {% else %}
                      <span class="subheading">{{display_name}}</span>
                    {% endif %}
                  </li>
              {% endif %}

              <ul>
                {% for sub-item in item.children %}
                {% if sub-item.i18n_name %}
                  {% assign display_name = sub-item.i18n_name %}
                {% else %}
                  {% assign display_name = sub-item.name %}
                {% endif %}
                <li class="subnav-item">
                  {% assign link_slug = sub-item.link | slugify %}
                  <a class="{% if url_slug == link_slug %} active {% endif %}"
                    href="{{ site.baseurl }}/{{ sub-item.link }}{% if item.hash %}#{{item.hash}}{% endif %}"
                    data-section="{{ section_slug }}"
                    data-proofer-ignore>{{ display_name }}</a>
                </li>
                {% endfor %}
              </ul>

              {% else %}

              {% if item.i18n_name %}
                {% assign display_name = item.i18n_name %}
              {% else %}
                {% assign display_name = item.name %}
              {% endif %}
              <li class="subnav-item">
                {% assign link_slug = item.link | slugify %}
                <a class="{% if url_slug == link_slug %} active {% endif %}"
                  href="{{ site.baseurl }}/{{ item.link }}{% if item.hash %}#{{item.hash}}{% endif %}"
                  data-section="{{ section_slug }}">
                  {{display_name}}
                </a>
              </li>

              {% endif %}
              {% endfor %}
            </ul>
            {% endif %}
          </li>
        </ul>
      {% endfor %}
    </nav>
</div>
