{% if include.trusty %}
	{% assign trusty = include.trusty %}
{% else %}
	{% assign trusty = "n/a" %}
{% endif %}
{% if include.precise %}
	{% assign precise = include.precise %}
{% else %}
	{% assign precise = "n/a" %}
{% endif %}
{% if include.macos %}
	{% assign macos = include.macos %}
{% else %}
	{% assign macos = "n/a" %}
{% endif %}
<div class="os-matrix">
	<p><span>Ubuntu 14.04:</span>{{ trusty }}</p>
	<p><span>Ubuntu 12.04:</span>{{ precise }}</p>
	<p><span>macOS:</span>{{ macos }}</p>
</div>
