<div class="popup-bg"/>

<div class="popup-content"
     style="background-image: url({{site.baseurl}}/assets/img/docs/modal-bg-pattern.svg)"
>
  <img width="125px"
       src="{{site.baseurl}}/assets/img/logos/logo-wordmark-black.svg"
       class="logo"
       alt="circleci"/>
  <h2 class="heading">6,000 Minutes Free</h2>
  <h3 class="sub-heading">CircleCI, now with more build minutes <br> than anyone else for FREE 🎉</h3>
  <a class="popup-signup-cta" target="_blank" href="https://circleci.com/signup/">Sign up for Free</a>

  <div class="teams-callout-wrapper">
    <h3 class="teams-callout">These teams get it</h3>
    <div class="popup-bottom-row">
        <img alt="CCI customer teams" class="popup-teams-bubbles" crossorigin="anonymous" src="{{ site.baseurl }}/assets/img/docs/cci_customer_teams.png">
        <button class="popup-skip-btn">
        <span class="skip-text">Skip</span>
        <img alt="arrow-right" class="arrow" crossorigin="anonymous" src="{{ site.baseurl }}/assets/img/docs/arrow-right.svg">
        </button>
    </div>
  </div>
</div>
