{% assign section = site.collections | where:"label",page.collection | first %}
<a href="#" id="nav-button">Menu</a>
<nav class="sidebar">
	Section:
	<select onchange="window.location.assign(this.options[this.selectedIndex].value)">
		<option value="{{ site.baseurl }}/">Docs Home</option>
		{% for collection in site.collections %}
		{% unless collection.site_section %}{% continue %}{% endunless %}
		<option value="{{ site.baseurl }}{{ collection.prefix }}/" {% if collection.label == section.label %}selected{% endif %}>{{ collection.selectorName }}</option>
		{% endfor %}
	</select>
	<hr />
	{% if page.page-type != "homepage" %}
		<ul id="mysidebar" class="nav">
		{% capture sidebar %}
			<li><a href="{{ site.baseurl }}{{ section.prefix }}/"><i class="fa fa-book"></i> {{ section.name }} Index Page</a></li>
    	<p><a style="display: inline" id="expandAll" href="#">Expand All</a> / <a style="display: inline" id="collapseAll" href="#">Collapse All</a></p>
			{% if page.collection == "cci2" %}
				<ul class="left-links main-nav" style="display: block;">
			  	<li class="nav-item active"><a href="" class="header"><h3>Cloud</h3></a>
							<div class="submenu" style="margin: 10px;">
								<ul>
									<li><a href="{{ site.baseurl }}/2.0/basics/">Basics</a></li>
									<li><a href="{{ site.baseurl }}/2.0/tutorials/">Tutorials & Guides</a></li>
									<li><a href="{{ site.baseurl }}/2.0/workflows/">Workflows</a></li>
									<li><a href="{{ site.baseurl }}/2.0/build/">Build</a></li>
									<li><a href="{{ site.baseurl }}/2.0/test/">Test</a></li>
									<li><a href="{{ site.baseurl }}/2.0/deployment_integrations/">Deploy</a></li>
									<li><a href="{{ site.baseurl }}/2.0/reference/">Reference</a></li>
								</ul>
							</div>
						</li>

					<li class="nav-item active"><a href="" class="header"><h3>Server</h3></a>
						<div class="submenu" style="margin: 10px;">
							<ul>
								<li><a href="{{ site.baseurl }}/2.0/overview/">Overview</a></li>
								<li><a href="{{ site.baseurl }}/2.0/single-box/">Trial</a></li>
								<li><a href="{{ site.baseurl }}/2.0/admin-faq/">FAQ</a></li>
								<li><a href="{{ site.baseurl }}/2.0/upgrading/">Upgrade</a></li>
								<li><a href="{{ site.baseurl }}/2.0/security/">Security</a></li>
								<li><a href="{{ site.baseurl }}/2.0/aws/">Installation</a></li>
								<li><a href="{{ site.baseurl }}/2.0/high-availability/">High Availability</a></li>
								<li><a href="{{ site.baseurl }}/2.0/monitoring/">Monitoring</a></li>
								<li><a href="{{ site.baseurl }}/2.0/nomad/">Nomad</a></li>
								<li><a href="{{ site.baseurl }}/2.0/backup/">Backup</a></li>
								<li><a href="{{ site.baseurl }}/2.0/open-source/">Acknowledgments</a></li>
							</ul>
						</div>
					</li>
				</ul>
			{% endif %}
		{% endcapture %}
		{{ sidebar | strip_newlines }}
		</ul>
	{% endif %}
</nav>
