
<nav class="sidebar">

		<ul id="mysidebar" class="nav">
		{% capture sidebar %}
			<ul class="left-links main-nav">
<!--
<p><a style="display: inline" id="expandAll" href="#">Expand All</a> / <a style="display: inline" id="collapseAll" href="#">Collapse All</a></p>
				<li class="nav-item"><a href="{{ site.baseurl }}/2.0/migration/"><b><h2>Migration</h2></b></a>
						<ul class="subnav" margin="40px">
								<li class="subnav-item"><a href="https://circleci.com/product/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Migrating a Linux Project</a></li>
				        <li class="subnav-item"><a href="https://circleci.com/product/#how-it-works">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Migrating an iOS Project</a></li>
				        <li class="subnav-item"><a href="https://circleci.com/product/#features">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Using the 1.0 to 2.0 config-translation Endpoint</a></li>
						</ul>
					</div>
				</li>
-->
				<ul class="left-links main-nav">
					<li class="nav-item"><a href="{{ site.baseurl }}/"><b><h3><img src="{{ site.baseurl }}/assets/img/docs/welcome.svg">&nbsp;&nbsp;Welcome</h3></b></a>
						<div class="submenu">
							<ul class="subnav" margin="40px">
								<li class="subnav-item"><a href="{{ site.baseurl }}/2.0/about-circleci/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CI/CD Overview</a></li>
						<li class="subnav-item"><a href="{{ site.baseurl }}/2.0/demo-apps/"><h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Supported Languages</h5></a>
							</ul>
                                                  </div>
                                             </li>
					<li><a href="{{ site.baseurl }}/2.0/"><b><h3><img src="{{ site.baseurl }}/assets/img/docs/start.svg">&nbsp;&nbsp;Getting Started</h3></b></a>
                                                     <div class="submenu">
							<ul class="subnav" margin="40px">
								<li class="subnav-item"><a href="{{ site.baseurl }}/2.0/getting-started/"><h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;INTRODUCTION</h5></a>
								<li class="subnav-item"><a href="{{ site.baseurl }}/2.0/first-steps/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sign Up & Try CircleCI</a></li>
								<li class="subnav-item"><a href="{{ site.baseurl }}/2.0/hello-world/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hello World</a></li>
								<li class="subnav-item"><a href="{{ site.baseurl }}/2.0/faq/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;FAQ</a></li>
								<li class="subnav-item"><a href="{{ site.baseurl }}/2.0/concepts/"><h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CONCEPTS</h5></a>
									<ul class="subnav">
									<li class="subnav-item"><a href="{{ site.baseurl }}/2.0/project-build/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Projects and Builds</a></li>
									<li class="subnav-item"><a href="{{ site.baseurl }}/2.0/jobs-steps/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Jobs, Steps, and Workflows</a></li>
					        <li class="subnav-item"><a href="{{ site.baseurl }}/2.0/migrating-from-jenkins/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Differences from Jenkins</a></li>
									<li class="subnav-item"><a href="{{ site.baseurl }}/2.0/security/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Security</a></li>
									</ul>
								<li class="nav-item"><a href="{{ site.baseurl }}/2.0/migration-intro/"><h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;MIGRATION</h5></a>
											<ul class="subnav" >
												  <li class="subnav-item"><a href="{{ site.baseurl }}/2.0/migration/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tips for Migrating to 2.0</a></li>
													<li class="subnav-item"><a href="{{ site.baseurl }}/2.0/migrating-from-1-2/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Migrating a Linux Project</a></li>
									        <li class="subnav-item"><a href="{{ site.baseurl }}/2.0/ios-migrating-from-1-2/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Migrating an iOS Project</a></li>
									        <li class="subnav-item"><a href="{{ site.baseurl }}/2.0/config-translation/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Using the config-translator</a></li>
												</ul>

						</div>
					</li>
					<ul class="left-links main-nav">
						<li class="nav-item"><a href="{{ site.baseurl }}/2.0/config-start/"><b><h3><img src="{{ site.baseurl }}/assets/img/docs/config.svg">&nbsp;&nbsp;Configuration</h3></b></a>
							<div class="submenu">
								<ul class="subnav" margin="40px">
									<li class="subnav-item"><a href="{{ site.baseurl }}/2.0/config-intro/"><h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;INTRODUCTION</h5></a></li>
									<li class="subnav-item"><a href="{{ site.baseurl }}/2.0/configuration-reference/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Configuration Reference</a></li>
									<li class="subnav-item"><a href="{{ site.baseurl }}/2.0/writing-yaml/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Writing YAML</a></li>
									<li class="subnav-item"><a href="{{ site.baseurl }}/2.0/local-jobs/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Using the CircleCI CLI</a></li>
									<li class="subnav-item"><a href="{{ site.baseurl }}/2.0/examples/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Testing Config Locally</a></li>

									<li class="subnav-item"><a href="{{ site.baseurl }}/2.0/examples-intro/"><h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;EXAMPLES</h5></a>
	 								  <ul class="subnav">
											<li class="subnav-item"><a href="{{ site.baseurl }}/2.0/sample-config/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sample config.yml Files</a>
	 											<li class="subnav-item"><a href="{{ site.baseurl }}/2.0/tutorials/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tutorials</a></li>
												<li class="subnav-item"><a href="{{ site.baseurl }}/2.0/postgres-config/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Database Config Examples</a></li>
												<li class="subnav-item"><a href="{{ site.baseurl }}/2.0/example-configs/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Example Public Repos</a></li>
												<li class="subnav-item"><a href="{{ site.baseurl }}/2.0/testing-ios/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Testing iOS Applications</a></li>
           </ul>
					 <li class="subnav-item"><a href="{{ site.baseurl }}/2.0/executor-intro/"><h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;EXECUTORS & IMAGES</h5></a>
						 <ul class="subnav">
					 	 <li class="subnav-item"><a href="{{ site.baseurl }}/2.0/executor-types/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Choosing an Executor Type</a></li>
	 	<li class="subnav-item"><a href="{{ site.baseurl }}/2.0/circleci-images/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CircleCI Docker Images</a></li>
		<li class="subnav-item"><a href="{{ site.baseurl }}/2.0/custom-images/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Using Custom Images</a></li>
		<li class="subnav-item"><a href="{{ site.baseurl }}/2.0/private-images/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Using Private Images</a></li>
 </ul>

					 <li class="subnav-item"><a href="{{ site.baseurl }}/2.0/adv-config/"><h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ADVANCED CONFIG</h5></a>
						 <ul class="subnav">
							 <li class="subnav-item"><a href="{{ site.baseurl }}/2.0/using-shell-scripts/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Using Shell Scripts</a></li>
							 <li class="subnav-item"><a href="{{ site.baseurl }}/2.0/browser-testing/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Setting up Browser Testing</a></li>
							 <li class="subnav-item"><a href="{{ site.baseurl }}/2.0/databases/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Configuring Databases</a></li>
							 <li class="subnav-item"><a href="{{ site.baseurl }}/2.0/building-docker-images/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Running Docker Commands</a></li>
							 <li class="subnav-item"><a href="{{ site.baseurl }}/2.0/docker-compose/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Using Docker Compose</a></li>

						 </ul>
</div>
<ul class="left-links main-nav">
	<li class="nav-item"><a href="{{ site.baseurl }}/2.0/projects/"><b><h3><img src="{{ site.baseurl }}/assets/img/docs/project.svg">&nbsp;&nbsp;Projects</h3></b></a>
		<div class="submenu">
			<ul class="subnav" margin="40px">
				<li class="subnav-item"><a href="{{ site.baseurl }}/2.0/settings/"><h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SETTINGS</h5></a>
					<ul class="subnav">
					<li class="subnav-item"><a href="{{ site.baseurl }}/2.0/gh-bb-integration/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;GitHub and Bitbucket</a></li>
					<li class="subnav-item"><a href="{{ site.baseurl }}/2.0/oss/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Building Open Source Projects</a></li>
					<li class="subnav-item"><a href="{{ site.baseurl }}/2.0/notifications/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Using Notifications</a></li>
					<li class="subnav-item"><a href="{{ site.baseurl }}/2.0/managing-api-tokens/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Managing API tokens</a></li>
					<li class="subnav-item"><a href="{{ site.baseurl }}/2.0/env-vars/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Using Environment Variables</a></li>
					<li class="subnav-item"><a href="{{ site.baseurl }}/2.0/contexts/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Using Contexts</a></li>
					<li class="subnav-item"><a href="{{ site.baseurl }}/2.0/ios-codesigning/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Setting Up iOS Code Signing</a></li>
</ul>
	<ul class="subnav" margin="40px">
		<li class="subnav-item"><a href="{{ site.baseurl }}/2.0/optimizations/"><h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;OPTIMIZATIONS</h5></a>
			<ul class="subnav">
							 <li class="subnav-item"><a href="{{ site.baseurl }}/2.0/caching/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Caching Dependencies</a></li>
							<li class="subnav-item"><a href="{{ site.baseurl }}/2.0/parallelism-faster-jobs/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Running Tests in Parallel</a></li>
							<li class="subnav-item"><a href="{{ site.baseurl }}/2.0/docker-layer-caching/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Using Docker Layer Caching</a></li>
						</ul>
		</div>
	</li>
						<ul class="left-links main-nav">
							<li class="nav-item"><a href="{{ site.baseurl }}/2.0/build/"><b><h3><img src="{{ site.baseurl }}/assets/img/docs/builds.svg">&nbsp;&nbsp;Jobs</h3></b></a>
								<div class="submenu">
									<ul class="subnav" margin="40px">
										<li class="subnav-item"><a href="{{ site.baseurl }}/2.0/status/"><h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;STATUS</h5></a>
											<ul class="subnav">
												<li class="subnav-item"><a href="{{ site.baseurl }}/2.0/containers/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Using Containers</a></li>
											<li class="subnav-item"><a href="{{ site.baseurl }}/2.0/status-badges/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Adding Status Badges</a></li>
											<li class="subnav-item"><a href="{{ site.baseurl }}/2.0/artifacts/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Storing Build Artifacts</a></li>
							        <li class="subnav-item"><a href="{{ site.baseurl }}/2.0/ssh-access-jobs/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Debugging with SSH</a></li>
											<li class="subnav-item"><a href="{{ site.baseurl }}/2.0/collect-test-data/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Collecting Test Metadata</a></li>
						</ul>
						     <ul class="subnav" margin="40px">
							     <li class="subnav-item"><a href="{{ site.baseurl }}/2.0/triggers/"><h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TRIGGERS</h5></a>
								     <ul class="subnav">
														<li class="subnav-item"><a href="{{ site.baseurl }}/2.0/skip-build/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Skip and Cancel Builds</a></li>
										        <li class="subnav-item"><a href="{{ site.baseurl }}/2.0/api-job-trigger/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Using the API to Trigger Jobs</a></li>
														<li class="subnav-item"><a href="{{ site.baseurl }}/2.0/workflows/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Orchestrating Workflows</a></li>
									</ul>
								</div>
							</li>


									<ul class="left-links main-nav">
											<li class="nav-item"><a href="{{ site.baseurl }}/2.0/deployment/"><b><h3><img src="{{ site.baseurl }}/assets/img/docs/deploy.svg">&nbsp;&nbsp;Deployment</h3></b></a>
												<div class="submenu">
													<ul class="subnav" margin="40px">
														<li class="subnav-item"><a href="{{ site.baseurl }}/2.0/deployment-integrations/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Configuring Deploys</a></li>
														<li class="subnav-item"><a href="{{ site.baseurl }}/2.0/yarn/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Using Yarn on CircleCI</a></li>
													 <li class="subnav-item"><a href="{{ site.baseurl }}/2.0/build-publish-snap-packages/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Publishing Snap Packages</a></li>
													 <li class="subnav-item"><a href="{{ site.baseurl }}/2.0/artifactory/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Using Artifactory</a></li>

													</ul>
												</div>

											</li>

													<ul class="left-links main-nav">
														<li class="nav-item"><a href="{{ site.baseurl }}/2.0/reference/"><b><h3><img src="{{ site.baseurl }}/assets/img/docs/reference.svg">&nbsp;&nbsp;Reference</h3></b></a>
															<div class="submenu">
																<ul class="subnav" margin="40px">
																		<li class="subnav-item"><a href="{{ site.baseurl }}/2.0/configuration-reference/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Configuration Reference</a></li>
																		<li class="subnav-item"><a href="{{ site.baseurl }}/api/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;API Reference</a></li>
																		<li class="subnav-item"><a href="{{ site.baseurl }}/2.0/circleci-images/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Prebuilt Images</a></li>
																								<li class="subnav-item"><a href="{{ site.baseurl }}/2.0/glossary/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Glossary</a></li>
																		<li class="subnav-item"><a href="{{ site.baseurl }}/2.0/help-and-support/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Help and Support</a></li>
																		
																</ul>
															</div>
														</li>
																<ul class="left-links main-nav">
																<li class="nav-item active"><a href="" class="header"><h3><img src="{{ site.baseurl }}/assets/img/docs/admin.svg">&nbsp;&nbsp;Administration</h3></a>
							<div class="submenu">
								<ul class="subnav" margin="40px">
									<li><a href="{{ site.baseurl }}/2.0/overview/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Overview</a></li>
									<li><a href="{{ site.baseurl }}/2.0/single-box/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Trial</a></li>
									<li><a href="{{ site.baseurl }}/2.0/admin-faq/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;FAQ</a></li>
									<li><a href="{{ site.baseurl }}/2.0/upgrading/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Upgrade</a></li>
									<li><a href="{{ site.baseurl }}/2.0/security/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Security</a></li>
									<li><a href="{{ site.baseurl }}/2.0/certificates/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Certificates</a></li>
									<li><a href="{{ site.baseurl }}/2.0/proxy/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Proxies</a></li>
									<li><a href="{{ site.baseurl }}/2.0/aws/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Installation</a></li>
									<li><a href="{{ site.baseurl }}/2.0/authentication/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Authentication</a></li>
									<li><a href="{{ site.baseurl }}/2.0/monitoring/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Monitoring</a></li>
									<li><a href="{{ site.baseurl }}/2.0/nomad/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nomad</a></li>
									<li><a href="{{ site.baseurl }}/2.0/backup/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Backup</a></li>
									<li><a href="{{ site.baseurl }}/2.0/troubleshooting/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Troubleshooting</a></li>
									<li><a href="{{ site.baseurl }}/2.0/gpu/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;GPU Builders</a></li>
									<li><a href="{{ site.baseurl }}/2.0/vm-service">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Configuring VM Service</a></li>
									<li><a href="{{ site.baseurl }}/2.0/open-source/">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Acknowledgments</a></li>
	</ul>
															</div>
														</li>





			{% if page.collection == "cci1" %}

						{% assign cats = site.data.categories | where:"section",section.label %}
						{% for cat in cats %}
							{% if cat.index %}
								{% assign catPage = cat.index %}
							{% else %}
								{% assign catPage = cat.slug %}
							{% endif %}
							<ul>
								<li><a href="#">{{ cat.name }}</a>
									<ul>
										{% assign sortedDocs = site.documents | where:"collection",section.label | sort: 'order' %}
											{% for doc in sortedDocs %}
												{% if doc.categories contains cat.slug and doc.slug != catPage and doc.hide != true %}
													{% if doc.short-title %}
														{% assign title = doc.short-title %}
													{% else %}
														{% assign title = doc.title %}
													{% endif %}

													{% if doc.children %}
														{% capture title %}{{ title }} ({{ doc.children | size }}){% endcapture %}
													{% endif %}
													<li  style="margin: 10px;" class="{% if page.url == doc.url %}active{% endif %}"><a href="{{ site.baseurl }}{{ doc.url }}">{{ title }}</a></li>
												{% endif %}
											{% endfor %}
									</ul>
								</li>
							</ul>
						{% endfor %}
				{% endif %}
				{% if page.collection == "ccie" %}
			<p><a style="display: inline" id="expandAll" href="#">Expand All</a> / <a style="display: inline" id="collapseAll" href="#">Collapse All</a></p>
							{% assign cats = site.data.categories | where:"section",section.label %}
							{% for cat in cats %}
								{% if cat.index %}
									{% assign catPage = cat.index %}
								{% else %}
									{% assign catPage = cat.slug %}
								{% endif %}
								<ul>
									<li><a href="#">{{ cat.name }}</a>
										<ul>
											{% assign sortedDocs = site.documents | where:"collection",section.label | sort: 'order' %}
												{% for doc in sortedDocs %}
													{% if doc.categories contains cat.slug and doc.slug != catPage and doc.hide != true %}
														{% if doc.short-title %}
															{% assign title = doc.short-title %}
														{% else %}
															{% assign title = doc.title %}
														{% endif %}

														{% if doc.children %}
															{% capture title %}{{ title }} ({{ doc.children | size }}){% endcapture %}
														{% endif %}
														<li  style="margin: 10px;" class="{% if page.url == doc.url %}active{% endif %}"><a href="{{ site.baseurl }}{{ doc.url }}">{{ title }}</a></li>
													{% endif %}
												{% endfor %}
										</ul>
									</li>
								</ul>
							{% endfor %}
					{% endif %}
		{% endcapture %}
		{{ sidebar | strip_newlines }}
		</ul>

</nav>
