<a href="#" id="nav-button">NAV</a>
<nav class="sidebar">
	<ul class="list-unstyled">
	{% capture sidebar %}

	{% if page.collection == "ccie" %}
			<p>Looking for non-enterprise docs? <a href="{{ site.baseurl }}/">CircleCI.com Docs</a></p>
		{% for category in site.data.categories %}
		{% if category.section == "ccie" %}
                        <li><a href="{{ site.baseurl }}/enterprise/{{ category.slug }}/">{{ category.name }}</a>
                                <ul class="list-unstyled">
								{% assign sortedDocs = site.documents | where:"collection",page.collection | sort: 'order' %}
                                {% for doc in sortedDocs %}
                                        {% if doc.categories contains category.slug and doc.slug != category.slug and doc.hide != true and doc.section == "enterprise" %}
                                                {% if doc.short-title %}
                                                        {% assign title = doc.short-title %}
                                                {% else %}
                                                        {% assign title = doc.title %}
                                                {% endif %}

                                                {% if doc.children %}
                                                        {% capture title %}{{ title }} ({{ doc.children | size }}){% endcapture %}
                                                {% endif %}

                                                <li class="{% if page.path contains doc.url %}active{% endif %}"><a href="{{ site.baseurl }}{{ doc.url }}">{{ title }}</a></li>
                                        {% endif %}
                                {% endfor %}
                                </ul>
                        </li>
		{% endif %}
		{% endfor %}
	{% else %}
	<p>Looking for Enterprise docs? <a href="{{ site.baseurl }}/enterprise">CircleCI Enterprise Docs</a></p>
	{% for category in site.data.categories %}
	{% if category.section == "cci1" %}
		{% if category.index %}
			{% assign catFile = category.index %}
		{% else %}
			{% assign catFile = category.slug %}
		{% endif %}
                <li><a href="{{ site.baseurl }}/{{ catFile }}/">{{ category.name }}</a>
                        <ul class="list-unstyled">
                        {% for doc in site.docs %}
                                {% if doc.categories contains category.slug and doc.slug != catFile and doc.hide != true and doc.section == "cci1" %}
                                        {% if doc.short-title %}
                                                {% assign title = doc.short-title %}
                                        {% else %}
                                                {% assign title = doc.title %}
                                        {% endif %}

                                        {% if doc.children %}
                                                {% capture title %}{{ title }} ({{ doc.children | size }}){% endcapture %}
                                        {% endif %}

                                        <li class="{% if page.path contains doc.url %}active{% endif %}"><a href="{{ site.baseurl }}{{ doc.url }}">{{ title }}</a></li>
                                {% endif %}
                        {% endfor %}
                        </ul>
                </li>
	{% endif %}
	{% endfor %}
	{% endif %}
	{% endcapture %}
	{{ sidebar | strip_newlines }}
	</ul>
</nav>
