<div class="social-container row">
  <div class="social-btns col-xs-12">
    <a href="{{ site.url }}/blog/feed.xml" class="social-btn-rss" title="RSS">
      <i class="fa fa-rss" aria-hidden="true"></i><span class="sr-only">RSS</span>
    </a>
    <a href="https://www.facebook.com/circleci" target="_blank" class="social-btn-facebook" title="Facebook">
      <i class="fa fa-facebook-official" aria-hidden="true"></i><span class="sr-only">Facebook</span>
    </a>
    <a href="https://twitter.com/circleci" target="_blank" class="social-btn-twitter" title="Twitter">
      <i class="fa fa-twitter" aria-hidden="true"></i><span class="sr-only">Twitter</span>
    </a>
    <a href="https://github.com/circleci" target="_blank" class="social-btn-github" title="GitHub">
      <i class="fa fa-github" aria-hidden="true"></i><span class="sr-only">GitHub</span>
    </a>
    <a href="https://www.linkedin.com/company/circleci" target="_blank" class="social-btn-linkedin" title="LinkedIn">
      <i class="fa fa-linkedin" aria-hidden="true"></i><span class="sr-only">LinkedIn</span>
    </a>
  </div>
</div>