<div class="alert alert-info" role="alert">
<p>
    <b>WARNING: This document is no longer being updated!</b> We’re sunsetting CircleCI 1.0: August 31, 2018 is the final day for 1.0 builds. 
<p>
  <ul>
    <li>Refer to the <u><a href="https://circleci.com/docs/">CircleCI 2.0 Docs</a></u> for the Getting Started Guide and video.</li>

  <li>  To start migrating your projects from 1.0 to CircleCI 2.0, refer to <u><a href="https://circleci.com/docs/migrating-from-1-2/">Migrating from 1.0 to 2.0</a></u> document for an overview of how to get started and a summary of configuration changes.</li>
<li>
  For answers to common questions, see the <u><a href="https://circleci.com/docs/faq/">CircleCI 2.0 Migration FAQs</a></u>.
</li>
    <li>For scripts to help you find projects running 1.0, generate a draft 2.0 config.yml file, and to get started with migration, see the <u><a href="https://circleci.com/docs/migration/">CircleCI 2.0 Migration documentation</a></u> which has a complete list of tools with links and descriptions.</li>
  <li>For information about the plans for sunsetting 1.0, resources, and events, see the <u><a href="https://circleci.com/sunset1-0/">CircleCI 2.0 Migration Center</a></u>.</li>
    </ul>
</div>
