<div class="banner-wrapper">
  <div class="icon-container">
    <img class='vcs-icon' src="{{include.githubPath}}" alt="Github Icon" />
    <img class='vcs-icon' src="{{include.bitbucketPath}}" alt="Bitbucket Icon" />
    <img class='vcs-icon' src="{{include.gitlabPath}}" alt="GitLab Icon" />
  </div>
  <div class='text-container'>
    <span>This guide assumes you have signed up and</span>
    <a class="no-external-icon" href="https://circleci.com/docs/first-steps/"> connected to GitHub, Bitbucket or GitLab</a>
  </div>
</div>
<br />
<br />
