<div class="video-grid">
  {% for item in include.videos %}
  <div class="video-card">
    <div class="video-thumbnail">
      <a href="https://www.youtube.com/watch?v={{item.youtubeId}}" target="_blank" rel="noopener noreferrer"
        class="no-external-icon ">
        <div class="play-button"></div>
        {% if item.maxresdefault == false %}
        <img src="https://img.youtube.com/vi/{{item.youtubeId}}/mqdefault.jpg" alt="Youtube cover for {{item.title}}" />
        {% else %}
        <img src="https://img.youtube.com/vi/{{item.youtubeId}}/maxresdefault.jpg"
          alt="Youtube cover for {{item.title}}" />
        {% endif %}
      </a>
    </div>
    <a href="https://www.youtube.com/watch?v={{item.youtubeId}}" target="_blank" rel="noopener noreferrer"
      class="no-external-icon video-title">{{item.title}}</a>
  </div>
  {% endfor %}
</div>
