---
layout: classic-docs
---
{% assign category = page.categories[0] %}
{% assign sortedDocs = site.documents | where:"collection",page.collection | sort: 'order' %}
<ul class="list-unstyled">
{% for doc in sortedDocs %}
	{% if doc.categories contains category and doc.slug != page.slug and doc.hide != true %}
		{% if doc.short-title %}
			{% assign docTitle = doc.short-title %}
		{% else %}
			{% assign docTitle = doc.title %}
		{% endif %}
		<li><a href="{{ site.baseurl }}{{ doc.url }}">{{ docTitle }}</a></li>
	{% endif %}
{% endfor %}
</ul>
