---
layout: classic-docs
section: cci2
---
<div class="control {{ page.categories | join: ' ' }}">
  {{content}}
</div>
<div class="treatment no_toc_section {{ page.categories | join: ' ' }}">
  <!-- Getting Started Guide Experiment  -->
  {% if page.categories contains "getting-started"%}
  {% capture getting-started-guide %}
  {% include_relative getting-started-guide-experimental.md %}
  {% endcapture %}
  {{ getting-started-guide | split: "---" | last | markdownify }}
  {% endif %}
  <!-- End Getting Started Guide Experiment  -->
</div>
<style>
  #full-height {
    visibility: hidden
  }
</style>
