---
layout: classic-docs
---
{% assign categories = site.data.categories | where:"section",page.collection %}
{% assign collection = site.collections | where:"label",page.collection | first %}
{% for category in categories %}
<div class="category-section">
	<h2>{{ category.name }}</h2>
	<ul class="list-unstyled">
	{% assign docs_found = 0 %}
	{% assign sortedDocs = site.documents | where:"collection",page.collection | sort: 'order' %}
	{% for doc in sortedDocs %}
		{% if doc.categories contains category.slug and doc.slug != category.slug and doc.hide != true %}
			{% assign docs_found = docs_found | plus: 1 %}
			{% if docs_found < 4 %}
				{% if doc.short-title %}
					<li class="{% if page.path contains doc.url %}active{% endif %}"><a href="{{ site.baseurl }}{{ doc.url }}">{{ doc.short-title }}</a></li>
				{% else %}
					<li><a href="{{ site.baseurl }}{{ doc.url }}">{{ doc.title }}</a></li>
				{% endif %}
			{% endif %}
		{% endif %}
	{% endfor %}

	{% if docs_found > 3 %}
		{% assign more = docs_found | minus: 3 %}
		<li><em><a href="{{ site.baseurl }}{{ collection.prefix}}/{{ category.slug }}/">{{ more }} more</a></em></li>
	{% endif %}
	</ul>
</div>
{% endfor %}
