.molecule.divider {
  hr {
    height: 0px;
    margin-top: 0;
    margin-bottom: 0;
    border-color: $gray-light;
  }

  &.inverted {
    hr {
      border-color: $black-light;
    }
    &.bright {
      hr {
        border-color: $gray-dark;
      }
    }
  }
}
