<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <p class="lead">Over <b>100,000</b> companies and developers trust CircleCI.</p>
        <span>CircleCI’s continuous integration and delivery platform helps software teams rapidly release code with confidence by automating the build, test, and deploy process. CircleCI offers a modern software development platform that lets teams ramp quickly, scale easily, and build confidently every day.</span>
	<div class="social-container">
	  <span class="social-btns">
		<a href="/blog/feed.xml" class="social-btn-rss" title="RSS">
		  <i class="fa fa-rss" aria-hidden="true"></i><span class="sr-only">RSS</span>
		</a>
		<a href="https://www.facebook.com/circletest" target="_blank" class="social-btn-facebook" title="Facebook">
		  <i class="fa fa-facebook-official" aria-hidden="true"></i><span class="sr-only">Facebook</span>
		</a>
		<a href="https://twitter.com/circleci" target="_blank" class="social-btn-twitter" title="Twitter">
		  <i class="fa fa-twitter" aria-hidden="true"></i><span class="sr-only">Twitter</span>
		</a>
		<a href="https://github.com/circleci" target="_blank" class="social-btn-github" title="GitHub">
		  <i class="fa fa-github" aria-hidden="true"></i><span class="sr-only">GitHub</span>
		</a>
		<a href="https://www.linkedin.com/company/circleci" target="_blank" class="social-btn-linkedin" title="LinkedIn">
		  <i class="fa fa-linkedin" aria-hidden="true"></i><span class="sr-only">LinkedIn</span>
		</a>
	  </span>
	  <span>
		<a href="/jobs/" class="hiring">We're hiring!</a>
	  </span>
	</div>
      </div>
      <nav>
        <div class="col-md-2 col-md-offset-1">
          <h6>CircleCI</h6>
          <ul class="list-unstyled">
            <li><a href="/about/">About Us</a></li>
            <li><a href="/about/team/">Team</a></li>
            <li><a href="/press/">Press</a></li>
            <li><a href="/jobs/">Jobs</a></li>
            <li><a href="/blog/">Blog</a></li>
          </ul>
        </div>
        <div class="col-md-2">
          <h6>Product</h6>
          <ul class="list-unstyled">
            <li><a href="/features/">Features</a></li>
            <li><a href="/mobile/">Mobile</a></li>
            <li><a href="/enterprise/">Enterprise</a></li>
            <li><a href="/pricing/">Pricing</a></li>
            <li><a href="/customers/">Customers</a></li>
            <li><a href="/changelog/">Changelog</a></li>
          </ul>
        </div>
        <div class="col-md-2">
          <h6>Support</h6>
          <ul class="list-unstyled">
            <li><a href="/docs/">Documentation</a></li>
            <li><a href="https://discuss.circleci.com/" target="_blank">Community</a></li>
            <li><a href="/security/">Security</a></li>
            <li><a href="/privacy/">Privacy Policy</a></li>
            <li><a href="/terms-of-service/">Terms of Service</a></li>
            <li><a href="/contact/">Contact Us</a></li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="row">
      <div class="col-md-5 additional-links">
        <span>Copyright © 2016 CircleCI</span>
      </div>
    </div>
  </div>
</footer>
