{{ partial "global-nav" . }}
<div id="primary-header">
	{{ if and (ne .Section nil) (ne .Section "") }}
	<h2>{{ humanize .Section }}</h2>
	{{ end }}
	<form>
		<input type="search" placeholder="search for a topic or doc" />
	</form>
</div>
<nav id="secondary-header">
	<ul>
	{{ $currentNode := . }}
	{{ range .Site.Menus.sectionMenu }}
		<li><a class="{{if or ($currentNode.IsMenuCurrent "sectionMenu" .) ($currentNode.HasMenuCurrent "sectionMenu" .) }} active{{end}}" href="{{.URL}}">{{ humanize .Name }}</a></li>
	{{ end }}
	</ul>
</nav>
