/*
* Some of the CSS here is overwriting CSS coming from prismjs.
* !important is required because prism is packaged in app.bundle.js which is
* loaded after our app.bundle.css
*/

.toolbar {
  top: 0.2em !important;
  right: 0.2em !important;
  padding: 6px;

  .copy-to-clipboard-button {
    transition: opacity 0.3s ease-in-out;
    opacity: 0;

    background-color: #ededed!important;

    &:hover {
      background-color: #e3e3e3 !important;
    }

    &:active {
      background-color: #d4d4d4 !important;
    }

    background-position: 50% !important;
    background-repeat: no-repeat !important;
    border-radius: 4px !important;
    height: 30px;
    width: 46px;

    span {
      display: none;
    }

    &[data-copy-state="copy"] {
      background-image: url('/docs/assets/img/compass/copy.svg') !important;
    }

    &[data-copy-state="copy-success"] {
      background-color: #E3E3E3 !important;
      background-image: url('/docs/assets/img/compass/check.svg') !important;
    }
  }
}

.code-toolbar:hover {
  .copy-to-clipboard-button {
    opacity: 1;
  }
}
