<form class="doc-search form-horizontal">
  <div class="form-group">
    <label class="col-sm-2 control-label" for="search">Search by keyword:</label>
    <div class="col-sm-10">
      <input class="form-control" id="search" placeholder="Search..." type="text">
    </div>
  </div> <!-- /.form-group -->
  <div class="form-group">
    <label class="col-sm-2">Filter by tags:</label>
    <div class="col-sm-10">
      <p>
      <span class="tag">getting-started</span> <span class="tag">reference</span>
      <span class="tag">nodejs</span> <span class="tag">docker</span>
      <span class="tag">browser-testing</span> <span class="tag">troubleshooting</span>
      <span class="tag">language-guides</span> <span class="tag">mobile</span>
      <b>more <i class="fa fa-caret-down"></i></b>
      </p>
    </div>
  </div> <!-- /.form-group -->
</form>
