<div class="social-btns">
  <a href="http://blog.circleci.com/" class="social-btn-rss" data-text="" data-url="">
    <div><i class="fa fa-rss"></i></div>
  </a>
  <a href="https://www.facebook.com/circletest" class="social-btn-facebook" data-text="" data-url="">
    <div><i class="fa fa-facebook-official"></i></div>
  </a>
  <a href="https://twitter.com/circleci" class="social-btn-twitter" data-text="" data-url="">
    <div><i class="fa fa-twitter"></i></div>
  </a>
  <a href="https://github.com/circleci" class="social-btn-github" data-text="" data-url="">
    <div><i class="fa fa-github"></i></div>
  </a>
  <a href="https://www.linkedin.com/company/circleci" class="social-btn-linkedin" data-text="" data-url="">
    <div><i class="fa fa-linkedin"></i></div>
  </a>
</div>
