.include-badge {
  width: 100%;
  display: flex;
  padding: 0 12px;
  border: 1px solid #efefef;
  border-radius: 2px;
  margin-right: 8px;

  .external-link-tag-wrapper {
    width: 100%;
  }

 .wrapper-link {
   width: 100%;
   display: flex;
   align-items: center;
   color: #212121;
   &:hover {
     color: #212121;
   }
 }
  &:hover {
    background-color: #f7f7f7;
  }

  .icon {
    width: 32px;
    height: 32px;
    margin-right: 8px;
  }

  .name {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
  }

  .is-new {
    @include cta-badge;
  }
}

.getting-started-experiment-badges {
  display: none;
  margin-bottom: 24px;
}
