.include-badge {
  width: 100%;
  display: flex;
  padding: 0 12px;
  align-items: center;
  border: 1px solid #efefef;
  margin-right: 8px;

  .icon {
    width: 32px;
    height: 32px;
    margin-right: 16px;
  }

  .name {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
  }

  .is-new {
    @include cta-badge;
  }
}
