// markup here: jekyll/_includes/two-up.html

.include-two-up {
  background: white;
  display: flex;
  padding: 0 0 16px 0;

  @media(max-width: $screen-sm) {
    flex-direction: column;
  }

  .right-img {
    margin: 0px;
  }

  .section-heading {
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    color: #000000;
    letter-spacing: 0px;
    text-align: left;
  }

  .right-side {
    flex: 1;
    padding-left: 32px;
    align-self: center;
  }

  .left-side {
    flex: 1;
    padding-right: 32px;
  }

  .right-side, .left-side {
    @media(max-width: $screen-sm) {
      padding: 12px 0 !important;
    }
  }
}
