.banner-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  box-sizing: border-box;
  border-radius: 4px;
  color: $black-light;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  padding: 12px 16px;
  
  .icon-container {
    padding-right: 4px;
    min-width: 72px;
    display: flex;
    justify-content: space-evenly;
    align-self: flex-start;

    .vcs-icon {
      margin: 0;
    }
  }
}
