/* code snippet callout icons*/

.conum[data-value]{display:inline-block;color:#fff!important;background-color:rgba(0,0,0,.8);-webkit-border-radius:100px;border-radius:100px;text-align:center;font-size:.75em;width:1.67em;height:1.67em;line-height:1.67em;font-family:"Open Sans","DejaVu Sans",sans-serif;font-style:normal;font-weight:bold}
.conum[data-value] *{color:#fff!important}
.conum[data-value]+b{display:none}
.conum[data-value]:after{content:attr(data-value)}
pre .conum[data-value]{position:relative;top:-.125em}
b.conum *{color:inherit!important}
.conum:not([data-value]):empty{display:none}

/* admonitions */

table{
  margin-top: 0px;
}


.admonitionblock>table td.icon{
  vertical-align: middle;
  text-align:center;
  margin-left: -100px;
  width:70px
}

.admonitionblock td.icon [class^="fa icon-"]{font-size:1.8em;cursor:default;padding-right: 15px;}
.admonitionblock td.icon .icon-note:before{content:"\f05a";color:#31708f}
.admonitionblock td.icon .icon-tip:before{content:"\f0eb";color:#555555}
.admonitionblock td.icon .icon-warning:before{content:"\f071";color:#a94442}
.admonitionblock td.icon .icon-caution:before{content:"\f06d";color:#8a6d3b}
.admonitionblock td.icon .icon-important:before{content:"\f06a";color:#3c763d}


.admonitionblock {
  padding:15px;
  margin-bottom:20px;
  border:1px solid transparent;
  border-radius:4px
}

.note{
  background-color:#d9edf7;
  border-color:#bce8f1;
  color:#31708f
}

.tip{
  background-color:#f9f9f9;
  border-color:#dddddd;
  color:#555555
}

.important{
  background-color:#dff0d8;
  border-color:#d6e9c6;
  color:#3c763d
}

.caution{
  background-color:#fcf8e3;
  border-color:#faebcc;
  color:#8a6d3b
}

.warning{
  background-color:#f2dede;
  border-color:#ebccd1;
  color:#a94442
}

.admonitionblock {
  margin-bottom: 10px;
}

/* titles for figures */
.title{
  font-style: italic;
  text-align: center;
  padding-bottom: 10px;
}

/* Image blocks in asciidoc content */

.imageblock{
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

/* styling sidebars */

.sidebarblock{
  border:1px solid #dddddd;
  margin-bottom:1.25em;
  padding:1.25em;
  background:#f9f9f9;
  -webkit-border-radius:4px;
  border-radius:4px
}

.sidebarblock>:first-child{
  margin-top:0
}

.sidebarblock>:last-child{
  margin-bottom:0
}

.sidebarblock>.content>.title{
  margin-top:0;
  font-size: 1.4rem;
  font-weight: 500;
  font-style: normal;
  text-align:center;
}

.green{
  color: #43C78A;
}
