$btn-outer-green: #049b4a;
$btn-hover-green: #048c43;
$btn-outer-blue: #0078ca;
$btn-hover-blue: #0062b0;
$black: #161616;
$border-col: rgba(229,231,235, 1);

.lang-selector-wrapper {
  position: relative;

  .global-nav--language-picker {
    @media (max-width: $screen-md) {
      padding: 0;
    }
    @media (min-width: $screen-md) {
      &:hover {
        color: $btn-hover-green;
      }
    }

    display: flex;
    align-items: center;
    color: $black;
    background-color: transparent;
    background: none;
    border: none;
    padding: 8px 0 0 0;

    .lang-picker-mobile {
      display: none;
      @media (max-width: $screen-md) {
        display: block;
        margin-left: 16px;
        font-size: 16px;
        font-family: inherit;
      }
    }

    @media (max-width: $screen-md) {
      .globe-icon {
        padding-top: 6px;
      }
    }
  }

  .lang-picker {
    background: #ffffff;
    display: none;
    position: absolute;
    box-shadow: 0px 0px 8px 0px #1616161f;
    z-index: 30;
    margin-top: 5px;
    left: -21px;
  }

  .lang-dropdown {
    width: 160px;
  }

  .lang-option {
    display: block;
    color: $black;
    margin: 4px 0px;
    margin-top: 0px;
    padding: 4px 20px;
    font-size: 15px;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 18px;
    &:hover {
      color: $btn-hover-blue;
      font-weight: 700;
      transition: all 200ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 0.15s;
    }
  }

  .right-arrow {
    display: none;
  }

  .lang-active {
    display: block;
  }

  .mobile-top-row {
    display: none;
  }

  // Mobile styling for the language selector
  // This converts the language picker on the desktop nav into a popover modal
  // to try and mimic what we have on circleci.com
  @media (max-width: $screen-md) {
    // lang selector wrapper parent class changes:
    position: initial;

    .lang-picker {
      background: #ffffff;
      display: none;
      position: absolute;
      box-shadow: 0px 0px 8px 0px #1616161f;
      z-index: 30;
      margin-top: 5px;
      left: 0;
      top: -6px;
      width: 100%;
    }

    .right-arrow {
      display: initial;
    }

    .lang-active {
      display: block;
    }

    .lang-dropdown {
      width: 100%;
    }

    .back-btn {
      transform: scaleX(-1);
    }

    .mobile-top-row {
      display: flex;
      justify-content: space-between;
      height: 72px;
      display: flex;
      align-items: center;
      padding: 0 14px;
      border-bottom: 1px solid $border-col;
    }

    // some bespoke styling to align the x of the lang selector with the
    // bootstrap "X" that we can't unfortunately use here.
    #lang-picker-close-button, #lang-picker-back-button {
      position: relative;
      top: -2px;
      left: -1px;
    }


    .select-language {
      font-weight: 700;
      color: #161616;
      font-size: 18px;
    }

    .lang-option {
      display: flex;
      justify-content: space-between;
      padding: 12px 10px 12px 20px;
      align-items: center;
      border-bottom: 1px solid $border-col;
      margin-bottom: 0px;
    }

    .lang-picker-mobile-dimmer {
      display: none;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: rgba(0,0,0,0.5);
      pointer-events: none;
      height: 100vh;
    }
    .lang-picker-icon-btn {
      outline: none;
      background: none;
      border: none;
      padding: 0;
    }

  }
}
