$btn-outer-green: #049b4a;
$btn-hover-green: #048c43;
$btn-outer-blue: #0078ca;
$btn-hover-blue: #0062b0;
$black: #161616;
$border-col: rgba(229,231,235, 1);

.lang-selector-wrapper {
  position: relative;

  .global-nav--language-picker {
    @media (max-width: $screen-xs-max) {
      padding: 0;
    }

    display: flex;
    align-items: center;
    color: $black;
    background-color: transparent;
    background: none;
    border: none;
    padding: 2px 0 0 0;

    .globe-icon {
      background-color:transparent;
      color: $black;
      @media (min-width: $screen-sm) {
        &:hover {
          filter: invert(39%) sepia(99%) saturate(634%) hue-rotate(105deg) brightness(83%) contrast(97%);
        }
      }
    }

    .lang-picker-mobile {
      display: none;
      @media (max-width: $screen-xs-max) {
        display: block;
        margin-left: 16px;
        font-size: 14px;
        font-family: inherit;
      }
    }

    // might not need
    @media (max-width: $screen-xs-max) {
      border-bottom: 1px solid #D8D8D8;
      width: 100%;
      padding: 16px 0 24px 0;
    }
  }

  .lang-picker {
    background: #ffffff;
    display: none;
    position: absolute;
    box-shadow: 0px 0px 8px 0px #1616161f;
    z-index: 30;
    margin-top: 5px;
    left: -21px;
  }

  .lang-dropdown {
    width: 168px;
    margin-top: 4px;
  }

  .lang-option {
    display: block;
    color: $black;
    margin: 4px 0px;
    margin-top: 0px;
    padding: 4px 20px;
    font-size: 15px;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 18px;
    &.selected {
      // background: #F3F3F3;
      @media (max-width: $screen-xs-max) {
        font-weight: bold;
      }
    }

    &:hover {
      background: #F3F3F3;
      font-weight: 700;
      transition: all 200ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 0.15s;
    }
    .select-lang-wrap {
      color: $btn-outer-green;
      padding-right: 3px;
      @media (max-width: $screen-xs-max) {
        display: none;
      }
    }
  }

  .right-arrow {
    display: none;
  }

  .lang-active {
    display: block;
  }

  .mobile-top-row {
    display: none;
  }

  .lang-request-form {
    min-width: 148px;
    display: flex;
    flex-direction: column;
    padding: 0 20px 8px 20px;


    @media (max-width: $screen-xs-max) {
      display: flex;
      flex-direction: column;
      padding: 16px;
      height: auto;
    }

    .lang-form-title {
      display: block;
      color: $black;
      margin: 4px 0px;
      font-size: 12px;
      font-family: "Roboto";
      line-height: 14px;
      padding: 4px 0;

      @media (max-width: $screen-xs-max) {
        font-weight: 500;
        font-size: 14px;
      }
    }

    .lang-form {
      background: #FBFBFB;
      border: 1px solid #D4D4D4;
      border-radius: 0px;
      box-sizing: border-box;
      height: 40px;
      margin-bottom: 6px;
      padding: 11px 10px 11px 16px;

      font-size: 15px;
      line-height: 18px;
      color: $black;
      opacity: 0.5;
      &:hover {
        border: 1px solid $black;
        background: #fff;
      }

      @media (max-width: $screen-xs-max) {
        width: 100%;
        margin: 0;
      }

    }
      .active {
        border: 1px solid #1D97E4;
        background: #fff;
        opacity: 1;
        pointer-events: none;
      }
      .lang-submitted {
        pointer-events: none;
      }

    #submit-lang-btn {
      border: none;
      background: none;
      font-family: "Roboto";
      color: $btn-hover-blue;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      align-self: flex-end;
      padding-right: 0px;
      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
      @media (max-width: $screen-xs-max) {
        align-self: flex-end;
        margin-top: 8px;
        margin-left: 0;
        font-size: 14px;
        padding-right: 0px;
      }
    }

    #lang-submitted {
      font-family: "Roboto";
      font-size: 12px;
      line-height: 14px;
      color: $black;
      text-align: right;
      @media(max-width: $screen-xs-max) {
        margin-top: 10px;
      }
    }
  }


  // Mobile styling for the language selector
  // This converts the language picker on the desktop nav into a popover modal
  // to try and mimic what we have on circleci.com
  @media (max-width: $screen-xs-max) {
    // lang selector wrapper parent class changes:
    position: initial;

    .lang-picker {
      background: #ffffff;
      display: none;
      position: absolute;
      box-shadow: 0px 0px 8px 0px #1616161f;
      z-index: 30;
      margin-top: 5px;
      left: 0;
      top: -6px;
      width: 100%;
    }

    .right-arrow {
      display: initial;
    }

    .lang-active {
      display: block;
    }

    .lang-dropdown {
      width: 100%;
    }

    .back-btn {
      transform: scaleX(-1);
    }

    .mobile-top-row {
      display: flex;
      justify-content: space-between;
      height: 72px;
      display: flex;
      align-items: center;
      padding: 0 14px;
      border-bottom: 1px solid $border-col;
    }

    // some bespoke styling to align the x of the lang selector with the
    // bootstrap "X" that we can't unfortunately use here.
    #lang-picker-close-button, #lang-picker-back-button {
      position: relative;
      top: -2px;
      left: -1px;
      pointer-events: none;
      &.clickable {
        pointer-events: initial;
      }
    }

    .select-language {
      font-weight: 700;
      color: #161616;
      font-size: 18px;
    }

    .lang-option {
      display: flex;
      justify-content: space-between;
      padding: 12px 10px 12px 20px;
      align-items: center;
      border-bottom: 1px solid $border-col;
      margin-bottom: 0px;
      // override css being set via jquery for desktop-only styles.
      background: initial !important;
    }

    .lang-picker-mobile-dimmer {
      display: none;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: rgba(0,0,0,0.5);
      pointer-events: none;
      height: 100vh;
    }
    .lang-picker-icon-btn {
      outline: none;
      background: none;
      border: none;
      padding: 0;
    }

  }
}
