.popup-bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1031;
  top: 0;
  justify-content: center;
  align-items: center;
  left: 0;
  display: none;

  &.popup-bg-show {
    display: flex;
  }
}

.popup-content {
  background: white;
  background-repeat: no-repeat;
  background-position-y: -12px;
  border-radius: 4px;
  display: none;
  min-height: 629px;
  flex-direction: column;
  max-width: 800px;
  position: fixed;
  padding: 56px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 1032;

  @media(max-width: $screen-sm) {
    min-height: auto;
    height: auto;
    width: 95%;
  }
  &.popup-content-show {
    display: flex;
  }

  .heading {
    @media(max-width: $screen-sm) {
      justify-content: start;
    }
  }

  .sub-heading {
    margin-top: 0px;
  }

  .popup-signup-cta {
    @include cta-button;
    background: #47A359;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700;
    justify-content: center;
    margin-top: 12px;
    padding: 0 6px;
    text-align: center;
    width: 240px;

    &:hover {
      background-color: #048C43;
    }
    &:active {
      background-color: #00701B;
    }

  }

  .popup-teams-bubbles {
    max-width: 347px;
    width: 100%;
    margin-left: -8px; // offset for the fact that there is white space in the exported img.

    @media(max-width: $screen-sm) {
      display: none;
    }
  }

  .teams-callout-wrapper {
    margin-top: 32px;

    @media(max-width: $screen-sm) {
      margin-top: 0;
    }
  }

  .teams-callout {
    @media(max-width: $screen-sm) {
      display: none;
    }
  }

  .popup-bottom-row {
    display: flex;
    align-items: end;
  }

  .popup-skip-btn {
    @include cta-button;
    justify-content: end;
    background: none;
    @media(max-width: $screen-sm) {
      justify-content: start;
      margin-top: 16px;
    }
    .skip-text {
      padding-right: 8px;
      font-weight: 700;

    }
  }
}
