$sidebar-spacing-base: 5px;

.sidebar-wrapper {
  min-width: $leftbar-width;
  position: relative;

  @media screen and (max-width: $screen-xs-max) {
    display: none;
  }
}

.sidebar {
  background: #F7F7F7;
  font-family: "roboto";
  height: calc(100vh - #{$nav-height});
  padding: 30px 24px 60px 15px;
  position: absolute;
  width: $leftbar-width;
  border-right: 1px solid $gray-200;
  overflow-y: scroll;

  &::-webkit-scrollbar-track {
    box-shadow: none;
    border-radius: 10px;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 10px;
    box-shadow: none;
  }

  &:hover{
    &::-webkit-scrollbar-thumb {
      background: #C2C2C2;
    }
  }

  &::-webkit-scrollbar {
    width: 5px;
  }


  a.active,
  .nav-span {
    color: $link-text-color;
  }

  &.fixed {
    position: fixed;
    display: flex;
    flex-direction: column;
  }

  .sidebar-item-group {
    flex: 1;
  }

  .main-nav-item {
    font-weight: 600;
    font-size: $font-size-small;

    .list-wrap {
      margin: 0 0 20px 0;
      position: relative;
      cursor: pointer;
    }

    .icon {
      position: absolute;
      top: -1px;
      width: 24px;
    }
    .arrow {
      position: absolute;
      right: 0;
      top: $sidebar-spacing-base;
      transform: rotate(90deg);
      transition: transform 400ms;
    }
    .subnav {
      overflow: hidden;
      margin-bottom: 20px;
    }

    &.closed {
      .arrow {
        transform: rotate(0deg);
      }
      .subnav {
        height: 0;
        margin: 0;
      }
    }
  }
  .nav-item {
    text-transform: uppercase;
    font-size: $font-size-micro;
    font-weight: $font-weight-bold;
    margin: 12px 0;
    letter-spacing: .5px;

    &:first-child {
      margin-top: 0;
    }
  }
  .subnav-item {
    font-weight: 400;
    margin: $sidebar-spacing-base 0 $sidebar-spacing-base $spacing-small-horizontal;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      a, span.nav-span {
        color: $body-text-color;
        margin-left: 30px;
        display: inline-block;

        &:hover{
          color: $link-text-color;
        }
      }
    }

    .subheading {
      color: $body-text-color;
      margin-left: 30px;
      display: inline-block;
    }
  }

  .lang-picker {
    padding: 16px 0;
    border-top: 1px solid gainsboro;
    select {
      width: 100%;
    }
  }
}

.sidebar-mobile-wrapper {
  display: none;
  width: 100%;

  .mobile-sidebar {
    @extend .sidebar;
    padding-right: 5px;
    width: 100%;

    // Reset various parts of .sidebar
    position: initial;
    height: initial;
    background: initial;
    border: initial;

    .main-nav-item {
      width: 100%;
    }
  }

  @media screen and (max-width: $screen-xs-max) {
    display: block;
  }
}


// Table of Contents Sidebar ----------------------------------

// Many docs originally have a toc generated from the *toc directive in the markdown/asciidoc.
// we are keeping this functionality in order to have a table of contents at the top of a page
// on smaller screen sizes.

// target markdown AND asciidoc toc's.
.article-container {
  #markdown-toc, #toc {
    @media(min-width: $toc-breakpoint) {
      display: none;
    }
  }
}

aside#full-height {
  .full-height-sticky {
    position: sticky;
    max-height: calc(100vh - 140px);
    overflow: auto;
    padding-left: 5px;
    top: 83px;
    max-width: 400px;
  }

  @media(max-width: $toc-breakpoint) {
    display: none;
  }

  .toc-heading, .helpful-heading {
    margin-left: -2px;
  }

  .toc-indent, .helpful-indent {
    border-left: 2px solid #EEEEEE;

    a {
      color: $body-text-color;
      &:hover {
        color: $link-text-color;
      }
    }
  }

  ul, li {
    list-style-type: none;
    padding: 0px 8px;
    margin: 4px 0;
    &:first {
      padding-left: 0px;
    }
  }
}
