.was-this-helpful {
  text-align: right;
  margin-bottom: 16px;
  position: relative;

  .prompt {
    text-align: right;
  }

  .text-btn {
    background: none;
    color: $link-text-color;
    border: none;
    width: 32px; // prevent pixel jumpyness when hover changes text to bold.
    &:hover {
      font-weight: 500;
    }

    &.active {
      font-weight: 500;
    }
  }

  .can-we-improve {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    text-align: left;
    font-size: 14px;
    line-height: 20px;
  }

  .send-btn {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    background: none;
    color: $link-text-color;
    border: none;

    &.invalid {
      color: #DADADA;
      cursor: not-allowed;
    }
  }

  .form {
    background: #FFFFFF;
    border-radius: 4px;
    border: 1px solid #EDEDED;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    padding: 8px 12px;
    position: absolute;
    right: 0px ;
    top: 32px;
    width: 304px;
    z-index: 100;

    textarea {
      background: #FBFBFB;
      border: 1px solid #D4D4D4;
      box-sizing: border-box;
      border-radius: 4px;
      height: 100px;
      padding: 12px;
      margin: 12px 0 0 0;
      &:hover {
        border: 1px solid #333;
        background: #FFFFFF;

      }
      &:focus {
        border: 1px solid #0078CA;
        background: #FFFFFF;
      }
    }
  }

  .bottom-row {
    display: flex;
    justify-content: space-between;
  }
}
