.hidden {
  display: none;
}

.flex {
  display: flex;
}

// margin helpers
.mb {
  &-1 {margin-bottom: 4px;}
  &-2 {margin-bottom: 8px;}
  &-4 {margin-bottom: 16px;}
  &-8 {margin-bottom: 32px;}
}

.visible {
  display: block;
}

@media (max-width: $screen-md) {
  .hidden-md {
    display: none;
  }
}
