@import 'site'; // this is bootstrap
@import 'variables';
@import 'sidebar';
@import 'footer';
@import 'global-nav';
@import 'langselector';
@import 'subnav';
@import 'instantsearch';
@import 'tooltip';
@import 'asciidoc';
@import 'fonts';
@import 'buttons';
@import 'mobile';
@import 'spacing';
@import 'snippets';
@import 'utilities';
@import 'progressbar';
@import 'language-guide';

// prism related scss
@import 'prism/theme';
@import 'prism/copy-code-button';

// General
body {
	color: $body-text-color;
	display: block;
	width: 100%;
	font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
p {
	font-family: 'Roboto', sans-serif;
	color: $body-text-color;
}

a {
	color: $link-text-color;

	&:hover {
		color: $link-hover-color;
		text-decoration: none;
	}

	& > * {
		// to prevent the child elements inside a tag from registering
		// as the target in event listeners (for analytics tracking)
		pointer-events: none;
	}

  &.active {
	  color: $link-text-color !important;
  }
}

.container-semi-fluid {
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

.container-semi-fluid,
div.main-body{
  margin: 0 auto;
  max-width: 1920px;
  flex-direction: row;
}


div.main-body {
	display: flex;
}

.text-center-small-float-right {
  float: right;
  @media screen and (max-width: $screen-xs-max) {
    text-align: center;
    float: none;
  }
}

.text-center-small-float-left {
  float: left;
  @media screen and (max-width: $screen-xs-max) {
    text-align: center;
    float: none;
  }
}

.logo-small {
  max-width: $logo-width-small;
}

.no-margin {
  margin: 0px;
}

ul.horizontal {
  li {
    display: inline-block;
    padding: 0 $spacing-medium-horizontal 0 0;
  }
  &.blue {
    a {
      color: $blue;
      text-transform: initial;
      font-size: $font-size-base;
    }
  }
}

.text-blue {
  color: $blue;
}

hr.dark {
  border-color: $black-light;
}

footer {
	li, span {
		text-transform: initial;
		font-size: $font-size-base;
	}
}

// Navigation Sidebar
#nav-button{
	display: none;
}


// Search bar
#site-search{
	padding-bottom: 30px;

	input{
		margin: 0;
		padding: 0 1em;
	}

	.algolia-autocomplete {
		width: 100%;
	}

	.algolia-autocomplete.algolia-autocomplete-right .ds-dropdown-menu {
		left: 0 !important;
		right: none !important;
	}
}

div.sidebar-offset {
  margin-left: $leftbar-width;
  display: flex;
  height: 100vh;
  overflow: scroll;

  @media screen and (max-width: $screen-sm) {
		margin-left: 0px;
		width: 100%;
	}
}

// Logged In/Out State
body.loggedin {
	.visitor-item {
		display: none !important;
	}
	.dashboard-link {
		display: block !important;
	}
}

.dashboard-link {
	display: none !important;
}


// Article
div.article-container{
  flex: 1;
  @media screen and (max-width: $screen-xs-max) {
      padding: 0 16px 0 16px;
      width: 100%;
  }

  .external-link-tag-wrapper{
	display: inline-block;
	.external-link-icon {
	  margin: 0 0 0 3px;
	}
  }

  padding: 0 48px;
  width: calc(100% - #{$rightbar-width});
  max-width: 60em; // increase readability on large screens.
}

.article-toc {
    display: flex;
    width: 100%;
}

.article-toc-footer {
    flex-direction: column;
    width: calc(100% - #{$leftbar-width});
    @media (max-width: $screen-sm) {
      width: 100%;
    }
    min-height: calc(100vh - $sticky-height); // make sure content always fills available space (70px is header size)
}

article{
	h2,
	h3,
	h4,
	h5,
	h6{
		scroll-margin-top: 5rem;

		a{
			padding-left: 5px;
			color: #27A0B6;
			text-decoration: none!important;
		}

		i.fa-link{
			display: none;
			font-size: smaller;
		}
	}

	h1{
		font-size: 2.25rem;
	}

	h2{
		font-size: 1.7rem;
	}

	h3{
		margin-top: 10px;
		font-size: 1.4rem;
	}

	h4{
		font-size: 1.2rem;
	}

	img{
		margin: 15px 0;
		max-width: 100%;
	}

	span.align-center{
		display: block;
		text-align: center;

		img{
			max-width: 90%;
		}
	}

	.video-wrapper {
		position: relative;
		padding-bottom: 56.25%; /* 16:9 */
		padding-top: 25px;
		height: 0;

		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	.license-notice{
		margin: 0 auto;
		padding-bottom: 20px;
		width: 70%;
		text-align: center;
		font-size: smaller;
	}
}

div.align-center img{
	max-width: 90%;
	text-align: center;
}

// Insights page column highlights
#insights-table{
	.highlight {
		color: #1A649A;
		background-color: rgba(25, 99, 154, 0.05);
		font-weight: bold;
	}
	div {
		scroll-margin-top: 5rem;
	}
}

// Homepage
body.homepage{
  .article-container{
    @media screen and (max-width: $screen-xs-max) {
  	  padding: 0 16px 0 16px;
      width: calc(100% - $leftbar-width)
    }
  }

	article{
		display: flex;
		flex-wrap: wrap;
		width: 100%;
	}

	div.category-section{
		padding: 15px 10px 20px;
		width: 50%;
		text-align: center;
		.logo{
			width: 60px;
		}

		h2{
			font-size: 1.5rem;
		}

		li a{
			font-size: 0.875rem;
		}
	}
}

table tr th:first-of-type code.language-plaintext, table tr td:first-of-type code.language-plaintext{
  white-space: nowrap !important;
}

code {
  padding: 2px;
  word-wrap: anywhere;
  white-space: pre-wrap !important;
}

code.env_var {
  white-space: nowrap !important;
}



/***** Widgets ****************************************************************/
//
//*****************************************************************************/
.os-matrix{
	display: inline-block;
	margin: 10px 0;
	border: 1px solid #DEDEDE;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,0.15);
	background-color: white;
	width: auto;
}
	.os-matrix p{
		display: inline-block;
		margin: 0;
		border-left: 1px solid #DEDEDE;
		padding: 5px 15px;
	}
		.os-matrix p:first-child{
			border-left: none;
		}

		.os-matrix p span{
			margin-right: 5px;
			font-weight: bold;
		}

.alert-danger a{
	color: #843534;
	font-weight: bold;
}


// --- custom Tabs -- see `renderTabbedHtml` in `assets/js/main.js`
.tabWrapper {
  padding: 50px 0 0 0;
  position: relative;
  border: 1px solid #dfdfdf;
  margin: 16px 0;
}

.tabGroup {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  box-shadow: inset 0 -2px 0 #dfdfdf;
  overflow-x: auto;
}

.tab {
  margin: 0;
  padding: 8px;
}

.tab img {
  margin: 0;
}

.tab pre {
  margin-bottom: 0px;
}


.realtab {
  background: white;
  color: #999;
  cursor: pointer;
  padding: 12px 24px;
  border-bottom: 2px solid #dfdfdf;
}

.realtab-active {
  border-bottom: 2px solid #4091F7;
}

/***** End - Widgets **********************************************************/
//
//*****************************************************************************/

.list-2cols{
	display: grid;
	grid-template-columns: 50% 50%;
}

.list-3cols{
	display: grid;
	grid-template-columns: 33% 33% 33%;
}

/* A fix for https://github.com/circleci/circleci-docs/issues/1978 */
body > img:last-of-type{
	display: none;
}

.serveronly {
	color: #4e9eb3;
}

.tooltip-popover {
  background-color: #333;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 13px;
  z-index: 1;
  display: none;
}

/* Shows when screen > $screen-md, hides when smaller */
.table-migrate-desktop td, .table-migrate-desktop th {
  @media screen and (min-width: $screen-md) {
    width: 50%;
    display: inline-block;
    height: 100%;
  }
  @media screen and (max-width: $screen-md - 1px) {
    display: none;
  }
}

.table-migrate-mobile {
  table-layout: fixed;
}

/* Hides when screen is larger than $screen-md */
.table-migrate-mobile td, .table-migrate-mobile th {
  @media screen and (min-width: $screen-md) {
    display: none;
  }
}


.img--bordered {
  border: 1px solid grey;
  border-radius: 3px;
}

h6{
	font-size: 16px;
}

/*
Fixing styling for the code example tables in the "Migrating From..." pages
*/
.table-no-background > tbody > tr:first-child {
	background: none;
}
.table-migrating-page {
    // this negates the changes to white-space: nowrap used in other tables.
    td:first-of-type code {
        white-space: pre-wrap !important;
    }

	tr > td:not(:only-child):first-child {
		padding-left: 0px;
		padding-right: 4px
	}

	tr > td + td {
		padding-right: 0px;
		padding-left: 4px;
	}

	td p {
		margin: 0px;
	}
}

/*
*  Experiment Key: dd_add_video_tab_to_docs_test
*  https://app.optimizely.com/v2/projects/16812830475/experiments/20790151733/variations
*/

.main-nav-item[data-section=video-tutorials] {
  display: none;
}

.video-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);

  @media screen and (min-width: $screen-md) {
    grid-template-columns: repeat(2, 1fr);
  }

  grid-column-gap: 24px;
  grid-row-gap: 24px;
  margin-top: 24px;
  margin-bottom: 48px;
}

.video-grid .video-card {
  border-bottom: 1px solid #EBEBEB;
  display: flex;
  flex-direction: row;
  gap: 16px;
  padding-bottom: 24px;
}

.video-grid .video-card .video-thumbnail {
  flex-basis: 55%;
  position: relative;
  cursor: pointer;
}

.video-grid .video-card .video-thumbnail a {
  height: 100%;
  display: block;
}

.video-grid .video-card a:hover {
  opacity: 0.9;
}

.video-grid .video-card img {
  width: 100%;
  border-radius: 8px;
  margin: 0px;
}

.video-grid .video-card .video-title {
 color: #27A0B6;
 font-size: 16px;
 max-width: 45%;
 min-width: 45%;
 text-decoration: none;
}

/* this is the play "icon" (white circle) */
.video-grid .video-card .play-button {
  width: 46px;
  height: 46px;
  background-color: white;
  position: absolute;
  border-radius: 100%;
  top: calc(50% - 23px);
  left: calc(50% - 23px);
}

/* this is the play "icon" (black triangle) */
.video-grid .video-card .play-button::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 11px solid transparent;
  border-left: 14px solid black;
  border-bottom: 11px solid transparent;
  position: relative;
  top: calc(50% - 11px);
  left: 18px;
}

// CSS styling for the date modified X ago
.quick-info-list {
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 24px;
  padding: 0px 16px;
  display: flex;

  img {
	  margin: 0px 4px 0px 0px;
    width: 24px;
  }
}

#time-posted-on {
  padding: 12px 16px 10px 7px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: #343434;
}

// badge tags
.server-version-badge {
  background-color: white;
  border: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  padding: 0px;
  color: #343434;

  // We want to put a dot between every tag and there is undetermined number of tags
  // First child is the tag icon
  // Second child is the first tag name
  &:not(:nth-child(1)):not(:nth-child(2)):before {
    content: "\A";
    width: 3px;
    height: 3px;
    border-radius:50%;
    background: #343434;
    display:inline-block;
    margin: 0px 5px 3px 0px;
  }
}

.server-version-wrapper {
  padding: 10px 16px;
  flex-grow: 1;
  border-left: 1px solid #DDDDDD;
}

#tooltip-time {
  background: #333;
  color: white;
  font-weight: bold;
  padding: 4px 8px;
  font-size: 13px;
  border-radius: 4px;
  display: none;
}

#tooltip-time[data-show] {
  display: block;
}

#tooltip-time[data-popper-placement^=bottom] > #arrow {
  top: -4px;
}
/*
* enlarge image on click
*/
.enlarge {
  cursor: zoom-in;
}

#expandModal {
  position: fixed;
  z-index: 1;
  padding-top: 120px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

#modal-content {
  // If image has transparent background
  background: white;
  margin: auto;
  display: block;
  width: 80%;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

@keyframes zoom {
  from {
    transform: scale(0)
  }
  to {
    transform: scale(1)
  }
}

#closeImg {
  position: absolute;
  top: 70px;
  right: 30px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

#closeImg:hover,
#closeImg:focus {
  opacity: 0.5;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 700px) {
  #modal-content {
    width: 100%;
  }
  #closeImg {
    top: 70px;
  }
}
