@mixin cta-button {
  // width: 100%;
  align-items: center;
  border-color: transparent;
  border-radius: 3px 0 0 3px;
  border-radius: 3px;
  border-style: solid;
  border-width: 2px;
  cursor: pointer;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  height: 54px;
  width: 100%;
  outline: 0;
  padding: 0;
  transition: background-color 400ms;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  -webkit-transition: background-color 400ms;
}

.sign-up-and-try-circleci {
  .signup-and-try-experiment-block {
    margin-left: 42px;
    display: none;
    &.show {
      display: inherit;
    }

    // disable external link tag wrapper in the button blocks
    .external-link-tag-wrapper  {
      width: 100%;
      .external-link-icon {
        display: none;
      }
    }

    .signup-buttons {
      display: flex;
      margin: 12px 0;
      flex: 1;
    }
  }

  .button-text {
    color: inherit;
    font-weight: 700;
    font-size: 18px;
  }

  // borrowed from outer.
  .gh-signup-button {
    @include cta-button;
    color: #FFFFFF;
    background-color: #7f7f7f;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    &:hover {
      background-color: #6a6a6a;
    }
  }
  .gh-icon {
    width: 44px;
    height: 44px;
    margin: 3px 5px 3px 3px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .gh-signup-dropdown {
    display: none;
    background: white;
    border-radius: 2px;
    box-shadow: rgb(0 0 0 / 18%) 0px 6px 12px;
    color: rgb(52, 52, 52);
    letter-spacing: initial;
    line-height: 1.5;
    list-style: none;
    margin: 10px 0px 0px;
    min-width: 170px;
    padding: 5px 0px;
    position: absolute;
    right: 0px;
    text-align: left;
    top: 50px;
    z-index: 1;
    &.show {
      display: inherit;
    }

    li:hover {
      background-color: rgb(245, 245, 245);
    }
  }

  .gh-link {
    font-size: 16px;
    padding: 3px 20px;
    display: block;
    color: inherit;
    white-space: nowrap;
  }

  .signup-button-wrapper {
    display: flex;
    width: 300px;
  }
  .gh-signup-button-wrapper {
    margin-right: 16px;
    position: relative;
  }

  .gh-dropdown-button {
    @include  cta-button;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-left: 1px solid #555;
    display: flex;
    justify-content: center;
    width: 50px;
    background-color: #6a6a6a;
    &:hover {
      background-color: #7f7f7f;
    }
    &:active {
      background-color: #555555;
    }
  }

  .gh-dropdown-caret {
    width: 0;
    height: 0;
    display: inline-block;
    border-top: 8px solid currentColor;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    margin-bottom: 1px;
    color: white;
  }

  // bb button
  .bb-signup-button {
    @include cta-button;
    background: #0078ca;
    color: #FFFFFF;
    &:hover {
      background-color: #0062b0;
    }
    &:active {
      background-color: #004a95;
    }
  }

  .email-signup-button {
    @include cta-button;
    background: #049B4A;
    color: #FFFFFF;
    &:hover {
      background-color: #048C43;
    }
    &:active {
      background-color: #00701B;
    }
  }
}
