<!DOCTYPE html>
<html lang="en">
  <head>
{{> head defaultPageTitle='CircleCI Docs'}}
  </head>
  <body class="article{{#with (or page.attributes.role page.role)}} {{{this}}}{{/with}} tracking-normal leading-5 text-[16px]">
{{> header}}
{{> body}}
  </body>
</html>
