<!DOCTYPE html>
<html lang="en">
  <head>
{{> head defaultPageTitle='CircleCI Docs'}}
  </head>
  <body class="article{{#with (or page.attributes.role page.role)}} {{{this}}}{{/with}} tracking-normal leading-5 text-[16px]">
<a href="{{{siteRootPath}}}/llms.txt" class="sr-only">Documentation structure for LLMs (llms.txt)</a>
{{> header}}
{{> body}}
  </body>
</html>
