---
---

// variables

$black:                #000000;
$blacken:              #080808;
$grayDarkest:          #131313;
$grayDarker:           #212121;
$grayDark:             #343434;
$gray:                 #555555;
$grayLight:            #898989;
$grayLighter:          #cccccc;
$grayLightest:         #eeeeee;
$whiten:               #fbfbfb;
$white:                #ffffff;

$border-radius-base:        4px;
$blue:                 #337AB7; // #007196

// Pixel value used to responsively scale all typography. Applied to the `<html>` element.
$font-size-root:             16px;
$font-size-base:             $font-size-root; // ~16px

$font-size-h1:            floor(($font-size-base * 2.4)); // ~38px
$font-size-h2:            floor(($font-size-base * 1.5)); // ~24px
$font-size-h3:            ceil(($font-size-base * 1.25)); // ~20px
$font-size-h4:            ceil(($font-size-base * 1.25)); // ~20px
$font-size-h5:            $font-size-base;
$font-size-h6:            ceil(($font-size-base * 0.75)); // ~12px

h1, .h1 { font-size: $font-size-h1; }
h2, .h2 { font-size: $font-size-h2; }
h3, .h3 { font-size: $font-size-h3; }
h4, .h4 { font-size: $font-size-h4; }
h5, .h5 { font-size: $font-size-h5; }
h6, .h6 { font-size: $font-size-h6; }

//** Unit-less `line-height` for use in components like buttons.
$line-height:                1.5;
$line-height-base:           1.5;

.docs {
  padding: 40px 0;

  // Home page / search

  .tag-category {
    color: $grayLight;
  }

  .tag {
    padding: 3px 6px;
    font-size: 90%;
    color: $gray;
    background-color: rgba($gray, 0.1);
    border-radius: $border-radius-base;
    border: 1px solid $gray;
    white-space: nowrap;
    &:link,
    &:active,
    &:hover,
    &:visited,
    &:focus {
      text-decoration: none;
    }
  }

  .tag.active {
    color: $blue;
    background-color: rgba($blue, 0.1);
    border-color: $blue;
  }

  .search {
    background-color: #fbfbfb;
    border-bottom: 1px solid #eeeeee;
    label {
      text-align: right;
    }
  }

  .articles-query {
      color: $grayDarker;
  }

  .article-list {
    list-style: none;
    padding-left: 0;
    li {
      margin: 20px 0;
    }
  }

  $searchLeftPadding: 45px;

  .doc-search {
    $inputWidth: 100%;
    $dropdownPadding: 10px;

    margin: 40px 0;
    position: relative;

    input {
      width: $inputWidth;
      margin: 0;
      font-size: 16px;
      color: $grayDark;
    }

    .typeahead {
      // overriding default typeahead style directly on element
      top: 50px !important;
      left: $searchLeftPadding - $dropdownPadding !important;
      right: $searchLeftPadding - $dropdownPadding !important;;
      a {
        padding-left: $dropdownPadding;
      }
    }
  }



  // Content

  h1 {
    margin: 10px 0;
  }

  article {
    color: $gray;

    h2 > a, h3 > a, h4 > a, h5 > a, h6 > a {
      color: $grayDarker;
      text-decoration: none;
    }

    .markdown {
      li {
        margin: 10px 0;
      }
      pre {
        margin: 30px 0;
      }

      p {
        margin-bottom: 20px;
      }
      iframe {
        margin-bottom: 20px;
      }
    }
  }

  img {
    max-width: 100%;
  }

  .embed-responsive {
    margin-bottom: 10px;
  }
}
