{
  "openapi": "3.0.3",
  "info": {
    "title": "CircleCI API v1 - Environment Variables Endpoints",
    "version": "1.0.0",
    "description": "Environment variable management endpoints for CircleCI API v1."
  },
  "servers": [
    { "url": "https://circleci.com/api/v1.1" }
  ],
  "tags": [
    { "name": "Environment Variables", "description": "Environment variable management" }
  ],
  "paths": {
    "/project/{vcs-type}/{username}/{project}/envvar": {
      "get": {
        "tags": ["Environment Variables"],
        "summary": "List environment variables",
        "description": "Returns all environment variables for the project.",
        "operationId": "listEnvVars",
        "security": [ { "circleToken": [] } ],
        "parameters": [
          { "name": "vcs-type", "in": "path", "required": true, "schema": { "type": "string" }, "description": "VCS type (e.g., github, bitbucket)" },
          { "name": "username", "in": "path", "required": true, "schema": { "type": "string" }, "description": "VCS username or org" },
          { "name": "project", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Project name" }
        ],
        "responses": {
          "200": {
            "description": "A list of environment variables",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/EnvVar" }
                },
                "examples": {
                  "curl": {
                    "summary": "Curl Example",
                    "value": "curl -H \"Circle-Token: <circle-token>\" https://circleci.com/api/v1.1/project/{vcs-type}/{username}/{project}/envvar"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Environment Variables"],
        "summary": "Add an environment variable",
        "description": "Creates a new environment variable for the project.",
        "operationId": "addEnvVar",
        "security": [ { "circleToken": [] } ],
        "parameters": [
          { "name": "vcs-type", "in": "path", "required": true, "schema": { "type": "string" }, "description": "VCS type (e.g., github, bitbucket)" },
          { "name": "username", "in": "path", "required": true, "schema": { "type": "string" }, "description": "VCS username or org" },
          { "name": "project", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Project name" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/EnvVarRequest" },
              "examples": {
                "curl": {
                  "summary": "Curl Example",
                  "value": "curl -X POST --header \"Content-Type: application/json\" -d '{\"name\":\"foo\", \"value\":\"bar\"}' https://circleci.com/api/v1.1/project/{vcs-type}/{username}/{project}/envvar -H \"Circle-Token: <circle-token>\""
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Environment variable created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/EnvVar" }
              }
            }
          }
        }
      }
    },
    "/project/{vcs-type}/{username}/{project}/envvar/{name}": {
      "get": {
        "tags": ["Environment Variables"],
        "summary": "Get a single environment variable",
        "description": "Returns the hidden value of the environment variable.",
        "operationId": "getEnvVar",
        "security": [ { "circleToken": [] } ],
        "parameters": [
          { "name": "vcs-type", "in": "path", "required": true, "schema": { "type": "string" }, "description": "VCS type (e.g., github, bitbucket)" },
          { "name": "username", "in": "path", "required": true, "schema": { "type": "string" }, "description": "VCS username or org" },
          { "name": "project", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Project name" },
          { "name": "name", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Environment variable name" }
        ],
        "responses": {
          "200": {
            "description": "Environment variable details",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/EnvVar" },
                "examples": {
                  "curl": {
                    "summary": "Curl Example",
                    "value": "curl -H \"Circle-Token: <circle-token>\" https://circleci.com/api/v1.1/project/{vcs-type}/{username}/{project}/envvar/{name}"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Environment Variables"],
        "summary": "Delete an environment variable",
        "description": "Deletes the environment variable named {name}.",
        "operationId": "deleteEnvVar",
        "security": [ { "circleToken": [] } ],
        "parameters": [
          { "name": "vcs-type", "in": "path", "required": true, "schema": { "type": "string" }, "description": "VCS type (e.g., github, bitbucket)" },
          { "name": "username", "in": "path", "required": true, "schema": { "type": "string" }, "description": "VCS username or org" },
          { "name": "project", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Project name" },
          { "name": "name", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Environment variable name" }
        ],
        "responses": {
          "200": {
            "description": "Environment variable deleted",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/MessageResponse" },
                "examples": {
                  "curl": {
                    "summary": "Curl Example",
                    "value": "curl -X DELETE -H \"Circle-Token: <circle-token>\" https://circleci.com/api/v1.1/project/{vcs-type}/{username}/{project}/envvar/{name}"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "circleToken": {
        "type": "apiKey",
        "in": "header",
        "name": "Circle-Token"
      }
    },
    "schemas": {
      "EnvVar": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "value": { "type": "string" }
        }
      },
      "EnvVarRequest": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "value": { "type": "string" }
        },
        "required": ["name", "value"]
      },
      "MessageResponse": {
        "type": "object",
        "properties": {
          "message": { "type": "string" }
        }
      }
    }
  }
}