{
  "openapi": "3.0.3",
  "info": {
    "title": "CircleCI API v1 - Artifacts Endpoints",
    "version": "1.0.0",
    "description": "Artifact retrieval endpoints for CircleCI API v1."
  },
  "servers": [
    { "url": "https://circleci.com/api/v1.1" }
  ],
  "tags": [
    { "name": "Artifacts", "description": "Artifact retrieval endpoints" }
  ],
  "paths": {
    "/project/{vcs-type}/{username}/{project}/{build_num}/artifacts": {
      "get": {
        "tags": ["Artifacts"],
        "summary": "List artifacts of a job",
        "description": "Returns an array of artifacts produced by a given job run.",
        "operationId": "listJobArtifacts",
        "security": [ { "circleToken": [] } ],
        "parameters": [
          { "name": "vcs-type", "in": "path", "required": true, "schema": { "type": "string" }, "description": "VCS type (e.g., github, bitbucket)" },
          { "name": "username", "in": "path", "required": true, "schema": { "type": "string" }, "description": "VCS username or org" },
          { "name": "project", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Project name" },
          { "name": "build_num", "in": "path", "required": true, "schema": { "type": "integer" }, "description": "Build number" }
        ],
        "responses": {
          "200": {
            "description": "A list of artifacts for the job",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Artifact" }
                },
                "examples": {
                  "curl": {
                    "summary": "Curl Example",
                    "value": "curl -H \"Circle-Token: <circle-token>\" https://circleci.com/api/v1.1/project/{vcs-type}/{username}/{project}/{build_num}/artifacts"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/project/{vcs-type}/{username}/{project}/latest/artifacts": {
      "get": {
        "tags": ["Artifacts"],
        "summary": "List artifacts of the latest job run",
        "description": "Returns an array of artifacts produced by the latest job run on a given branch.",
        "operationId": "listLatestJobArtifacts",
        "security": [ { "circleToken": [] } ],
        "parameters": [
          { "name": "vcs-type", "in": "path", "required": true, "schema": { "type": "string" }, "description": "VCS type (e.g., github, bitbucket)" },
          { "name": "username", "in": "path", "required": true, "schema": { "type": "string" }, "description": "VCS username or org" },
          { "name": "project", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Project name" },
          { "name": "branch", "in": "query", "required": false, "schema": { "type": "string" }, "description": "The branch to look in for the latest job run. Returns artifacts for latest job run in entire project if omitted." },
          { "name": "filter", "in": "query", "required": false, "schema": { "type": "string", "enum": ["completed", "successful", "failed", "running"] }, "description": "Restricts which jobs are returned. Set to 'completed', 'successful', 'failed', 'running', or defaults to no filter." }
        ],
        "responses": {
          "200": {
            "description": "A list of artifacts for the latest job run",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Artifact" }
                },
                "examples": {
                  "curl": {
                    "summary": "Curl Example",
                    "value": "curl -H \"Circle-Token: <circle-token>\" https://circleci.com/api/v1.1/project/{vcs-type}/{username}/{project}/latest/artifacts?branch={branch}&filter={filter}"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "circleToken": {
        "type": "apiKey",
        "in": "header",
        "name": "Circle-Token"
      }
    },
    "schemas": {
      "Artifact": {
        "type": "object",
        "properties": {
          "path": { "type": "string" },
          "pretty_path": { "type": "string" },
          "node_index": { "type": "integer" },
          "url": { "type": "string", "format": "uri" }
        }
      }
    }
  }
}