{
  "openapi": "3.0.3",
  "info": {
    "title": "CircleCI API v1 - Combined",
    "version": "1.1.0",
    "description": {
      "$ref": "markdown/overview.md"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/license/MIT"
    }
  },
  "servers": [
    {
      "url": "https://circleci.com/api/v1.1"
    }
  ],
  "tags": [
    {
      "name": "Keys",
      "description": "SSH and API key management"
    },
    {
      "name": "User",
      "description": "User-related endpoints"
    },
    {
      "name": "Artifacts",
      "description": "Artifact retrieval endpoints"
    },
    {
      "name": "Jobs",
      "description": "Job and build endpoints"
    },
    {
      "name": "Environment Variables",
      "description": "Environment variable management"
    },
    {
      "name": "Projects",
      "description": "Project management endpoints"
    }
  ],
  "paths": {
    "/project/{vcs-type}/{username}/{project}/checkout-key": {
      "get": {
        "tags": [
          "Keys"
        ],
        "summary": "List checkout keys",
        "description": "Returns an array of checkout keys for the project.",
        "operationId": "listCheckoutKeys",
        "security": [
          {
            "circleToken": []
          }
        ],
        "parameters": [
          {
            "name": "vcs-type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "VCS type (e.g., github, bitbucket)"
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "VCS username or org"
          },
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Project name"
          },
          {
            "name": "digest",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "md5",
                "sha256"
              ]
            },
            "description": "Fingerprint digest. Optional; 'md5' by default. Pass 'sha256' to return SHA-256 key fingerprint."
          }
        ],
        "responses": {
          "200": {
            "description": "A list of checkout keys",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CheckoutKey"
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -H \"Circle-Token: <circle-token>\" https://circleci.com/api/v1.1/project/{vcs-type}/{username}/{project}/checkout-key"
          }
        ]
      },
      "post": {
        "tags": [
          "Keys"
        ],
        "summary": "Create a new checkout key",
        "description": "Creates a new checkout key for the project.",
        "operationId": "createCheckoutKey",
        "security": [
          {
            "circleToken": []
          }
        ],
        "parameters": [
          {
            "name": "vcs-type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "VCS type (e.g., github, bitbucket)"
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "VCS username or org"
          },
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Project name"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckoutKeyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Checkout key created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckoutKey"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -X POST --header \"Content-Type: application/json\" -d '{\"type\":\"github-user-key\"}' https://circleci.com/api/v1.1/project/{vcs-type}/{username}/{project}/checkout-key -H \"Circle-Token: <circle-token>\""
          }
        ]
      }
    },
    "/project/{vcs-type}/{username}/{project}/checkout-key/{fingerprint}": {
      "get": {
        "tags": [
          "Keys"
        ],
        "summary": "Get a checkout key",
        "description": "Returns an individual checkout key.",
        "operationId": "getCheckoutKey",
        "security": [
          {
            "circleToken": []
          }
        ],
        "parameters": [
          {
            "name": "vcs-type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "VCS type (e.g., github, bitbucket)"
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "VCS username or org"
          },
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Project name"
          },
          {
            "name": "fingerprint",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Key fingerprint (md5 or sha256, sha256 should be URL-encoded)"
          }
        ],
        "responses": {
          "200": {
            "description": "Checkout key details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckoutKey"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -H \"Circle-Token: <circle-token>\" https://circleci.com/api/v1.1/project/{vcs-type}/{username}/{project}/checkout-key/{fingerprint}"
          }
        ]
      },
      "delete": {
        "tags": [
          "Keys"
        ],
        "summary": "Delete a checkout key",
        "description": "Deletes a checkout key by fingerprint.",
        "operationId": "deleteCheckoutKey",
        "security": [
          {
            "circleToken": []
          }
        ],
        "parameters": [
          {
            "name": "vcs-type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "VCS type (e.g., github, bitbucket)"
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "VCS username or org"
          },
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Project name"
          },
          {
            "name": "fingerprint",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Key fingerprint (md5 or sha256, sha256 should be URL-encoded)"
          }
        ],
        "responses": {
          "200": {
            "description": "Checkout key deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -X DELETE -H \"Circle-Token: <circle-token>\" https://circleci.com/api/v1.1/project/{vcs-type}/{username}/{project}/checkout-key/{fingerprint}"
          }
        ]
      }
    },
    "/project/{vcs-type}/{username}/{project}/ssh-key": {
      "post": {
        "tags": [
          "Keys"
        ],
        "summary": "Create SSH key",
        "description": "Creates an SSH key for the project.",
        "operationId": "createSshKey",
        "security": [
          {
            "circleToken": []
          }
        ],
        "parameters": [
          {
            "name": "vcs-type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "VCS type (e.g., github, bitbucket)"
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "VCS username or org"
          },
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Project name"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SshKeyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "SSH key created (no response body)"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -X POST --header \"Content-Type: application/json\" -d '{\"hostname\":\"hostname\",\"private_key\":\"RSA private key\"}' https://circleci.com/api/v1.1/project/{vcs-type}/{username}/{project}/ssh-key -H \"Circle-Token: <circle-token>\""
          }
        ]
      },
      "delete": {
        "tags": [
          "Keys"
        ],
        "summary": "Delete SSH key",
        "description": "Deletes an SSH key from the system by fingerprint.",
        "operationId": "deleteSshKey",
        "security": [
          {
            "circleToken": []
          }
        ],
        "parameters": [
          {
            "name": "vcs-type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "VCS type (e.g., github, bitbucket)"
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "VCS username or org"
          },
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Project name"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SshKeyDeleteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "SSH key deleted (no response body)"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -X DELETE --header \"Content-Type: application/json\" -d '{\"fingerprint\":\"Fingerprint\", \"hostname\":\"Hostname\"}' https://circleci.com/api/v1.1/project/{vcs-type}/{username}/{project}/ssh-key -H \"Circle-Token: <circle-token>\""
          }
        ]
      }
    },
    "/me": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Get information about the signed-in user",
        "description": "Provides information about the signed in user.",
        "operationId": "getMe",
        "security": [
          {
            "circleToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "User info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -H \"Circle-Token: <circle-token>\" https://circleci.com/api/v1.1/me"
          }
        ]
      }
    },
    "/project/{vcs-type}/{username}/{project}/{build_num}/artifacts": {
      "get": {
        "tags": [
          "Artifacts"
        ],
        "summary": "List artifacts of a job",
        "description": "Returns an array of artifacts produced by a given job run.",
        "operationId": "listJobArtifacts",
        "security": [
          {
            "circleToken": []
          }
        ],
        "parameters": [
          {
            "name": "vcs-type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "VCS type (e.g., github, bitbucket)"
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "VCS username or org"
          },
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Project name"
          },
          {
            "name": "build_num",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Build number"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of artifacts for the job",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Artifact"
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -H \"Circle-Token: <circle-token>\" https://circleci.com/api/v1.1/project/{vcs-type}/{username}/{project}/{build_num}/artifacts"
          }
        ]
      }
    },
    "/project/{vcs-type}/{username}/{project}/latest/artifacts": {
      "get": {
        "tags": [
          "Artifacts"
        ],
        "summary": "List artifacts of the latest job run",
        "description": "Returns an array of artifacts produced by the latest job run on a given branch.",
        "operationId": "listLatestJobArtifacts",
        "security": [
          {
            "circleToken": []
          }
        ],
        "parameters": [
          {
            "name": "vcs-type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "VCS type (e.g., github, bitbucket)"
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "VCS username or org"
          },
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Project name"
          },
          {
            "name": "branch",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The branch to look in for the latest job run. Returns artifacts for latest job run in entire project if omitted."
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "completed",
                "successful",
                "failed",
                "running"
              ]
            },
            "description": "Restricts which jobs are returned. Set to 'completed', 'successful', 'failed', 'running', or defaults to no filter."
          }
        ],
        "responses": {
          "200": {
            "description": "A list of artifacts for the latest job run",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Artifact"
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -H \"Circle-Token: <circle-token>\" https://circleci.com/api/v1.1/project/{vcs-type}/{username}/{project}/latest/artifacts?branch={branch}&filter={filter}"
          }
        ]
      }
    },
    "/project/{vcs-type}/{username}/{project}/{build_num}": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "Get details for a single job run",
        "description": "Returns full details for a single job run.",
        "operationId": "getJobDetails",
        "security": [
          {
            "circleToken": []
          }
        ],
        "parameters": [
          {
            "name": "vcs-type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "VCS type (e.g., github, bitbucket)"
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "VCS username or org"
          },
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Project name"
          },
          {
            "name": "build_num",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Build number"
          }
        ],
        "responses": {
          "200": {
            "description": "Job details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobDetails"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -H \"Circle-Token: <circle-token>\" https://circleci.com/api/v1.1/project/{vcs-type}/{username}/{project}/{build_num}"
          }
        ]
      }
    },
    "/project/{vcs-type}/{username}/{project}/{build_num}/retry": {
      "post": {
        "tags": [
          "Jobs"
        ],
        "summary": "Retry a job",
        "description": "Retries the job, returns a summary of the new job run.",
        "operationId": "retryJob",
        "security": [
          {
            "circleToken": []
          }
        ],
        "parameters": [
          {
            "name": "vcs-type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "VCS type (e.g., github, bitbucket)"
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "VCS username or org"
          },
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Project name"
          },
          {
            "name": "build_num",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Build number"
          }
        ],
        "responses": {
          "200": {
            "description": "Job retried successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobDetails"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -X POST -H \"Circle-Token: <circle-token>\" https://circleci.com/api/v1.1/project/{vcs-type}/{username}/{project}/{build_num}/retry"
          }
        ]
      }
    },
    "/project/{vcs-type}/{username}/{project}/{build_num}/cancel": {
      "post": {
        "tags": [
          "Jobs"
        ],
        "summary": "Cancel a job",
        "description": "Cancels the job, returns a summary of the job run.",
        "operationId": "cancelJob",
        "security": [
          {
            "circleToken": []
          }
        ],
        "parameters": [
          {
            "name": "vcs-type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "VCS type (e.g., github, bitbucket)"
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "VCS username or org"
          },
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Project name"
          },
          {
            "name": "build_num",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Build number"
          }
        ],
        "responses": {
          "200": {
            "description": "Job cancelled successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobDetails"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -X POST -H \"Circle-Token: <circle-token>\" https://circleci.com/api/v1.1/project/{vcs-type}/{username}/{project}/{build_num}/cancel"
          }
        ]
      }
    },
    "/project/{vcs-type}/{username}/{project}/tree/{branch}": {
      "post": {
        "tags": [
          "Jobs"
        ],
        "summary": "Trigger a new job on a branch",
        "description": "Triggers a new job, returns a summary of the job run. Optional build parameters can be set in the request body.",
        "operationId": "triggerJobOnBranch",
        "security": [
          {
            "circleToken": []
          }
        ],
        "parameters": [
          {
            "name": "vcs-type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "VCS type (e.g., github, bitbucket)"
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "VCS username or org"
          },
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Project name"
          },
          {
            "name": "branch",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Branch name"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BuildParameters"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Job triggered successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobDetails"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -X POST -H \"Content-Type: application/json\" -d '{\"build_parameters\":{}}' -H \"Circle-Token: <circle-token>\" https://circleci.com/api/v1.1/project/{vcs-type}/{username}/{project}/tree/{branch}"
          }
        ]
      }
    },
    "/project/{vcs-type}/{username}/{project}/{build_num}/ssh-users": {
      "post": {
        "tags": [
          "Jobs"
        ],
        "summary": "Add a user to the job's SSH permissions",
        "description": "Adds a user to the job's SSH permissions.",
        "operationId": "addSshUserToJob",
        "security": [
          {
            "circleToken": []
          }
        ],
        "parameters": [
          {
            "name": "vcs-type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "VCS type (e.g., github, bitbucket)"
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "VCS username or org"
          },
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Project name"
          },
          {
            "name": "build_num",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Build number"
          }
        ],
        "responses": {
          "200": {
            "description": "User added to SSH permissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobDetails"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -X POST -H \"Circle-Token: <circle-token>\" https://circleci.com/api/v1.1/project/{vcs-type}/{username}/{project}/{build_num}/ssh-users"
          }
        ]
      }
    },
    "/project/{vcs-type}/{username}/{project}/{build_num}/tests": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "Get test metadata for a job",
        "description": "Provides test metadata for a job.",
        "operationId": "getJobTestMetadata",
        "security": [
          {
            "circleToken": []
          }
        ],
        "parameters": [
          {
            "name": "vcs-type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "VCS type (e.g., github, bitbucket)"
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "VCS username or org"
          },
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Project name"
          },
          {
            "name": "build_num",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Build number"
          }
        ],
        "responses": {
          "200": {
            "description": "Test metadata for the job",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TestMetadataResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -H \"Circle-Token: <circle-token>\" https://circleci.com/api/v1.1/project/{vcs-type}/{username}/{project}/{build_num}/tests"
          }
        ]
      }
    },
    "/project/{vcs-type}/{username}/{project}/envvar": {
      "get": {
        "tags": [
          "Environment Variables"
        ],
        "summary": "List environment variables",
        "description": "Returns all environment variables for the project.",
        "operationId": "listEnvVars",
        "security": [
          {
            "circleToken": []
          }
        ],
        "parameters": [
          {
            "name": "vcs-type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "VCS type (e.g., github, bitbucket)"
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "VCS username or org"
          },
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Project name"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of environment variables",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EnvVar"
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -H \"Circle-Token: <circle-token>\" https://circleci.com/api/v1.1/project/{vcs-type}/{username}/{project}/envvar"
          }
        ]
      },
      "post": {
        "tags": [
          "Environment Variables"
        ],
        "summary": "Add an environment variable",
        "description": "Creates a new environment variable for the project.",
        "operationId": "addEnvVar",
        "security": [
          {
            "circleToken": []
          }
        ],
        "parameters": [
          {
            "name": "vcs-type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "VCS type (e.g., github, bitbucket)"
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "VCS username or org"
          },
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Project name"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnvVarRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Environment variable created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnvVar"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -X POST --header \"Content-Type: application/json\" -d '{\"name\":\"foo\", \"value\":\"bar\"}' https://circleci.com/api/v1.1/project/{vcs-type}/{username}/{project}/envvar -H \"Circle-Token: <circle-token>\""
          }
        ]
      }
    },
    "/project/{vcs-type}/{username}/{project}/envvar/{name}": {
      "get": {
        "tags": [
          "Environment Variables"
        ],
        "summary": "Get a single environment variable",
        "description": "Returns the hidden value of the environment variable.",
        "operationId": "getEnvVar",
        "security": [
          {
            "circleToken": []
          }
        ],
        "parameters": [
          {
            "name": "vcs-type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "VCS type (e.g., github, bitbucket)"
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "VCS username or org"
          },
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Project name"
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Environment variable name"
          }
        ],
        "responses": {
          "200": {
            "description": "Environment variable details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnvVar"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -H \"Circle-Token: <circle-token>\" https://circleci.com/api/v1.1/project/{vcs-type}/{username}/{project}/envvar/{name}"
          }
        ]
      },
      "delete": {
        "tags": [
          "Environment Variables"
        ],
        "summary": "Delete an environment variable",
        "description": "Deletes the environment variable named {name}.",
        "operationId": "deleteEnvVar",
        "security": [
          {
            "circleToken": []
          }
        ],
        "parameters": [
          {
            "name": "vcs-type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "VCS type (e.g., github, bitbucket)"
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "VCS username or org"
          },
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Project name"
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Environment variable name"
          }
        ],
        "responses": {
          "200": {
            "description": "Environment variable deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -X DELETE -H \"Circle-Token: <circle-token>\" https://circleci.com/api/v1.1/project/{vcs-type}/{username}/{project}/envvar/{name}"
          }
        ]
      }
    },
    "/projects": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "List all followed projects",
        "description": "Lists all projects you are following on CircleCI, with job information organized by branch.",
        "operationId": "listProjects",
        "security": [
          {
            "circleToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "A list of projects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Project"
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -H \"Circle-Token: <circle-token>\" https://circleci.com/api/v1.1/projects"
          }
        ]
      }
    },
    "/project/{vcs-type}/{username}/{project}": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "Get recent jobs for a single project",
        "description": "Returns a summary for each of the last 30 job runs for a single project.",
        "operationId": "getProjectRecentJobs",
        "security": [
          {
            "circleToken": []
          }
        ],
        "parameters": [
          {
            "name": "vcs-type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "VCS type (e.g., github, bitbucket)"
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "VCS username or org"
          },
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Project name"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of recent jobs for the project",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/JobSummary"
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -H \"Circle-Token: <circle-token>\" https://circleci.com/api/v1.1/project/{vcs-type}/{username}/{project}"
          }
        ]
      }
    },
    "/project/{vcs-type}/{username}/{project}/follow": {
      "post": {
        "tags": [
          "Projects"
        ],
        "summary": "Follow a new project on CircleCI",
        "description": "Follow a new project on CircleCI.",
        "operationId": "followProject",
        "security": [
          {
            "circleToken": []
          }
        ],
        "parameters": [
          {
            "name": "vcs-type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "VCS type (e.g., github, bitbucket)"
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "VCS username or org"
          },
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Project name"
          }
        ],
        "responses": {
          "200": {
            "description": "Project followed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -X POST -H \"Circle-Token: <circle-token>\" https://circleci.com/api/v1.1/project/{vcs-type}/{username}/{project}/follow"
          }
        ]
      }
    },
    "/recent-builds": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "Get recent jobs across all projects",
        "description": "Returns a summary for each of the last 30 recent job runs, ordered by build_num.",
        "operationId": "getRecentBuilds",
        "security": [
          {
            "circleToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "A list of recent jobs across all projects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/JobSummary"
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl -H \"Circle-Token: <circle-token>\" https://circleci.com/api/v1.1/recent-builds"
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "circleToken": {
        "type": "apiKey",
        "in": "header",
        "name": "Circle-Token"
      }
    },
    "schemas": {
      "CheckoutKey": {
        "type": "object",
        "properties": {
          "public_key": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "deploy-key",
              "github-user-key",
              "user-key"
            ]
          },
          "fingerprint": {
            "type": "string"
          },
          "preferred": {
            "type": "boolean"
          },
          "time": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CheckoutKeyRequest": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "deploy-key",
              "github-user-key"
            ]
          }
        },
        "required": [
          "type"
        ]
      },
      "SshKeyRequest": {
        "type": "object",
        "properties": {
          "hostname": {
            "type": "string"
          },
          "private_key": {
            "type": "string"
          }
        },
        "required": [
          "hostname",
          "private_key"
        ]
      },
      "SshKeyDeleteRequest": {
        "type": "object",
        "properties": {
          "fingerprint": {
            "type": "string"
          },
          "hostname": {
            "type": "string"
          }
        },
        "required": [
          "fingerprint",
          "hostname"
        ]
      },
      "MessageResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          }
        }
      },
      "JobSummary": {
        "type": "object",
        "properties": {
          "build_num": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "branch": {
            "type": "string"
          },
          "vcs_revision": {
            "type": "string"
          },
          "committer_name": {
            "type": "string"
          },
          "committer_email": {
            "type": "string"
          },
          "subject": {
            "type": "string"
          },
          "start_time": {
            "type": "string",
            "format": "date-time"
          },
          "stop_time": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Project": {
        "type": "object",
        "properties": {
          "vcs_url": {
            "type": "string"
          },
          "username": {
            "type": "string"
          },
          "reponame": {
            "type": "string"
          },
          "branches": {
            "type": "object"
          }
        }
      },
      "EnvVar": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "value": {
            "type": "string"
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "user_key_fingerprint": {
            "type": "string",
            "nullable": true
          },
          "days_left_in_trial": {
            "type": "integer"
          },
          "trial_end": {
            "type": "string",
            "format": "date-time"
          },
          "basic_email_prefs": {
            "type": "string"
          },
          "admin": {
            "type": "boolean"
          },
          "login": {
            "type": "string"
          }
        }
      },
      "HerokuKeyRequest": {
        "type": "object",
        "properties": {
          "apikey": {
            "type": "string",
            "description": "Heroku API key"
          }
        },
        "required": [
          "apikey"
        ]
      },
      "JobDetails": {
        "type": "object",
        "properties": {
          "build_num": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "branch": {
            "type": "string"
          },
          "vcs_revision": {
            "type": "string"
          },
          "committer_name": {
            "type": "string"
          },
          "committer_email": {
            "type": "string"
          },
          "subject": {
            "type": "string"
          },
          "start_time": {
            "type": "string",
            "format": "date-time"
          },
          "stop_time": {
            "type": "string",
            "format": "date-time"
          },
          "steps": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "outcome": {
            "type": "string"
          },
          "lifecycle": {
            "type": "string"
          },
          "messages": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "build_parameters": {
            "type": "object"
          }
        }
      },
      "EnvVarRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "value": {
            "type": "string"
          }
        },
        "required": [
          "name",
          "value"
        ]
      },
      "TestMetadataResponse": {
        "type": "object",
        "properties": {
          "tests": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "nullable": true
                },
                "file": {
                  "type": "string"
                },
                "source": {
                  "type": "string"
                },
                "run_time": {
                  "type": "number"
                },
                "result": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "classname": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "BuildParameters": {
        "type": "object",
        "properties": {
          "build_parameters": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "Artifact": {
        "type": "object",
        "properties": {
          "path": {
            "type": "string"
          },
          "pretty_path": {
            "type": "string"
          },
          "node_index": {
            "type": "integer"
          },
          "url": {
            "type": "string",
            "format": "uri"
          }
        }
      }
    }
  }
}