{
  "openapi": "3.0.3",
  "info": {
    "title": "CircleCI API v1 - Jobs Endpoints",
    "version": "1.0.0",
    "description": "Job-related endpoints for CircleCI API v1."
  },
  "servers": [
    { "url": "https://circleci.com/api/v1.1" }
  ],
  "tags": [
    { "name": "Jobs", "description": "Job and build endpoints" }
  ],
  "paths": {
    "/project/{vcs-type}/{username}/{project}/{build_num}": {
      "get": {
        "tags": ["Jobs"],
        "summary": "Get details for a single job run",
        "description": "Returns full details for a single job run.",
        "operationId": "getJobDetails",
        "security": [ { "circleToken": [] } ],
        "parameters": [
          { "name": "vcs-type", "in": "path", "required": true, "schema": { "type": "string" }, "description": "VCS type (e.g., github, bitbucket)" },
          { "name": "username", "in": "path", "required": true, "schema": { "type": "string" }, "description": "VCS username or org" },
          { "name": "project", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Project name" },
          { "name": "build_num", "in": "path", "required": true, "schema": { "type": "integer" }, "description": "Build number" }
        ],
        "responses": {
          "200": {
            "description": "Job details",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/JobDetails" },
                "examples": {
                  "curl": {
                    "summary": "Curl Example",
                    "value": "curl -H \"Circle-Token: <circle-token>\" https://circleci.com/api/v1.1/project/{vcs-type}/{username}/{project}/{build_num}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/project/{vcs-type}/{username}/{project}/{build_num}/retry": {
      "post": {
        "tags": ["Jobs"],
        "summary": "Retry a job",
        "description": "Retries the job, returns a summary of the new job run.",
        "operationId": "retryJob",
        "security": [ { "circleToken": [] } ],
        "parameters": [
          { "name": "vcs-type", "in": "path", "required": true, "schema": { "type": "string" }, "description": "VCS type (e.g., github, bitbucket)" },
          { "name": "username", "in": "path", "required": true, "schema": { "type": "string" }, "description": "VCS username or org" },
          { "name": "project", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Project name" },
          { "name": "build_num", "in": "path", "required": true, "schema": { "type": "integer" }, "description": "Build number" }
        ],
        "responses": {
          "200": {
            "description": "Job retried successfully",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/JobDetails" },
                "examples": {
                  "curl": {
                    "summary": "Curl Example",
                    "value": "curl -X POST -H \"Circle-Token: <circle-token>\" https://circleci.com/api/v1.1/project/{vcs-type}/{username}/{project}/{build_num}/retry"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/project/{vcs-type}/{username}/{project}/{build_num}/cancel": {
      "post": {
        "tags": ["Jobs"],
        "summary": "Cancel a job",
        "description": "Cancels the job, returns a summary of the job run.",
        "operationId": "cancelJob",
        "security": [ { "circleToken": [] } ],
        "parameters": [
          { "name": "vcs-type", "in": "path", "required": true, "schema": { "type": "string" }, "description": "VCS type (e.g., github, bitbucket)" },
          { "name": "username", "in": "path", "required": true, "schema": { "type": "string" }, "description": "VCS username or org" },
          { "name": "project", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Project name" },
          { "name": "build_num", "in": "path", "required": true, "schema": { "type": "integer" }, "description": "Build number" }
        ],
        "responses": {
          "200": {
            "description": "Job cancelled successfully",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/JobDetails" },
                "examples": {
                  "curl": {
                    "summary": "Curl Example",
                    "value": "curl -X POST -H \"Circle-Token: <circle-token>\" https://circleci.com/api/v1.1/project/{vcs-type}/{username}/{project}/{build_num}/cancel"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/project/{vcs-type}/{username}/{project}/tree/{branch}": {
      "post": {
        "tags": ["Jobs"],
        "summary": "Trigger a new job on a branch",
        "description": "Triggers a new job, returns a summary of the job run. Optional build parameters can be set in the request body.",
        "operationId": "triggerJobOnBranch",
        "security": [ { "circleToken": [] } ],
        "parameters": [
          { "name": "vcs-type", "in": "path", "required": true, "schema": { "type": "string" }, "description": "VCS type (e.g., github, bitbucket)" },
          { "name": "username", "in": "path", "required": true, "schema": { "type": "string" }, "description": "VCS username or org" },
          { "name": "project", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Project name" },
          { "name": "branch", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Branch name" }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/BuildParameters" },
              "examples": {
                "curl": {
                  "summary": "Curl Example",
                  "value": "curl -X POST -H \"Content-Type: application/json\" -d '{\"build_parameters\":{}}' -H \"Circle-Token: <circle-token>\" https://circleci.com/api/v1.1/project/{vcs-type}/{username}/{project}/tree/{branch}"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Job triggered successfully",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/JobDetails" }
              }
            }
          }
        }
      }
    },
    "/project/{vcs-type}/{username}/{project}/{build_num}/ssh-users": {
      "post": {
        "tags": ["Jobs"],
        "summary": "Add a user to the job's SSH permissions",
        "description": "Adds a user to the job's SSH permissions.",
        "operationId": "addSshUserToJob",
        "security": [ { "circleToken": [] } ],
        "parameters": [
          { "name": "vcs-type", "in": "path", "required": true, "schema": { "type": "string" }, "description": "VCS type (e.g., github, bitbucket)" },
          { "name": "username", "in": "path", "required": true, "schema": { "type": "string" }, "description": "VCS username or org" },
          { "name": "project", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Project name" },
          { "name": "build_num", "in": "path", "required": true, "schema": { "type": "integer" }, "description": "Build number" }
        ],
        "responses": {
          "200": {
            "description": "User added to SSH permissions",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/JobDetails" },
                "examples": {
                  "curl": {
                    "summary": "Curl Example",
                    "value": "curl -X POST -H \"Circle-Token: <circle-token>\" https://circleci.com/api/v1.1/project/{vcs-type}/{username}/{project}/{build_num}/ssh-users"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/project/{vcs-type}/{username}/{project}/{build_num}/tests": {
      "get": {
        "tags": ["Jobs"],
        "summary": "Get test metadata for a job",
        "description": "Provides test metadata for a job.",
        "operationId": "getJobTestMetadata",
        "security": [ { "circleToken": [] } ],
        "parameters": [
          { "name": "vcs-type", "in": "path", "required": true, "schema": { "type": "string" }, "description": "VCS type (e.g., github, bitbucket)" },
          { "name": "username", "in": "path", "required": true, "schema": { "type": "string" }, "description": "VCS username or org" },
          { "name": "project", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Project name" },
          { "name": "build_num", "in": "path", "required": true, "schema": { "type": "integer" }, "description": "Build number" }
        ],
        "responses": {
          "200": {
            "description": "Test metadata for the job",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/TestMetadataResponse" },
                "examples": {
                  "curl": {
                    "summary": "Curl Example",
                    "value": "curl -H \"Circle-Token: <circle-token>\" https://circleci.com/api/v1.1/project/{vcs-type}/{username}/{project}/{build_num}/tests"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "circleToken": {
        "type": "apiKey",
        "in": "header",
        "name": "Circle-Token"
      }
    },
    "schemas": {
      "JobDetails": {
        "type": "object",
        "properties": {
          "build_num": { "type": "integer" },
          "status": { "type": "string" },
          "branch": { "type": "string" },
          "vcs_revision": { "type": "string" },
          "committer_name": { "type": "string" },
          "committer_email": { "type": "string" },
          "subject": { "type": "string" },
          "start_time": { "type": "string", "format": "date-time" },
          "stop_time": { "type": "string", "format": "date-time" },
          "steps": { "type": "array", "items": { "type": "object" } },
          "outcome": { "type": "string" },
          "lifecycle": { "type": "string" },
          "messages": { "type": "array", "items": { "type": "object" } },
          "build_parameters": { "type": "object" }
        }
      },
      "BuildParameters": {
        "type": "object",
        "properties": {
          "build_parameters": { "type": "object", "additionalProperties": true }
        }
      },
      "TestMetadataResponse": {
        "type": "object",
        "properties": {
          "tests": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "message": { "type": ["string", "null"] },
                "file": { "type": "string" },
                "source": { "type": "string" },
                "run_time": { "type": "number" },
                "result": { "type": "string" },
                "name": { "type": "string" },
                "classname": { "type": "string" }
              }
            }
          }
        }
      }
    }
  }
}