---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="CircleCI" name="apple-mobile-web-app-title">
    <meta content="{{ page.description }}" name="description">
    <title>{{ page.title }}</title>

    <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html',''}}">
    <link href="{{ site.baseurl }}/outer/assets/img/favicon.ico" rel="icon" type="image/png">
    <!-- Imported, compiled, and minified CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/outer/assets/components/font-awesome/css/font-awesome.min.css">
      <link rel="stylesheet" href="{{ site.assets }}css/pages/documentation.css">
    {% include mixpanel.html %}
  </head>
  <body>
    {% include tag-manager.html %}
    <div class="outer">
      {% include nav.html %}
      {% if page.subnav %}
        {% include subnav-{{ page.subnav }}.html %}
      {% endif %}
      <div class="main-body">
        {{ content }}
        {% include footer.html %}
      </div>
    </div>
    <script>
      window.circleEnvironment = {{ site.env }}
      window.provided = {};
      window.provided.docManifest = {{ site.docs | dump_manifest }}
    </script>
    <script type="text/javascript" src="dist/bundle.js"></script>
  </body>
</html>
