---
layout: default
---
<div class="docs container">
  <div class="row">
    <nav class="col-sm-3">
      <h2>Related Docs</h2>
      {% for tag in page.tags %}
        <p>More docs tagged "{{ tag }}":</p>
        <ul>
          {% for p in site.pages %}
            {% for t in p.tags %}
              {% if t == tag and p.title != page.title %}
                <li>{{ p.title }}</li>
              {% endif %}
            {% endfor %}
          {% endfor %}
        </ul>
      {% endfor %}
    </nav>
    <article class="col-sm-9">
      <h1>{{ page.title }}</h1>
      <div id="content">
        {{ content }}
      </div>
    </article>
  </div>
</div>
