<div class="license-notice">
  <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/" class="no-external-icon"><img
      alt="クリエイティブ・コモンズ・ライセンス" style="border-width:0"
      src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png" /></a><br /><a xmlns:cc="http://creativecommons.org/ns#"
    href="https://circleci.com/docs/" property="cc:attributionName" rel="cc:attributionURL">CircleCI</a> の <span
    xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" property="dct:title"
    rel="dct:type">CircleCI ドキュメント</span>は、<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">クリエイティブ・コモンズの表示--非営利-継承 4.0 国際ライセンス</a> に基づいてライセンス供与されています。
</div>
