.btn, .btn-primary, .btn-secondary, .btn-primary-enterprise, .btn-secondary-enterprise, .btn-secondary-enterprise-ico {
  font-weight: 700;
  line-height: 1.5;
  padding: 11px 0;
  letter-spacing: 1px;
  border-radius: 3px;
  -webkit-transition: all 400ms ease;
          transition: all 400ms ease;
  border-width: 1px;
  position: relative;
  width: 250px;
  height: 50px; }
  .btn.legacy, .legacy.btn-primary, .legacy.btn-secondary, .legacy.btn-primary-enterprise, .legacy.btn-secondary-enterprise, .legacy.btn-secondary-enterprise-ico {
    min-width: 100px;
    min-height: 45px; }
  .btn.small, .small.btn-primary, .small.btn-secondary, .small.btn-primary-enterprise, .small.btn-secondary-enterprise, .small.btn-secondary-enterprise-ico {
    width: 100px; }
  .btn.full-width, .full-width.btn-primary, .full-width.btn-secondary, .full-width.btn-primary-enterprise, .full-width.btn-secondary-enterprise, .full-width.btn-secondary-enterprise-ico {
    width: 100%; }
  .btn button, .btn-primary button, .btn-secondary button, .btn-primary-enterprise button, .btn-secondary-enterprise button, .btn-secondary-enterprise-ico button {
    position: absolute;
    right: -20%;
    width: 20%;
    z-index: 3; }
  .btn.img, .img.btn-primary, .img.btn-secondary, .img.btn-primary-enterprise, .img.btn-secondary-enterprise, .img.btn-secondary-enterprise-ico {
    padding: 11px 0px 11px 12px; }
    .btn.img img, .img.btn-primary img, .img.btn-secondary img, .img.btn-primary-enterprise img, .img.btn-secondary-enterprise img, .img.btn-secondary-enterprise-ico img, .btn.img svg, .img.btn-primary svg, .img.btn-secondary svg, .img.btn-primary-enterprise svg, .img.btn-secondary-enterprise svg, .img.btn-secondary-enterprise-ico svg {
      fill: white;
      width: 44px;
      height: auto;
      position: absolute;
      top: 1px;
      left: 1px; }
    .btn.img span, .img.btn-primary span, .img.btn-secondary span, .img.btn-primary-enterprise span, .img.btn-secondary-enterprise span, .img.btn-secondary-enterprise-ico span {
      display: inline-block;
      padding: 0px 14px 0px 32px; }
  .btn.ico, .ico.btn-primary, .ico.btn-secondary, .ico.btn-primary-enterprise, .ico.btn-secondary-enterprise, .btn-secondary-enterprise-ico {
    padding: 11px 0 11px 24px; }
    .btn.ico img, .ico.btn-primary img, .btn-primary.btn-secondary-enterprise-ico img, .ico.btn-secondary img, .btn-secondary.btn-secondary-enterprise-ico img, .ico.btn-primary-enterprise img, .btn-primary-enterprise.btn-secondary-enterprise-ico img, .ico.btn-secondary-enterprise img, .btn-secondary-enterprise.btn-secondary-enterprise-ico img, .btn-secondary-enterprise-ico img, .btn.ico svg, .ico.btn-primary svg, .btn-primary.btn-secondary-enterprise-ico svg, .ico.btn-secondary svg, .btn-secondary.btn-secondary-enterprise-ico svg, .ico.btn-primary-enterprise svg, .btn-primary-enterprise.btn-secondary-enterprise-ico svg, .ico.btn-secondary-enterprise svg, .btn-secondary-enterprise.btn-secondary-enterprise-ico svg, .btn-secondary-enterprise-ico svg {
      fill: white;
      width: 44px;
      height: auto;
      max-height: 24px;
      margin: 10px;
      position: absolute;
      top: 1px;
      left: 1px; }
    .btn.ico span, .ico.btn-primary span, .btn-primary.btn-secondary-enterprise-ico span, .ico.btn-secondary span, .btn-secondary.btn-secondary-enterprise-ico span, .ico.btn-primary-enterprise span, .btn-primary-enterprise.btn-secondary-enterprise-ico span, .ico.btn-secondary-enterprise span, .btn-secondary-enterprise.btn-secondary-enterprise-ico span, .btn-secondary-enterprise-ico span {
      display: inline-block;
      padding: 0 14px 0 32px; }
  .btn.primary.green, .btn-primary, .primary.btn-secondary, .btn-secondary.btn-primary-enterprise, .green.btn-primary-enterprise, .primary.green.btn-secondary-enterprise, .primary.green.btn-secondary-enterprise-ico {
    color: #FFFFFF;
    background: #04AA51;
    border-color: #04AA51; }
    .btn.primary.green:hover, .btn-primary:hover, .primary.btn-secondary:hover, .btn-secondary.btn-primary-enterprise:hover, .green.btn-primary-enterprise:hover, .primary.green.btn-secondary-enterprise:hover, .primary.green.btn-secondary-enterprise-ico:hover {
      background: #1CBF43;
      border-color: #1CBF43; }
  .btn.primary.blue, .blue.btn-primary, .btn-primary.btn-secondary-enterprise, .btn-primary.btn-secondary-enterprise-ico, .primary.blue.btn-secondary, .btn-primary-enterprise, .primary.btn-secondary-enterprise, .primary.btn-secondary-enterprise-ico {
    color: #FFFFFF;
    background: #27A0B6;
    border-color: #27A0B6; }
    .btn.primary.blue:hover, .blue.btn-primary:hover, .btn-primary.btn-secondary-enterprise:hover, .btn-primary.btn-secondary-enterprise-ico:hover, .primary.blue.btn-secondary:hover, .btn-primary-enterprise:hover, .primary.btn-secondary-enterprise:hover, .primary.btn-secondary-enterprise-ico:hover {
      color: #FFFFFF;
      background: #36D4ED;
      border-color: #36D4ED; }
  .btn.secondary, .secondary.btn-primary, .btn-secondary, .secondary.btn-primary-enterprise, .btn-secondary-enterprise, .btn-secondary-enterprise-ico {
    border-color: #D8D8D8;
    background: transparent; }
    .btn.secondary.dark, .secondary.dark.btn-primary, .dark.btn-secondary, .secondary.dark.btn-primary-enterprise, .dark.btn-secondary-enterprise, .dark.btn-secondary-enterprise-ico {
      color: #D8D8D8; }
    .btn.secondary.green, .secondary.btn-primary, .btn-primary.btn-secondary-enterprise, .btn-primary.btn-secondary-enterprise-ico, .btn-secondary, .secondary.green.btn-primary-enterprise, .green.btn-secondary-enterprise, .green.btn-secondary-enterprise-ico {
      color: #04AA51; }
      .btn.secondary.green:hover, .secondary.btn-primary:hover, .btn-primary.btn-secondary-enterprise:hover, .btn-primary.btn-secondary-enterprise-ico:hover, .btn-secondary:hover, .secondary.green.btn-primary-enterprise:hover, .green.btn-secondary-enterprise:hover, .green.btn-secondary-enterprise-ico:hover {
        color: #04AA51;
        border-color: #04AA51; }
    .btn.secondary.blue, .secondary.blue.btn-primary, .blue.btn-secondary, .btn-secondary.btn-primary-enterprise, .secondary.btn-primary-enterprise, .btn-secondary-enterprise, .btn-secondary-enterprise-ico {
      color: #27A0B6;
      background: transparent; }
      .btn.secondary.blue:hover, .secondary.blue.btn-primary:hover, .blue.btn-secondary:hover, .btn-secondary.btn-primary-enterprise:hover, .secondary.btn-primary-enterprise:hover, .btn-secondary-enterprise:hover, .btn-secondary-enterprise-ico:hover {
        color: #27A0B6;
        border-color: #27A0B6; }
  .btn.dropdown-arrow span, .dropdown-arrow.btn-primary span, .dropdown-arrow.btn-secondary span, .dropdown-arrow.btn-primary-enterprise span, .dropdown-arrow.btn-secondary-enterprise span, .dropdown-arrow.btn-secondary-enterprise-ico span {
    float: left;
    margin: 0px 6px; }
  .btn.dropdown-arrow .fa-chevron-down, .dropdown-arrow.btn-primary .fa-chevron-down, .dropdown-arrow.btn-secondary .fa-chevron-down, .dropdown-arrow.btn-primary-enterprise .fa-chevron-down, .dropdown-arrow.btn-secondary-enterprise .fa-chevron-down, .dropdown-arrow.btn-secondary-enterprise-ico .fa-chevron-down {
    float: right;
    margin: 6px; }
  .btn.pad, .pad.btn-primary, .pad.btn-secondary, .pad.btn-primary-enterprise, .pad.btn-secondary-enterprise, .pad.btn-secondary-enterprise-ico {
    padding: 18px 55px 18px 55px; }
  .btn.center, .center.btn-primary, .center.btn-secondary, .center.btn-primary-enterprise, .center.btn-secondary-enterprise, .center.btn-secondary-enterprise-ico {
    display: block;
    margin: 0 auto; }