---
---

// Colors for EVERYTHING (alphabetical)
$body-text-color: #555;
$heading-color: #333;
$nav-bg-color: #FBFBFB;
$nav-border-color: #CCC;


// General
body{
	color: $body-text-color;
}
	div.main-body{
		overflow: auto;
	}

div.main-body{
	display: flex;
}

// Navigation Sidebar
#nav-button{
	display: none;
}

nav.sidebar{
	border-right: 1px solid $nav-border-color;
	background-color: $nav-bg-color;
	padding: 30px 20px 20px;
	width: 25%;

	a{
		display: block;
		padding: 5px 10px;
		font-size: 0.875rem;
	}
		&> ul > li > a{
			padding: 14px 10px;
			color: $heading-color;
			font-size: 1.125rem;
		}

		li.active > a{
			font-weight: bold;
		}
}


// Search bar
#site-search{
	padding-bottom: 30px;

	input{
		margin: 0;
		padding: 0 1em;
	}
}
	#search-results{
		position: absolute;
		top: 54%;
		right: 10%;
		left: 10%;
	}
		#search-results li span{
			padding: 3px 20px;
		}
		#search-results li div{
			padding: 3px 20px;
			font-size: 0.8em;
		}


// Article
div.article-container{
	float: left;
	padding: 30px 43px 0;
	width: 75%;
}
	article{
		h2,
		h3,
		h4,
		h5,
		h6{
			a{
				padding-left: 5px;

				&:hover{
					text-decoration: none;
				}
			}

			i.fa-link{
				display: none;
				font-size: smaller;
			}

			// prevent anchor links from being under the global nav
			&[id]:before{
				display: block;
				content: " ";
				margin-top: -71px;
				height: 71px;
				visibility: hidden;
			}
		}

		h1{
			font-size: 2.25rem;
		}

		h2{
			font-size: 1.7rem;
		}

		h3{
			margin-top: 10px;
			font-size: 1.4rem;
		}

		h4{
			font-size: 1.2rem;
		}

		img{
			margin: 15px 0;
			max-width: 100%;
		}

		span.align-center{
			display: block;
			text-align: center;

			img{
				max-width: 90%;
			}
		}

		.embed-responsive{
			margin-bottom: 15px;
		}

		.license-notice{
			margin: 0 auto;
			padding-bottom: 20px;
			width: 70%;
			text-align: center;
			font-size: smaller;
		}
	}

div.align-center{
}
	div.align-center img{
		max-width: 90%;
		text-align: center;
	}

p {
	color: #333;
}

// Homepage
body.homepage{

	article{
		display: flex;
		flex-wrap: wrap;
		width: 100%;
	}

	div.category-section{
		padding: 15px 10px 20px;
		width: 50%;
		text-align: center;
		.logo{
			width: 60px;
		}

		h2{
			font-size: 1.5rem;
		}

		li a{
			font-size: 0.875rem;
		}
	}
}

code {
  padding: 2px;
  font-size: 75%;
}

/***** Widgets ****************************************************************/
//
//*****************************************************************************/
.os-matrix{
	display: inline-block;
	margin: 10px 0;
	border: 1px solid #DEDEDE;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,0.15);
	background-color: white;
	width: auto;
}
	.os-matrix p{
		display: inline-block;
		margin: 0;
		border-left: 1px solid #DEDEDE;
		padding: 5px 15px;
	}
		.os-matrix p:first-child{
			border-left: none;
		}

		.os-matrix p span{
			margin-right: 5px;
			font-weight: bold;
		}
/***** End - Widgets **********************************************************/
//
//*****************************************************************************/
