---
---
@import 'variables';
@import 'sidebar';
@import 'instantsearch';

// General
body{
	color: $body-text-color;
	display: block;
	width: 100%;
	background: linear-gradient(to right, #F7F7F7 0%, #F7F7F7 50%, #fff 50%, #fff 100%);
	font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto';
  font-weight: 500;
}
p {
	font-family: 'Roboto';
	color: $body-text-color;
}

a {
	color: $link-text-color;

	&:hover {
		color: $link-hover-color;
		text-decoration: none;
	}
}

div.main-body{
	overflow: auto;
}

div.main-body {
	display: flex;
	max-width: 1200px;
	margin: 0 auto;
	background: #fff;
}

#hits-template {
	display: block;
	max-width: 1180px;
	margin: 50px auto 0 auto;
}

.text-center-small-float-right {
  float: right;
  @media screen and (max-width: $screen-sm) {
    text-align: center;
    float: none;
  }
}

.text-center-small-float-left {
  float: left;
  @media screen and (max-width: $screen-sm) {
    text-align: center;
    float: none;
  }
}

.logo-small {
  max-width: $logo-width-small;
}

.no-margin {
  margin: 0px;
}

ul.horizontal {
  li {
    display: inline-block;
    padding: 0 $spacing-medium-horizontal 0 0;
  }
  &.blue {
    a {
      color: $blue;
      text-transform: initial;
      font-size: $font-size-base;
    }
  }
}

.text-blue {
  color: $blue;
}

hr.dark {
  border-color: $black-light;
}

footer {
	li, span {
		text-transform: initial;
		font-size: $font-size-base;
	}
}

// Main Nav Additions
nav.nav-toggle.two {
	.btn, .btn-primary, .btn-primary-enterprise {
		display: inline-block;
		text-align: center;
		vertical-align: middle;
		font-size: 16px;
	}

	a:hover {
		text-decoration: none;
	}
}

// Navigation Sidebar
#nav-button{
	display: none;
}


// Search bar
#site-search{
	padding-bottom: 30px;

	input{
		margin: 0;
		padding: 0 1em;
	}

	.algolia-autocomplete {
		width: 100%;
	}

	.algolia-autocomplete.algolia-autocomplete-right .ds-dropdown-menu {
		left: 0 !important;
		right: none !important;
	}
}


// Article
div.article-container{
	float: left;
	@media screen and (max-width: $screen-sm) {
		padding: 0 16px 0 16px;
		width: 100%;
	}
	padding: 60px 48px 0 48px;
	width: calc(100% - 260px);
}
	article{
		h2,
		h3,
		h4,
		h5,
		h6{
			a{
				padding-left: 5px;
				color: #27A0B6;

				&:hover{
					text-decoration: none;
				}
			}

			i.fa-link{
				display: none;
				font-size: smaller;
			}

			// prevent anchor links from being under the global nav
			&[id]:before{
				display: block;
				content: " ";
				margin-top: -135px;
				height: 135px;
				visibility: hidden;
			}
		}

		h1{
			font-size: 2.25rem;
		}

		h2{
			font-size: 1.7rem;
		}

		h3{
			margin-top: 10px;
			font-size: 1.4rem;
		}

		h4{
			font-size: 1.2rem;
		}

		img{
			margin: 15px 0;
			max-width: 100%;
		}

		span.align-center{
			display: block;
			text-align: center;

			img{
				max-width: 90%;
			}
		}

		.video-wrapper {
			position: relative;
			padding-bottom: 56.25%; /* 16:9 */
			padding-top: 25px;
			height: 0;

			iframe {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}

		.license-notice{
			margin: 0 auto;
			padding-bottom: 20px;
			width: 70%;
			text-align: center;
			font-size: smaller;
		}
	}

div.align-center{
}
	div.align-center img{
		max-width: 90%;
		text-align: center;
	}

// Homepage
body.homepage{
  .article-container{
    @media screen and (max-width: $screen-sm) {
  	  padding: 0 16px 0 16px;
      width: 100%;
    }
	  padding: 60px 48px 0 48px;
    width: calc(100% - 260px);
  }

	article{
		display: flex;
		flex-wrap: wrap;
		width: 100%;
	}

	div.category-section{
		padding: 15px 10px 20px;
		width: 50%;
		text-align: center;
		.logo{
			width: 60px;
		}

		h2{
			font-size: 1.5rem;
		}

		li a{
			font-size: 0.875rem;
		}
	}
}

code {
  padding: 2px;
}

/***** Widgets ****************************************************************/
//
//*****************************************************************************/
.os-matrix{
	display: inline-block;
	margin: 10px 0;
	border: 1px solid #DEDEDE;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,0.15);
	background-color: white;
	width: auto;
}
	.os-matrix p{
		display: inline-block;
		margin: 0;
		border-left: 1px solid #DEDEDE;
		padding: 5px 15px;
	}
		.os-matrix p:first-child{
			border-left: none;
		}

		.os-matrix p span{
			margin-right: 5px;
			font-weight: bold;
		}

.alert-danger a{
	color: #843534;
	font-weight: bold;
}


// --- custom Tabs -- see `renderTabbedHtml` in `assets/js/main.js`
.tabWrapper {
  padding: 50px 0 0 0;
  position: relative;
  border: 1px solid #dfdfdf;
  margin: 16px 0;
}

.tabGroup {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  box-shadow: inset 0 -2px 0 #dfdfdf;
  overflow-x: auto;
}

.tab {
  margin: 0;
  padding: 8px;
}

.tab img {
  margin: 0;
}

.tab pre {
  margin-bottom: 0px;
}


.realtab {
  background: white;
  color: #999;
  cursor: pointer;
  padding: 12px 24px;
  border-bottom: 2px solid #dfdfdf;
}

.realtab-active {
  border-bottom: 2px solid #4091F7;
}

/***** End - Widgets **********************************************************/
//
//*****************************************************************************/

.list-2cols{
	display: grid;
	grid-template-columns: 50% 50%;
}

.list-3cols{
	display: grid;
	grid-template-columns: 33% 33% 33%;
}

/* A fix for https://github.com/circleci/circleci-docs/issues/1978 */
body > img:last-of-type{
	display: none;
}

/* These two classes control code block rendering when line numbers are enabled, they are formatted as tables, so without the following you see the table borders in the Jekyll output which looks bad*/
.lineno{
	border-color: #f5f5f5
}

pre {
	border-color: #f5f5f5;
	margin-bottom: 10px;
}

.serveronly{
	color: #4e9eb3; 
  }

.table-migrate td, .table-migrate th {
  width: 50%;
  display: inline-block;
  height: 100%;
}

