@mixin cta-button {
  align-items: center;
  border-color: transparent;
  border-radius: 3px 0 0 3px;
  border-radius: 3px;
  border-style: solid;
  border-width: 2px;
  cursor: pointer;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  height: 48px;
  width: 100%;
  outline: 0;
  padding: 0;
  transition: background-color 400ms;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  -webkit-transition: background-color 400ms;
}
