@mixin cta-badge {
  display: inline-flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  padding: 0px 0.5rem;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.625rem;
  font-weight: 500;
  line-height: 1rem;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  border-radius: 100px;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 137, 51);
  white-space: nowrap;
  margin-left: 8px;
}
