// Values from outer project variables
///////////////////////////////////////////////////////////////////////////////

$zindex-navbar-fixed:      1030;
$green: #04AA51;
$blue-darker: #337ab7;
$white: #FFFFFF;
$gray: #D8D8D8;
$black: #161616;
$transition-duration-medium: 400ms;
$padding-large-vertical: 11px;


// Copy of outer blog-nav, renmaed to global-nav
///////////////////////////////////////////////////////////////////////////////

.global-nav--component {
  position: fixed;
  right: 0;
  left: 0;
  z-index: $zindex-navbar-fixed;

  top: 0;

  background-color: $white;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);

  @media (max-width: $screen-xs-max) {
    position: sticky;
  }

  @media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
    .mobile-menu-button {
      display: block;
    }
  }

  .icon-bar {
    background-color: $black;
  }
}

.global-nav--lockup {
  &-link {
    // not used, yet
    --link-color: #{$black};
    --link-color-hover: #{$black};

    &:hover {
      color: $black;
    }
  }

  &-title {
    font-size: 25.2px;
    font-weight: 300;
    letter-spacing: 0.34px;
    line-height: 24px;
    margin-left: 9px;
  }
}

.global-nav--row {
  &-mobile {
    @media (max-width: $screen-sm-max) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 14px 0;
    }
  }

  &-desktop {
    @media (min-width: $screen-md) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0;
    }
  }
}

.global-nav--toggle {
  position: relative;
  padding: 9px 10px;
  margin-right: -10px;
  background-color: transparent;
  background-image: none;
  border: 0 none transparent;

  &:focus {
    outline: 0;
  }

  .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    transition: all .2s;
  }

  .icon-bar + .icon-bar {
    margin-top: 4px;
  }

  .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }

  .middle-bar {
    opacity: 0;
  }

  .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }

  &.collapsed {
    .top-bar {
      transform: rotate(0);
    }

    .middle-bar {
      opacity: 1;
    }

    .bottom-bar {
      transform: rotate(0);
    }
  }

  @media (min-width: $screen-md) {
    display: none;
  }
}

.global-nav--nav {
  @media (max-width: $screen-sm-max) {
    flex-direction: column;
    align-items: flex-start;
    margin: 0 -15px;
    padding: 0 15px;
    max-height: 500px;
    border-top: 1px solid $gray;

    &.in {
      overflow-y: auto;
    }
  }

  &.in {
    display: flex;
  }

  @media (min-width: $screen-md) {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 48px;
  }
}

.global-nav--list {
  @media (max-width: $screen-sm-max) {
    margin-top: 7.5px;

    &-item {
      position: relative;
      display: block;
      padding: 10px 0;
      font-size: 15px;
    }
  }
}

.global-nav--tag {
  &s {
    @media (min-width: $screen-md) {
      display: none;
    }
  }

  --link-color: #{$black};
  --link-color-hover: #{$green};

  &:hover,
  &:focus {
    text-decoration: none;
    color: $green;
  }

  &.active {
    font-weight: $font-weight-bold;
  }
}

.global-nav--external-link {
  &s {
    @media (min-width: $screen-md) {
      order: -1;
    }
  }

  --link-color: #{$gray-dark};
  --link-color-hover: #{$blue-darker};

  display: flex;
  align-items: center;
  letter-spacing: 0.19px;
  color: $gray-dark;
  font-size: 14px;
  font-weight: $font-weight-bold;
  @media (max-width: $screen-sm-max) {
    color: $black;
  }

  &:hover {
    color: $blue-darker;
  }
  .external-icon {
    margin-left: 4px;
    width: 16px;
    margin-top: 6px;
    margin-right: 4px;
  }


  @media (min-width: $screen-md) {
    margin-right: 20px;
    font-size: 14px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.global-nav--footer {
  @media (max-width: $screen-sm-max) {
    width: calc(100% + 30px);
    padding: 15px;
    margin: 10px -15px 0;
    text-align: center;
    border-top: 1px solid $gray;
  }
}


// Additional CSS depended on by outer blog-nav
///////////////////////////////////////////////////////////////////////////////

.flex { display: flex; }
.flex-row     { flex-direction: row; }
.items-center   { align-items: center; }


// Search bar
///////////////////////////////////////////////////////////////////////////////

.global-nav--search-bar {
  position: absolute;
  left: $leftbar-width;
  top: 33px;
  margin-top: -20px;

  .main-searchbar {
    // Turn off default input field border
    #search-box input.instantsearch-search {
      border: none;
    }

    // Put border on .main-searchbar element so we can enclose the cancel button on desktop
    @media (min-width: $screen-md) {
      border: 1px solid #BFBFBF;
      border-radius: 2px;

      &:focus-within {
        border-color: #279AF1
      }
    }
  }

  width: 260px;

  @media (min-width: $screen-lg) {
    width: 440px;
  }

  @media (max-width: $screen-sm-max) {
    left: 0;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: $screen-sm-max) {
  .global-nav--search-bar {
    display: none; // hidden by default; shown when search is open
  }
  body.search-open .global-nav--search-bar {
    display: block;
  }
}


// Mobile Search Button
///////////////////////////////////////////////////////////////////////////////

.global-nav--search-button {
  display: inline-block;
  border-right: 1px solid black;
  padding: 5px 15px;

  svg {
    width: 17px;
    height: auto;
  }

  @media (min-width: $screen-md) {
    display: none;
  }

  transition: opacity 250ms ease;
}

body.global-nav-open .global-nav--search-button {
  opacity: 0;
}

// Customizations/extensions of outer blog-nav
///////////////////////////////////////////////////////////////////////////////

.global-nav--component {

  position: sticky;

  a.global-nav--lockup-link {
    color: initial;
  }

  .btn-primary {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding: 12px 1rem 12px 1rem;
    height: 48px;
    font-size: 15px;
    font-weight: bold;
    line-height: 26px;
    width: inherit;
    border-radius: 4px;
    border: none;
    transition: background-color 300ms;
    flex: auto 0 0;
    color: #ffffff;
    background-color: #049b4a;
    min-width: 7rem;

    @media (max-width: $screen-xs-max) {
    }
  }

  .btn-primary:hover {
    background-color: #048c43;
  }

  // Replacement for .molecule-search
  .divider {
    position: relative;

    @media (max-width: $screen-sm-max) {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: calc(100% + 30px);
      margin: 0 -15px;
      padding: 0 15px;
      border-bottom: solid 1px $gray;
    }

    @media (min-width: $screen-md) {
      border-left: solid 1px #aaaaaa;
      margin-left: 24px;
      margin-right: 24px;
      align-self: stretch;
      display: flex;
      align-items: center;
      max-height: 50px;
    }
  }
}

.global-nav--nav {
  .sidebar-mobile-wrapper {
    max-height: calc(100vh - 230px);
    overflow: auto;
    border-bottom: 1px solid $gray;
  }
  .mobile-sidebar {
    padding-top: 30px;
    padding-bottom: 15px;
  }
}

@media (max-width: $screen-sm-max) {
  .global-nav--list,
  .global-nav--footer {
    margin-top: 15px;
  }

  .global-nav--footer {
    width: 100%;
    box-sizing: content-box;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 30px;
    padding-bottom: 20px;
  }
}

// Allow expanded version to use full screen height with sticky footer on mobile
.global-nav--nav {
  @media (max-width: $screen-sm-max) {
    max-height: none;
  }
}

// Reset some rules buried deep in the 170K+ character-long minified site.css
body {
  padding-top: initial;
}

// Skip button
// https://www.bignerdranch.com/blog/web-accessibility-skip-navigation-links/
a.nav-skip-button {
  position: absolute;
  top: -1000px;
  left: -1000px;
  height: 1px;
  width: 1px;
  text-align: left;
  overflow: hidden;

  &:active,
  &:focus,
  &:hover {
    left: 15px;
    top: 0;
    width: auto;
    height: auto;
    overflow: visible;
  }
}

// -- Docs Disco Experiments


.dd-global-nav--component {
  article{
    h2,
    h3,
    h4,
    h5,
    h6{
      scroll-margin-top: 7.5rem;
    }
  }

  .dd-global-nav--links {

    display: flex;

    @media (max-width: $screen-md) {
      display: none;
    }
    .link {
      background-color: inherit;
      border-bottom-color: transparent;
      border-bottom: solid 5px;
      border: none;
      color: $black;
      cursor: pointer;
      display: inline;
      font-family: 'Roboto','Helvetica Neue',Helvetica,Arial,sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 19px;
      margin-right: 40px;
      padding-bottom: 10px;
      padding-top: 4px;

      // match dynamic widths from devhub
      @media(min-width: 992px)  { margin-right: 48px; }
      @media(min-width: 1200px) { margin-right: 60px; }
    }

    .home {
      border-bottom: 4px solid $black;
    }
  }

  .global-nav--row {
    &-mobile {
      @media (max-width: $screen-sm-max) {
      }
    }

    &-desktop {
      @media (min-width: $screen-md) {
        padding: 10px 0 16px 0;
      }
    }
  }

  .global-nav--lockup-title {
    font-size: 25.2px;
    margin-top: 2px;
    margin-left: 8px;
  }



}
