.base-input-style {
  border-radius: 0;
  padding: 1.25em 1em 1em 2.8em;
  width: 100%;
  border: none;
}

.main-searchbar {
  border-top: 1px solid $gray-200;
  border-bottom: 1px solid $gray-200;
  position: fixed;
  width: 100%;
  background: white;
  z-index: 2;
  top: 70px;

  #search-box {
    position: relative;
    display: block;
    max-width: 400px;
    margin-left: 18px;
    margin-right: 18px;

    @media screen and (min-width: $screen-md) {
      margin: 0;
    }

    .ais-SearchBox-submit,
    .ais-SearchBox-reset {
      position: absolute;
      top: calc(50% - 20px/2);

      svg {
        width: 20px;
        height: auto;
      }
    }

    .ais-SearchBox-submit {
      left: 0;
    }

    .ais-SearchBox-reset {
      right: 0;
    }

    .instantsearch-search {
      @extend .base-input-style;
      margin: 0;
      padding: 1.5em 2em;
    }
  }
}

#hits-template {
  min-height: 500px;

  @media screen and (min-width: $screen-sm) {
    margin-top: $spacing-medium-vertical;
  }

  h2 {
    padding-left: $spacing-small-vertical;
  }
}

.result-item-wrap {
  padding: $spacing-small-vertical;
  border-bottom: 1px solid $gray-200;

  a strong {
    font-family: "roboto";
    font-size: $font-size-small;
  }

  .content {
    margin-top: 4px;
    font-size: $font-size-small;
  }

  .context {
    margin-top: 4px;
    color: $gray-dark;
    font-size: $font-size-micro;
  }

  em {
    font-style: normal;
    font-weight: bold;
  }

  &:hover {
    background: $gray-100;
    cursor: pointer;
  }
}

.ais-Hits--empty {
  margin-left: $spacing-small-vertical;
}

.hits-target {
  padding-top: $spacing-small-vertical;
  background: #fff;
}
