.sidebar-wrapper {
  width: 260px;
  position: relative;
}

.sidebar {
  background: #F7F7F7;
  font-family: "roboto";
  height: 92vh;
  padding: 10px 30px;
  overflow-y: scroll;
  position: absolute;
  bottom: 0;

  .active {
    a {
      color: $blue-100;
    }
  }

  &.fixed {
    position: fixed;
  }

  .main-nav-item {
    font-weight: 600;
    width: 200px;
    font-size: $font-size-small;

    .list-wrap {
      margin: 20px 0;
      position: relative;
    }

    .icon {
      position: absolute;
      top: -1px;
    }
    .arrow {
      position: absolute;
      right: 0;
      top: 4px;
      transform: rotate(90deg);
    }
  }
  .nav-item {
    text-transform: uppercase;
    font-size: $font-size-micro;
    margin: 10px 0;
    letter-spacing: .5px;
  }
  .subnav-item {
    font-weight: 100;
    margin: 5px 0;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      a {
        color: $body-text-color;
        margin-left: 30px;
      }
    }
  }
}