{
  "openapi": "3.0.3",
  "info": {
    "title": "CircleCI API v1 - Keys Endpoints",
    "version": "1.0.0",
    "description": "Key management endpoints for CircleCI API v1."
  },
  "servers": [
    {
      "url": "https://circleci.com/api/v1.1"
    }
  ],
  "tags": [
    {
      "name": "Keys",
      "description": "SSH and API key management"
    }
  ],
  "paths": {
    "/project/{vcs-type}/{username}/{project}/checkout-key": {
      "get": {
        "tags": [
          "Keys"
        ],
        "summary": "List checkout keys",
        "description": "Returns an array of checkout keys for the project.",
        "operationId": "listCheckoutKeys",
        "security": [
          {
            "circleToken": []
          }
        ],
        "parameters": [
          {
            "name": "vcs-type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "VCS type (e.g., github, bitbucket)"
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "VCS username or org"
          },
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Project name"
          },
          {
            "name": "digest",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "md5",
                "sha256"
              ]
            },
            "description": "Fingerprint digest. Optional; 'md5' by default. Pass 'sha256' to return SHA-256 key fingerprint."
          }
        ],
        "responses": {
          "200": {
            "description": "A list of checkout keys",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CheckoutKey"
                  }
                },
                "x-curl-example": "curl -H \"Circle-Token: <circle-token>\" https://circleci.com/api/v1.1/project/{vcs-type}/{username}/{project}/checkout-key"
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Keys"
        ],
        "summary": "Create a new checkout key",
        "description": "Creates a new checkout key for the project.",
        "operationId": "createCheckoutKey",
        "security": [
          {
            "circleToken": []
          }
        ],
        "parameters": [
          {
            "name": "vcs-type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "VCS type (e.g., github, bitbucket)"
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "VCS username or org"
          },
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Project name"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckoutKeyRequest"
              },
              "x-curl-example": "curl -X POST --header \"Content-Type: application/json\" -d '{\"type\":\"github-user-key\"}' https://circleci.com/api/v1.1/project/{vcs-type}/{username}/{project}/checkout-key -H \"Circle-Token: <circle-token>\""
            }
          }
        },
        "responses": {
          "200": {
            "description": "Checkout key created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckoutKey"
                }
              }
            }
          }
        }
      }
    },
    "/project/{vcs-type}/{username}/{project}/checkout-key/{fingerprint}": {
      "get": {
        "tags": [
          "Keys"
        ],
        "summary": "Get a checkout key",
        "description": "Returns an individual checkout key.",
        "operationId": "getCheckoutKey",
        "security": [
          {
            "circleToken": []
          }
        ],
        "parameters": [
          {
            "name": "vcs-type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "VCS type (e.g., github, bitbucket)"
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "VCS username or org"
          },
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Project name"
          },
          {
            "name": "fingerprint",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Key fingerprint (md5 or sha256, sha256 should be URL-encoded)"
          }
        ],
        "responses": {
          "200": {
            "description": "Checkout key details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckoutKey"
                },
                "x-curl-example": "curl -H \"Circle-Token: <circle-token>\" https://circleci.com/api/v1.1/project/{vcs-type}/{username}/{project}/checkout-key/{fingerprint}"
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Keys"
        ],
        "summary": "Delete a checkout key",
        "description": "Deletes a checkout key by fingerprint.",
        "operationId": "deleteCheckoutKey",
        "security": [
          {
            "circleToken": []
          }
        ],
        "parameters": [
          {
            "name": "vcs-type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "VCS type (e.g., github, bitbucket)"
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "VCS username or org"
          },
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Project name"
          },
          {
            "name": "fingerprint",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Key fingerprint (md5 or sha256, sha256 should be URL-encoded)"
          }
        ],
        "responses": {
          "200": {
            "description": "Checkout key deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                },
                "x-curl-example": "curl -X DELETE -H \"Circle-Token: <circle-token>\" https://circleci.com/api/v1.1/project/{vcs-type}/{username}/{project}/checkout-key/{fingerprint}"
              }
            }
          }
        }
      }
    },
    "/project/{vcs-type}/{username}/{project}/ssh-key": {
      "post": {
        "tags": [
          "Keys"
        ],
        "summary": "Create SSH key",
        "description": "Creates an SSH key for the project.",
        "operationId": "createSshKey",
        "security": [
          {
            "circleToken": []
          }
        ],
        "parameters": [
          {
            "name": "vcs-type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "VCS type (e.g., github, bitbucket)"
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "VCS username or org"
          },
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Project name"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SshKeyRequest"
              },
              "x-curl-example": "curl -X POST --header \"Content-Type: application/json\" -d '{\"hostname\":\"hostname\",\"private_key\":\"RSA private key\"}' https://circleci.com/api/v1.1/project/{vcs-type}/{username}/{project}/ssh-key -H \"Circle-Token: <circle-token>\""
            }
          }
        },
        "responses": {
          "200": {
            "description": "SSH key created (no response body)"
          }
        }
      },
      "delete": {
        "tags": [
          "Keys"
        ],
        "summary": "Delete SSH key",
        "description": "Deletes an SSH key from the system by fingerprint.",
        "operationId": "deleteSshKey",
        "security": [
          {
            "circleToken": []
          }
        ],
        "parameters": [
          {
            "name": "vcs-type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "VCS type (e.g., github, bitbucket)"
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "VCS username or org"
          },
          {
            "name": "project",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Project name"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SshKeyDeleteRequest"
              },
              "x-curl-example": "curl -X DELETE --header \"Content-Type: application/json\" -d '{\"fingerprint\":\"Fingerprint\", \"hostname\":\"Hostname\"}' https://circleci.com/api/v1.1/project/{vcs-type}/{username}/{project}/ssh-key -H \"Circle-Token: <circle-token>\""
            }
          }
        },
        "responses": {
          "200": {
            "description": "SSH key deleted (no response body)"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "circleToken": {
        "type": "apiKey",
        "in": "header",
        "name": "Circle-Token"
      }
    },
    "schemas": {
      "CheckoutKey": {
        "type": "object",
        "properties": {
          "public_key": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "deploy-key",
              "github-user-key",
              "user-key"
            ]
          },
          "fingerprint": {
            "type": "string"
          },
          "preferred": {
            "type": "boolean"
          },
          "time": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CheckoutKeyRequest": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "deploy-key",
              "github-user-key"
            ]
          }
        },
        "required": [
          "type"
        ]
      },
      "SshKeyRequest": {
        "type": "object",
        "properties": {
          "hostname": {
            "type": "string"
          },
          "private_key": {
            "type": "string"
          }
        },
        "required": [
          "hostname",
          "private_key"
        ]
      },
      "SshKeyDeleteRequest": {
        "type": "object",
        "properties": {
          "fingerprint": {
            "type": "string"
          },
          "hostname": {
            "type": "string"
          }
        },
        "required": [
          "fingerprint",
          "hostname"
        ]
      },
      "MessageResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          }
        }
      }
    }
  }
}