.love-section {
  .row + .row {
    margin-top: 30px;
  }
}

.love-slider {
  .slick-slide {
    padding-left:  $grid-gutter-width / 2;
    padding-right: $grid-gutter-width / 2;

    text-align: center;
    > * {
      margin-left: auto;
      margin-right: auto;
    }
  }
}
