.pricing-calculator-preview {
  @extend .shadow-box;
  background-color: $white;
  margin-bottom: 10px; // prevents box shadow from being clipped

  .btn-cta {
    min-width: 0;
  }
}

.calculator-preview-heading {
  text-align: center;
  box-shadow: 0px 1px 0px 0px #ddd;
  padding: 20px;
  background-image: asset('pricing/pricing-card-bg.svg');
  background-size: 85%;
  border-radius: $border-radius-large $border-radius-large 0 0; // to clip the background image at the top corners

  h4 {
    font-size: $font-size-base;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
  }

  .monthly-total-cost {
    font-size: 35px;
    margin: 0;
    padding-top: 0.5em;
  }
}

.calculator-preview-item {
  margin: 20px 15px;
  text-align: center;

  .value {
    font-weight: 600;
    white-space: nowrap;
  }

  i {
    display: inline;
    position: relative;
    top: 5px;

    svg {
      width: $font-size-large;
      height: $font-size-large;
      stroke: $black;
      fill: none;
      stroke-width: 8px;
    }
  }
}
